migration/n8n/workflows-separate/42b0SdMFtr7rQA2I.json
{"updatedAt":"2026-01-09T21:05:43.638Z","createdAt":"2025-12-23T14:13:45.373Z","id":"42b0SdMFtr7rQA2I","name":"DCIM-Asset-Reconciliation","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":6}]}},"id":"9094299a-5ed3-48f0-addb-31e6d5d01a12","name":"Every 6 Hours","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-256,112]},{"parameters":{"httpMethod":"POST","path":"asset-reconciliation","responseMode":"lastNode","options":{}},"id":"b7c2a6f7-c347-4894-ae0d-59befeeac87d","name":"Manual Trigger Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[-256,304],"webhookId":"asset-reconciliation"},{"parameters":{"method":"POST","url":"={{ $env.DCTRACK_BASE_URL }}/api/v2/quicksearch/items","authentication":"predefinedCredentialType","nodeCredentialType":"httpHeaderAuth","options":{"timeout":120000}},"id":"9565fe92-31d3-4617-9060-565b406d98bd","name":"Get dcTrack Assets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0]},{"parameters":{"url":"={{ $env.POWERIQ_BASE_URL }}/api/v2/devices","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"page_size","value":"1000"}]},"options":{"timeout":120000}},"id":"3e3e9379-921e-4643-9f93-61f52172bd36","name":"Get Power IQ Devices","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,160]},{"parameters":{"url":"={{ $env.SERVICENOW_INSTANCE }}/api/now/table/cmdb_ci_server","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"sysparm_query","value":"install_status=1^ORinstall_status=2"},{"name":"sysparm_fields","value":"sys_id,name,serial_number,asset_tag,location,u_cabinet,install_status"},{"name":"sysparm_limit","value":"1000"}]},"options":{"timeout":60000}},"id":"5840c7ea-fe4c-4e51-b689-231df677d8e7","name":"Get CMDB Assets","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,304]},{"parameters":{"jsCode":"// Collect data from all sources\nconst dctrackData = $('Get dcTrack Assets').first().json;\nconst poweriqData = $('Get Power IQ Devices').first().json;\nconst cmdbData = $('Get CMDB Assets').first().json;\n\n// Parse assets from each source\nconst dctrackAssets = (dctrackData.searchResults?.items || dctrackData.data || []).map(item => ({\n  id: item.id || item.tiId,\n  name: item.tiName || item.name,\n  serialNumber: item.tiSerialNumber || item.serialNumber,\n  assetTag: item.tiAssetTag || item.assetTag,\n  location: item.cmbLocation || item.location,\n  cabinet: item.cmbCabinet || item.cabinet,\n  status: item.cmbStatus || item.status,\n  source: 'dctrack'\n}));\n\nconst poweriqDevices = (poweriqData.devices || poweriqData.data || []).map(device => ({\n  id: device.id,\n  name: device.name,\n  deviceId: device.device_id,\n  cabinetId: device.cabinet_id,\n  currentPowerWatts: device.current_power_watts || device.power || 0,\n  lastReading: device.last_reading_time,\n  source: 'poweriq'\n}));\n\nconst cmdbAssets = (cmdbData.result || []).map(ci => ({\n  sysId: ci.sys_id,\n  name: ci.name,\n  serialNumber: ci.serial_number,\n  assetTag: ci.asset_tag,\n  location: ci.location?.display_value || ci.location,\n  cabinet: ci.u_cabinet,\n  installStatus: ci.install_status,\n  source: 'cmdb'\n}));\n\n// Create lookup maps\nconst dctrackBySerial = new Map();\ndctrackAssets.forEach(a => {\n  if (a.serialNumber) dctrackBySerial.set(a.serialNumber.toLowerCase(), a);\n});\n\nconst cmdbBySerial = new Map();\ncmdbAssets.forEach(a => {\n  if (a.serialNumber) cmdbBySerial.set(a.serialNumber.toLowerCase(), a);\n});\n\n// Analysis results\nconst ghostAssets = [];\nconst missingFromDctrack = [];\nconst missingFromCmdb = [];\nconst locationMismatches = [];\nconst powerAnomalies = [];\n\n// Ghost Detection: Assets in dcTrack with no/minimal power consumption\nconst GHOST_POWER_THRESHOLD = 5; // Watts\ndctrackAssets.forEach(asset => {\n  const powerData = poweriqDevices.find(p => \n    p.cabinetId === asset.cabinet || \n    p.name?.toLowerCase().includes(asset.name?.toLowerCase())\n  );\n  \n  if (!powerData || powerData.currentPowerWatts < GHOST_POWER_THRESHOLD) {\n    ghostAssets.push({\n      ...asset,\n      lastPowerReading: powerData?.currentPowerWatts || 0,\n      reason: powerData ? 'Minimal power consumption' : 'No power data found',\n      severity: 'medium'\n    });\n  }\n});\n\n// Missing from dcTrack: In CMDB but not in dcTrack\ncmdbAssets.forEach(cmdbAsset => {\n  if (cmdbAsset.serialNumber && !dctrackBySerial.has(cmdbAsset.serialNumber.toLowerCase())) {\n    missingFromDctrack.push({\n      ...cmdbAsset,\n      reason: 'Asset in CMDB but not found in dcTrack',\n      severity: 'high'\n    });\n  }\n});\n\n// Missing from CMDB: In dcTrack but not in CMDB\ndctrackAssets.forEach(dcAsset => {\n  if (dcAsset.serialNumber && !cmdbBySerial.has(dcAsset.serialNumber.toLowerCase())) {\n    missingFromCmdb.push({\n      ...dcAsset,\n      reason: 'Asset in dcTrack but not found in CMDB',\n      severity: 'medium'\n    });\n  }\n});\n\n// Location Mismatches: Same serial, different location\ndctrackAssets.forEach(dcAsset => {\n  if (dcAsset.serialNumber) {\n    const cmdbAsset = cmdbBySerial.get(dcAsset.serialNumber.toLowerCase());\n    if (cmdbAsset && cmdbAsset.location && dcAsset.location) {\n      if (cmdbAsset.location.toLowerCase() !== dcAsset.location.toLowerCase()) {\n        locationMismatches.push({\n          serialNumber: dcAsset.serialNumber,\n          name: dcAsset.name,\n          dctrackLocation: dcAsset.location,\n          cmdbLocation: cmdbAsset.location,\n          severity: 'medium'\n        });\n      }\n    }\n  }\n});\n\n// Power Anomalies: Unusually high power consumption\nconst HIGH_POWER_THRESHOLD = 2000; // Watts\npoweriqDevices.forEach(device => {\n  if (device.currentPowerWatts > HIGH_POWER_THRESHOLD) {\n    powerAnomalies.push({\n      ...device,\n      reason: 'Unusually high power consumption',\n      severity: 'warning'\n    });\n  }\n});\n\n// Summary\nconst summary = {\n  totalDctrackAssets: dctrackAssets.length,\n  totalPoweriqDevices: poweriqDevices.length,\n  totalCmdbAssets: cmdbAssets.length,\n  ghostAssetsCount: ghostAssets.length,\n  missingFromDctrackCount: missingFromDctrack.length,\n  missingFromCmdbCount: missingFromCmdb.length,\n  locationMismatchCount: locationMismatches.length,\n  powerAnomalyCount: powerAnomalies.length,\n  overallHealthScore: Math.max(0, 100 - (ghostAssets.length * 2) - (missingFromDctrack.length * 3) - (locationMismatches.length * 1)),\n  runTimestamp: new Date().toISOString()\n};\n\nreturn {\n  json: {\n    summary,\n    findings: {\n      ghostAssets: ghostAssets.slice(0, 50), // Limit to 50 for processing\n      missingFromDctrack: missingFromDctrack.slice(0, 50),\n      missingFromCmdb: missingFromCmdb.slice(0, 50),\n      locationMismatches: locationMismatches.slice(0, 50),\n      powerAnomalies: powerAnomalies.slice(0, 20)\n    },\n    hasIssues: ghostAssets.length > 0 || missingFromDctrack.length > 0 || locationMismatches.length > 0\n  }\n};"},"id":"e5602003-c8e1-4513-9285-33edcab8d1f2","name":"Reconcile Assets","type":"n8n-nodes-base.code","typeVersion":2,"position":[304,160]},{"parameters":{"method":"POST","url":"={{ $env.LANGSERVE_URL }}/asset-agent/invoke","options":{"timeout":120000}},"id":"d7d2e339-db0e-4ad7-99a8-71cabe64999c","name":"Get AI Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[560,160]},{"parameters":{},"id":"5f64bb65-6c02-4d44-90d0-d5f7f5a77361","name":"Store Report","type":"n8n-nodes-base.mongodb","typeVersion":1.1,"position":[800,160],"credentials":{}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"leftValue":"={{ $('Reconcile Assets').first().json.hasIssues }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"5a902940-7617-4a23-807c-21624eed9208","name":"Has Issues?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1056,160]},{"parameters":{"method":"POST","url":"={{ $env.SERVICENOW_INSTANCE }}/api/now/table/sc_task","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","options":{}},"id":"03eb5480-7c1d-4d06-a68c-7dc337eb7575","name":"Create Review Task","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1312,80]},{"parameters":{"text":"=:mag: *Asset Reconciliation Report*\n\n*Health Score:* {{ $('Reconcile Assets').first().json.summary.overallHealthScore }}%\n\n*Findings:*\n• Ghost Assets: {{ $('Reconcile Assets').first().json.summary.ghostAssetsCount }}\n• Missing from dcTrack: {{ $('Reconcile Assets').first().json.summary.missingFromDctrackCount }}\n• Missing from CMDB: {{ $('Reconcile Assets').first().json.summary.missingFromCmdbCount }}\n• Location Mismatches: {{ $('Reconcile Assets').first().json.summary.locationMismatchCount }}\n\n{{ $('Reconcile Assets').first().json.summary.ghostAssetsCount > 10 ? ':warning: *High number of ghost assets detected - review recommended*' : '' }}\n\n_A ServiceNow task has been created for review._","otherOptions":{}},"id":"73e8b82a-e161-45aa-8adf-489030be4945","name":"Slack Notification","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[1312,-64],"webhookId":"ac401284-f194-407c-b9d0-62ef4b72c326"},{"parameters":{"jsCode":"const reconcileData = $('Reconcile Assets').first().json;\nconst aiAnalysis = $('Get AI Analysis').first().json;\n\nreturn {\n  json: {\n    success: true,\n    reportId: `recon-${Date.now()}`,\n    summary: reconcileData.summary,\n    hasIssues: reconcileData.hasIssues,\n    recommendations: aiAnalysis.output?.recommendations || [],\n    completedAt: new Date().toISOString()\n  }\n};"},"id":"6b2264db-f53a-4899-a381-005a37bf3f3c","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[1552,176]}],"connections":{"Every 6 Hours":{"main":[[{"node":"Get dcTrack Assets","type":"main","index":0},{"node":"Get Power IQ Devices","type":"main","index":0},{"node":"Get CMDB Assets","type":"main","index":0}]]},"Manual Trigger Webhook":{"main":[[{"node":"Get dcTrack Assets","type":"main","index":0},{"node":"Get Power IQ Devices","type":"main","index":0},{"node":"Get CMDB Assets","type":"main","index":0}]]},"Get dcTrack Assets":{"main":[[{"node":"Reconcile Assets","type":"main","index":0}]]},"Get Power IQ Devices":{"main":[[{"node":"Reconcile Assets","type":"main","index":0}]]},"Get CMDB Assets":{"main":[[{"node":"Reconcile Assets","type":"main","index":0}]]},"Reconcile Assets":{"main":[[{"node":"Get AI Analysis","type":"main","index":0}]]},"Has Issues?":{"main":[[{"node":"Create Review Task","type":"main","index":0},{"node":"Slack Notification","type":"main","index":0}],[{"node":"Format Response","type":"main","index":0}]]},"Create Review Task":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Slack Notification":{"main":[[{"node":"Format Response","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"dd93c6a8-bbee-4237-883b-7d4eabb2789d","activeVersionId":null,"versionCounter":4,"triggerCount":0,"sourceWorkflowId":null,"tags":[{"updatedAt":"2025-12-23T14:13:05.324Z","createdAt":"2025-12-23T14:13:05.324Z","id":"miNRJVF2jLXYpY3x","name":"Scheduled"},{"updatedAt":"2025-12-23T14:13:05.316Z","createdAt":"2025-12-23T14:13:05.316Z","id":"arZk8WaEqo90GMpG","name":"Reconciliation"},{"updatedAt":"2025-12-23T14:13:05.307Z","createdAt":"2025-12-23T14:13:05.307Z","id":"Q3vt62dhi3iq1j5p","name":"Asset Management"},{"updatedAt":"2025-12-23T14:13:05.185Z","createdAt":"2025-12-23T14:13:05.185Z","id":"xLYbHIspOpBEJkNP","name":"DCIM"}],"shared":[{"updatedAt":"2025-12-23T14:13:45.373Z","createdAt":"2025-12-23T14:13:45.373Z","role":"workflow:owner","workflowId":"42b0SdMFtr7rQA2I","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}