migration/n8n/workflows-separate/e7fXwJI9ZZkXeTdB.json
{"updatedAt":"2026-01-09T21:06:09.797Z","createdAt":"2025-12-22T22:43:19.168Z","id":"e7fXwJI9ZZkXeTdB","name":"RAG Knowledge Search","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"rag-search","responseMode":"responseNode","options":{}},"id":"4d1b74b0-ebed-4f29-8f99-38876b6a386c","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,0],"webhookId":"rag-search-webhook"},{"parameters":{"operation":"executeQuery","query":"SELECT * FROM search_documents_simple('{{ $json.query }}', {{ $json.max_results || 5 }})","options":{}},"id":"b414c703-be2d-423a-9337-d43eb215b9fe","name":"Search PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[256,0],"credentials":{"postgres":{"id":"GfEjjiT6qMerqowe","name":"Postgres account"}}},{"parameters":{"jsCode":"const results = items.map(item => ({\n  id: item.json.id,\n  title: item.json.title,\n  content: item.json.content,\n  source: item.json.source,\n  relevance: Math.round(parseFloat(item.json.relevance || 0) * 100) + '%'\n}));\n\nreturn [{\n  json: {\n    success: true,\n    query: $('Webhook').item.json.query,\n    results: results,\n    count: results.length\n  }\n}];"},"id":"3868cf1f-83bb-4bca-b92a-2147d054ef12","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,0]},{"parameters":{"respondWith":"json","options":{}},"id":"287cdadd-a72e-43fe-ad46-1afcf61d8997","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[752,0]}],"connections":{"Webhook":{"main":[[{"node":"Search PostgreSQL","type":"main","index":0}]]},"Search PostgreSQL":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"95eb4d88-74a2-483e-a8f9-677715ccd551","activeVersionId":null,"versionCounter":8,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2025-12-22T22:43:19.168Z","createdAt":"2025-12-22T22:43:19.168Z","role":"workflow:owner","workflowId":"e7fXwJI9ZZkXeTdB","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}