migration/n8n/workflows-separate/FI-EkrRXrkE4NOmAtcnlu.json
{"updatedAt":"2026-04-07T19:49:04.196Z","createdAt":"2026-02-20T18:52:44.932Z","id":"FI-EkrRXrkE4NOmAtcnlu","name":"IIS Tech – Rack Discovery to dcTrack (Integrated)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"content":"## 🏢 IIS Tech – Rack Discovery → dcTrack Integrated Workflow\n\n**Developed by:** [IIS Technologies](https://www.iistech.com/)\n\n### Workflow Steps\n1. UI uploads rack photo → Vision AI extracts inventory\n2. User reviews/edits table in Chat UI\n3. User provides room location + cabinet name\n4. Inventory mapped to dcTrack schema\n5. Cabinet + items pushed via Sunbird MCP server\n\n### Endpoints\n- `POST /rack-to-dctrack` — main action webhook\n  - `action: analyze_image` → extract inventory from photo\n  - `action: list_locations` → fetch dcTrack rooms/locations\n  - `action: push_to_dctrack` → create cabinet + items","height":320,"width":480},"id":"9e688a12-6372-4b8a-962c-00dcbd20a2e6","name":"📋 Setup & Notes","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-1088,-368]},{"parameters":{"content":"## 🗺️ Object Mapping (rack_inventory.xlsx → dcTrack)\n\n| Rack Field | dcTrack Field | Notes |\n|---|---|---|\n| equipment_type | class | Patch Panel→Passive, Server→Device, Switch→Network |\n| brand | make | Exact brand string |\n| model | model | Model string |\n| form_factor | uHeight | 1U→1, 2U→2, 42U→42 |\n| position | uPosition | Slot number in cabinet |\n| specifications | notes | Free text |\n| ports_interfaces | — | Informational only |","height":324,"width":440},"id":"812ca92f-6514-423b-b554-c0f6b84c2fcd","name":"🗺️ Mapping Reference","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[-528,-368]},{"parameters":{"httpMethod":"POST","path":"rack-to-dctrack","responseMode":"responseNode","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"id":"6f3e365d-ce4e-42e7-922a-193496ca49e0","name":"🔗 Main Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-1088,112],"webhookId":"rack-to-dctrack-iistech"},{"parameters":{"jsCode":"// ─── Request Router & Validator ───────────────────────────────────────────\nconst raw = $input.first().json.body ?? $input.first().json;\n\nconst action        = String(raw.action || 'analyze_image').toLowerCase();\nconst image_url     = String(raw.image_url    || '').trim();\nconst image_base64  = String(raw.image_base64 || '').trim();\nconst image_type    = String(raw.image_type   || 'image/jpeg').trim();\nconst request_id    = 'req_' + Date.now();\nconst timestamp     = new Date().toISOString();\n\n// Inventory push fields\nconst inventory     = raw.inventory     || [];    // Array of equipment rows (edited by user)\nconst cabinet_name  = String(raw.cabinet_name  || '').trim();\nconst location_name = String(raw.location_name || '').trim();\nconst u_height      = parseInt(raw.u_height || 42, 10);\nconst session_id    = String(raw.session_id || 'sess_' + Date.now());\n\nconst is_upload = image_base64.length > 100;\nconst has_image = is_upload || image_url.startsWith('http');\n\n// Validate action-specific requirements\nif (action === 'analyze_image' && !has_image) {\n  return {\n    action, error: 'Missing image: provide image_url or image_base64',\n    request_id, timestamp\n  };\n}\nif (action === 'push_to_dctrack') {\n  if (!cabinet_name)  return { action, error: 'Missing cabinet_name', request_id, timestamp };\n  if (!location_name) return { action, error: 'Missing location_name', request_id, timestamp };\n  if (!Array.isArray(inventory) || inventory.length === 0)\n    return { action, error: 'Missing or empty inventory array', request_id, timestamp };\n}\n\nreturn {\n  action, image_url, image_base64, image_type,\n  inventory, cabinet_name, location_name, u_height,\n  request_id, session_id, timestamp, is_upload, has_image\n};"},"id":"1c47d5c4-3ef1-47d4-a49a-2e2f383dd085","name":"✅ Validate & Route Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[-720,112],"continueOnFail":true},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"route-analyze","leftValue":"={{ $json.action }}","rightValue":"analyze_image","operator":{"type":"string","operation":"equals"}},{"id":"route-locations","leftValue":"={{ $json.action }}","rightValue":"list_locations","operator":{"type":"string","operation":"equals"}}],"combinator":"or"},"options":{}},"id":"6ef47862-52db-4d5b-a0fb-d184697853b8","name":"🔀 Route by Action","type":"n8n-nodes-base.if","typeVersion":2,"position":[-480,112]},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"route-analyze-only","leftValue":"={{ $json.action }}","rightValue":"analyze_image","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"a74e4ea9-c630-4e22-b4d3-c9ef38ba37cf","name":"🔀 Analyze vs List Locations","type":"n8n-nodes-base.if","typeVersion":2,"position":[-144,-16]},{"parameters":{"jsCode":"// ─── Build Anthropic Vision API Body ─────────────────────────────────────\nconst d = $input.first().json;\n\nconst VISION_PROMPT = `You are a data center rack equipment scanner. Analyze this rack cabinet photo carefully and extract ALL visible equipment.\n\nReturn ONLY a valid JSON array (no markdown fences, no explanation text, no preamble). Each element must have EXACTLY these fields:\n{\n  \"position\": \"U-slot e.g. U1, U3-U4, or Top\",\n  \"equipment_type\": \"one of: Server, Network Switch, Patch Panel, KVM Switch, UPS, PDU, Storage, Rack Enclosure, Blank Panel, Cable Manager, Other\",\n  \"brand\": \"manufacturer name e.g. Dell, HP, Cisco, APC\",\n  \"model\": \"model name or best estimate with (est.)\",\n  \"form_factor\": \"rack units e.g. 1U, 2U, 4U, 42U\",\n  \"specifications\": \"key specs\",\n  \"ports_interfaces\": \"visible ports\",\n  \"max_ram\": \"\",\n  \"storage_options\": \"\",\n  \"confidence\": \"high, medium, or low\",\n  \"notes\": \"any observations\"\n}\n\nStart your response with [ and end with ]. No other text.`;\n\n// Validate we have image data\nconst b64 = d.image_base64 || '';\nconst mediaType = d.media_type || d.image_type || 'image/jpeg';\n\nif (!b64 || b64.length < 100) {\n  throw new Error('No valid image base64 data received. Length: ' + b64.length);\n}\n\nreturn {\n  body: JSON.stringify({\n    model: 'claude-opus-4-6',\n    max_tokens: 4096,\n    messages: [{\n      role: 'user',\n      content: [\n        {\n          type: 'image',\n          source: {\n            type: 'base64',\n            media_type: mediaType,\n            data: b64\n          }\n        },\n        { type: 'text', text: VISION_PROMPT }\n      ]\n    }]\n  }),\n  b64_length:    b64.length,\n  image_url:     d.image_url     || '',\n  output_format: d.output_format || 'json',\n  request_id:    d.request_id    || ('req_' + Date.now()),\n  timestamp:     d.timestamp     || new Date().toISOString()\n};\n"},"id":"0be317c7-1c18-4cff-833a-54c2623c7f2c","name":"🔨 Build Vision Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[272,-96]},{"parameters":{"method":"POST","url":"http://portkey-gateway.iis-ai-ai.svc.cluster.local:8787/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}","options":{"allowUnauthorizedCerts":true,"timeout":120000}},"id":"ba7159f1-7445-4247-bc7f-29193d539930","name":"🤖 LLM Vision (Claude via Portkey)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[480,-96],"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"// ─── Parse Vision Response & dcTrack Pre-mapping ─────────────────────────\nconst resp = $input.first().json;\nlet prev = {};\ntry { prev = $('🔨 Build Vision Prompt').first().json; } catch(e) {}\n\nlet text = '';\nif (resp?.content?.[0]) text = resp.content[0].text || '';\nelse if (resp?.choices?.[0]) text = (resp.choices[0].message||{}).content || '';\nelse if (typeof resp === 'string') text = resp;\n\nconst cleaned = text.replace(/```json\\s*/gi,'').replace(/```\\s*/g,'').trim();\n\nlet equipment = [];\nif (cleaned.length > 0) {\n  try {\n    const p = JSON.parse(cleaned);\n    equipment = Array.isArray(p) ? p : (p ? [p] : []);\n  } catch(e1) {\n    const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n    if (m) { try { equipment = JSON.parse(m[0]); } catch(e2) {} }\n    if (equipment.length === 0) {\n      const objs = cleaned.match(/\\{[^{}]+\\}/g);\n      if (objs) objs.forEach(o => { try { equipment.push(JSON.parse(o)); } catch(e3) {} });\n    }\n  }\n}\n\nif (!Array.isArray(equipment) || equipment.length === 0) {\n  equipment = [{ position:'U1', equipment_type:'Other', brand:'Unknown',\n    model:'Vision parse failed', form_factor:'1U', confidence:'low' }];\n}\n\nconst dcTrackClassMap = {\n  'Server':'Device','Network Switch':'Network','Patch Panel':'Passive',\n  'KVM Switch':'Network','UPS':'Device','PDU':'Rack PDU','Storage':'Device',\n  'Rack Enclosure':'Cabinet','Blank Panel':'Passive','Cable Manager':'Passive','Other':'Device'\n};\n\n// Parse position string like \"U3\", \"U3-U4\", \"U 5\" → integer\nconst parseUPos = (posStr, fallback) => {\n  if (!posStr) return fallback;\n  const m = String(posStr).match(/U\\s*(\\d+)/i);\n  return m ? parseInt(m[1], 10) : fallback;\n};\nconst parseUHeight = (ff) => {\n  if (!ff) return 1;\n  const m = String(ff).match(/(\\d+)\\s*U/i);\n  return m ? parseInt(m[1],10) : 1;\n};\n\nconst enriched = equipment.map((item, idx) => {\n  const s = item || {};\n  return {\n    ...s,\n    dctrack_class:      dcTrackClassMap[s.equipment_type] || 'Device',\n    dctrack_make:       s.brand  || '',\n    dctrack_model:      s.model  || '',\n    dctrack_u_height:   parseUHeight(s.form_factor),\n    dctrack_u_position: parseUPos(s.position, idx + 1),  // ← parse \"U3\" properly\n    dctrack_notes:      s.specifications || '',\n    row_index:          idx\n  };\n});\n\nreturn {\n  equipment:             enriched,\n  raw_vision_snippet:    text.slice(0, 300),\n  image_url:             prev.image_url  || '',\n  request_id:            prev.request_id || ('req_' + Date.now()),\n  timestamp:             prev.timestamp  || new Date().toISOString(),\n  total_equipment_found: enriched.length\n};\n"},"id":"b13b45ff-544e-4461-8f27-5c9cca8ae2d8","name":"🔍 Parse Vision + Pre-Map dcTrack","type":"n8n-nodes-base.code","typeVersion":2,"position":[672,-96]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  success: true,\n  action: 'analyze_image',\n  request_id: $json.request_id,\n  image_url: $json.image_url,\n  processed_at: $json.timestamp,\n  total_equipment_found: $json.total_equipment_found,\n  equipment: $json.equipment,\n  message: 'Review the equipment table. Edit any fields, then provide location and cabinet name to push to dcTrack.'\n}) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"e5f96b25-f47b-43ed-834a-d158fb720c3b","name":"📤 Respond: Inventory Table","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[880,-96]},{"parameters":{"method":"POST","url":"http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080/tools/dctrack_list_locations","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"{}","options":{"allowUnauthorizedCerts":true,"timeout":60000}},"id":"627a61cf-c758-494e-a211-7295468b9ea5","name":"📍 MCP: List Locations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,96]},{"parameters":{"jsCode":"// Parse MCP dctrack_list_locations response\nconst resp = $input.first().json;\nlet prev = {};\ntry { prev = $('✅ Validate & Route Input').first().json; } catch(e) {}\n\nlet locations = [];\ntry {\n  const data = resp.result || resp.data || resp;\n  const arr = Array.isArray(data) ? data\n             : Array.isArray(data.locations) ? data.locations\n             : Array.isArray(data.items) ? data.items\n             : [];\n\n  // Filter to Rooms only using cmbHierarchyLevel\n  // tiLocationCode already contains the full path e.g. \"AI-DEMO-DC > AI-ROOM-01\"\n  const rooms = arr.filter(l => {\n    const level = (l.cmbHierarchyLevel || '').toLowerCase();\n    return level === 'room' || level === 'floor';\n  });\n\n  const source = rooms.length > 0 ? rooms : arr;\n\n  locations = source.map(l => ({\n    id:   l.id || '',\n    name: l.tiLocationCode || l.tiLocationName || l.name || ''\n  }));\n\n} catch(e) {\n  locations = [];\n}\n\nreturn {\n  locations,\n  request_id: prev.request_id || '',\n  timestamp:  prev.timestamp  || new Date().toISOString()\n};\n"},"id":"c2ebd9b6-db98-4a3d-a16f-31acffb776bf","name":"📋 Parse Locations","type":"n8n-nodes-base.code","typeVersion":2,"position":[288,96],"continueOnFail":true},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({\n  success: true,\n  action: 'list_locations',\n  request_id: $json.request_id,\n  locations: $json.locations\n}) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"c1c6f54f-5ba1-4765-a36d-398fc9b9eba1","name":"📤 Respond: Locations","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[480,96]},{"parameters":{"jsCode":"// ─── Build Cabinet Create Payload via MCP dctrack_create_item ────────────────\nconst d = $input.first().json;\nconst MCP_BASE = 'http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080';\n\nconst cabinetName  = (d.cabinet_name  || '').trim();\nconst locationName = (d.location_name || '').trim();\nconst uHeight      = parseInt(d.u_height || 42, 10);\n\nif (!cabinetName)  throw new Error('cabinet_name is empty');\nif (!locationName) throw new Error('location_name is empty');\n\n// Use make/model from cabinet row in inventory if provided, else fallback to catalog default\nfunction clean(s) {\n  if (!s) return '';\n  return s.replace(/\\s*\\(est\\.?\\)/gi,'').replace(/\\s*\\(approx\\.?\\)/gi,'')\n          .replace(/\\s*\\(unknown\\)/gi,'').replace(/\\s*\\?\\s*$/g,'').trim();\n}\n\nconst userMake  = clean(d.cabinet_make  || '');\nconst userModel = clean(d.cabinet_model || '');\nconst finalMake  = (userMake && userModel) ? userMake  : 'Rittal';\nconst finalModel = (userMake && userModel) ? userModel : 'VX5311.116';\n\nconsole.log(`Cabinet: \"${cabinetName}\" | Make: \"${finalMake}\" | Model: \"${finalModel}\" | uHeight: ${uHeight}`);\n\nreturn {\n  toolUrl:  MCP_BASE + '/tools/dctrack_create_item',\n  toolBody: {\n    tiName:      cabinetName,\n    tiClass:     'Cabinet',\n    make:        finalMake,\n    model:       finalModel,\n    cmbLocation: locationName,\n    tiRUs:       uHeight\n  },\n  cabinet_name:  cabinetName,\n  location_name: locationName,\n  u_height:      uHeight,\n  inventory:     d.inventory  || [],\n  request_id:    d.request_id || ('req_' + Date.now()),\n  timestamp:     d.timestamp  || new Date().toISOString()\n};\n"},"id":"e516f9ec-eb08-4b74-9771-1b98204805fd","name":"🏗️ Build Cabinet Payload","type":"n8n-nodes-base.code","typeVersion":2,"position":[-144,256]},{"parameters":{"method":"POST","url":"={{ $json.toolUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toolBody }}","options":{}},"id":"5be79ce9-1362-450c-ab73-e03e351ff28e","name":"🗄️ MCP: Create Cabinet","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[80,256],"continueOnFail":true},{"parameters":{"method":"POST","url":"={{ $json.toolUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ $json.toolBody }}","options":{"response":{"response":{"neverError":true}}}},"id":"d62c7fc5-2097-401b-b7fc-498f7b63d86b","name":"📦 MCP: Create Items (Loop)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,448],"continueOnFail":true},{"parameters":{"jsCode":"// ─── Aggregate Results ───────────────────────────────────────────────────────\nconst allResults = $input.all();\n\nlet buildPayload = {};\ntry { buildPayload = $('🏗️ Build Cabinet Payload').first().json || {}; } catch(e) {}\n\nlet parsedCab = {};\ntry { parsedCab = $('🏷️ Parse Cabinet Name').first().json || {}; } catch(e) {}\n\nlet cabinetId = null, cabinetError = null;\ntry {\n  const r = ($('🗄️ MCP: Create Cabinet').first().json || {});\n  const res = r.result || r;\n  cabinetId = res.id || res.itemId || res.cid || null;\n  if (r.error || r.message) cabinetError = JSON.stringify(r.error||r.message);\n} catch(e) { cabinetError = e.message; }\n\nfunction toStr(v){ return v==null?null:(typeof v==='string'?v:JSON.stringify(v)); }\n\nconst itemResults = allResults.map((item, i) => {\n  const src  = (item||{})._json || (item||{}).json || {};\n  const isOk = !!(\n    src.item?.id || src.item?.tiID ||\n    src.id || src.itemId || src.cid ||\n    (src.result && (src.result.id || src.result.success)) ||\n    (src._status && src._status < 400 && !src.errorList)\n  );\n  const usedFallback = src._usedFallback || false;\n  const origMakeModel = usedFallback ? ` [fallback from ${src._originalMake}/${src._originalModel}]` : '';\n  const err  = toStr(src.error)||toStr(src.message)||toStr(src.result&&src.result.error)||JSON.stringify(src).slice(0,300);\n  return {\n    index:       i+1,\n    name:        src.itemLabel||(src.item?.tiName)||((src.toolBody||{}).name)||('Item '+(i+1)),\n    class:       ((src.toolBody||{}).class)||'Device',\n    cabinetSent: src.cabinetUsed || ((src.toolBody||{}).cabinet) || '?',\n    status:      isOk ? 'created' : 'error',\n    detail:      isOk ? null : err\n  };\n});\n\nconst ok  = itemResults.filter(r=>r.status==='created').length;\nconst err = itemResults.filter(r=>r.status==='error').length;\n\nreturn [{\n  success:              true,\n  action:               'push_to_dctrack',\n  cabinet_name:         buildPayload.cabinet_name||'',\n  confirmed_cabinet:    parsedCab.confirmedCabinetName||buildPayload.cabinet_name||'',\n  cabinet_sample:       parsedCab.cabinet_sample||[],\n  list_cabinets_raw:    (parsedCab.list_cabinets_raw||'').slice(0,400),\n  location_name:        buildPayload.location_name||'',\n  cabinet_id:           cabinetId,\n  cabinet_error:        cabinetError,\n  items_created:        ok,\n  items_errored:        err,\n  item_results:         itemResults,\n  request_id:           buildPayload.request_id||('req_'+Date.now()),\n  completed_at:         new Date().toISOString()\n}];\n"},"id":"e9abde03-b789-42a0-b360-3a01cb73deaa","name":"📊 Aggregate Push Results","type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,448]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($input.first().json) }}","options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"04c3a8e9-201c-4cb1-88f4-3d7470360a34","name":"📤 Respond: Push Results","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1328,448]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify({ success: false, error: $('Validate & Route Input').first().json.error, request_id: $('Validate & Route Input').first().json.request_id }) }}","options":{"responseCode":400,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"Access-Control-Allow-Origin","value":"*"}]}}},"id":"2a968a3d-f0da-455b-b6d9-319b6655873d","name":"❌ Respond: Error","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[-144,480]},{"parameters":{"operation":"insert","collection":"rack_discovery_logs","options":{}},"id":"7a76b2e1-14b9-4afe-8f62-5004d9681a08","name":"🗃️ Log to MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[912,176],"credentials":{"mongoDb":{"id":"F2YLzgn75htvYh3n","name":"IIS-AI-MongoDB"}}},{"parameters":{"method":"POST","url":"http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080/tools/dctrack_list_cabinets","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ location: $('🏗️ Build Cabinet Payload').first().json.location_name }) }}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"d8bf6f70-0e35-4c47-bcd8-1c4afdd45ce0","name":"🔍 List Cabinets (Verify)","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[288,256],"continueOnFail":true},{"parameters":{"jsCode":"// ── Extract cabinet name from MCP dctrack_create_item response ───────────────\nconst buildPayload = $('🏗️ Build Cabinet Payload').first().json;\nconst cabinetResp  = $('🗄️ MCP: Create Cabinet').first().json;\n\nconst requestedName = buildPayload.cabinet_name || '';\nconst locationName  = buildPayload.location_name || '';\n\n// dctrack_create_item returns { item: { tiName, ... } }\nconst createdName = (cabinetResp.item && cabinetResp.item.tiName)\n                 || cabinetResp.tiName\n                 || requestedName;\n\nreturn {\n  confirmedCabinetName: createdName,\n  requestedName:        requestedName,\n  locationName:         locationName,\n  inventory:            buildPayload.inventory || [],\n  u_height:             buildPayload.u_height,\n  request_id:           buildPayload.request_id,\n  timestamp:            buildPayload.timestamp\n};\n"},"id":"52671155-1479-4539-9c71-793e23d2fddc","name":"🏷️ Parse Cabinet Name","type":"n8n-nodes-base.code","typeVersion":2,"position":[496,256],"continueOnFail":true},{"parameters":{"method":"POST","url":"http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080/tools/dctrack_get_cabinet_items","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify({ cabinetName: $(\"🏷️ Parse Cabinet Name\").first().json.requestedName }) }}","options":{},"body":"={{ JSON.stringify({ cabinetName: $json.confirmedCabinetName || $json.requestedName }) }}"},"id":"91caee69-7254-4599-89da-3b6f475cfe27","name":"🧹 Get Existing Cabinet Items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[144,448]},{"parameters":{"jsCode":"// Delete all existing items in the cabinet before re-creating\nconst elevData    = $('🧹 Get Existing Cabinet Items').first().json;\nconst parsedCab   = $('🏷️ Parse Cabinet Name').first().json;\nconst cabinetName = parsedCab.requestedName || parsedCab.confirmedCabinetName;\nconst MCP_BASE    = 'http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080';\n\n// Flatten response — elevation API returns different shapes\nconst raw = elevData.items || elevData.data || elevData.result?.items\n         || elevData.result?.data || elevData.result || [];\nconst existingItems = Array.isArray(raw) ? raw : [];\n\nif (existingItems.length === 0) {\n  console.log('Cabinet empty — no cleanup needed');\n  return [{ deleted: 0, cabinetName }];\n}\n\nconsole.log(`Found ${existingItems.length} items to delete from ${cabinetName}`);\n\nlet deleted = 0;\nlet skipped = 0;\n\nfor (const item of existingItems) {\n  const itemId = String(item.id || item.itemId || item.tiID || item.cid || '').trim();\n  if (!itemId || itemId === 'undefined' || itemId === '0') {\n    skipped++;\n    continue;\n  }\n\n  try {\n    const resp = await fetch(MCP_BASE + '/tools/dctrack_delete_item', {\n      method: 'POST',\n      headers: { 'Content-Type': 'application/json' },\n      body: JSON.stringify({ itemId })\n    });\n    const txt = await resp.text();\n    console.log(`Deleted item ${itemId}: ${resp.status}`);\n    deleted++;\n  } catch(e) {\n    console.log(`Error deleting item ${itemId}: ${e.message}`);\n    skipped++;\n  }\n}\n\nconsole.log(`Done: deleted=${deleted} skipped=${skipped}`);\nreturn [{ deleted, skipped, cabinetName }];\n"},"id":"2bd1474b-ab77-40c1-ae8e-754e595ae21f","name":"🗑️ MCP: Delete Existing Items","type":"n8n-nodes-base.code","typeVersion":2,"position":[320,448]},{"parameters":{"jsCode":"const d = $input.first().json;\n\nif (d.is_upload) {\n  return {\n    image_base64:  d.image_base64,\n    media_type:    d.image_type,\n    image_url:     d.image_url,\n    output_format: 'json',\n    request_id:    d.request_id,\n    timestamp:     d.timestamp\n  };\n}\n\nthrow new Error('URL-based image fetch not supported in this version. Please use the upload feature in the chat UI to send images directly.');"},"id":"fetch-image-restored","name":"📥 Fetch Image","type":"n8n-nodes-base.code","position":[86,-16],"typeVersion":2},{"id":"153eb55c-b116-46a9-bf1b-e25410521fae","name":"🔎 Extract Unique Models","type":"n8n-nodes-base.code","position":[380,560],"typeVersion":2,"parameters":{"jsCode":"const parsed = $('🏷️ Parse Cabinet Name').first().json;\nconst inventory = parsed.inventory || [];\n\n// Deduplicate by model name — model is the reliable field\nconst seen = new Set();\nconst searches = [];\nfor (const row of inventory) {\n  const aiModel = (row.dctrack_model || row.model || '').trim();\n  if (!aiModel || seen.has(aiModel.toLowerCase())) continue;\n  seen.add(aiModel.toLowerCase());\n  \n  // Extract key search terms from model name (e.g. \"PowerEdge C6100\" -> \"PowerEdge C6100\")\n  // Strip AI qualifiers\n  const cleaned = aiModel.replace(/\\s*\\(est\\.?\\)/gi,'').replace(/\\s*\\(approx\\.?\\)/gi,'')\n    .replace(/\\s*\\(unknown\\)/gi,'').replace(/\\s*\\?\\s*$/g,'').trim();\n  \n  searches.push({\n    aiModel: aiModel,\n    searchModel: cleaned,\n    aiMake: '', // will be filled from first matching inventory row\n  });\n}\n\n// Attach the AI make for reference\nfor (const s of searches) {\n  const row = inventory.find(r => (r.dctrack_model||r.model||'').trim() === s.aiModel);\n  if (row) s.aiMake = (row.dctrack_make || row.brand || '').trim();\n}\n\nconsole.log('Unique models to search:', searches.length, searches.map(s => s.searchModel));\n\n// Output one item per unique model — HTTP node will iterate\nreturn searches.map(s => ({\n  ...s,\n  _inventoryJson: JSON.stringify(inventory),\n  _cabinetName: parsed.requestedName || parsed.confirmedCabinetName,\n  _locationName: parsed.locationName || 'AI-DEMO-DC > AI-ROOM-01'\n}));"}},{"id":"5018681c-03f4-405f-9899-6e6a0b7c1128","name":"🔍 MCP: Search Model Catalog","type":"n8n-nodes-base.httpRequest","position":[560,560],"typeVersion":4.3,"parameters":{"method":"POST","url":"http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080/tools/dctrack_search_models","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({ filters: [{ name: \"model\", filter: { eq: $json.searchModel } }], pageSize: 20 }) }}","options":{"timeout":15000}}},{"id":"234d1ff5-e11f-4f76-99ad-0f2f75b0e6d9","name":"🏆 Score & Map Items","type":"n8n-nodes-base.code","position":[740,560],"typeVersion":2,"parameters":{"jsCode":"// ═══ Match catalog results to inventory items & build dcTrack payloads ═══\nconst searchResults = $input.all();\nconst extractItems = $('🔎 Extract Unique Models').all();\nconst firstExtract = extractItems[0] ? extractItems[0].json : {};\nconst inventory = JSON.parse(firstExtract._inventoryJson || '[]');\nconst cabinetName = firstExtract._cabinetName || '';\nconst locationName = firstExtract._locationName || 'AI-DEMO-DC > AI-ROOM-01';\nconst MCP_BASE = 'http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080';\n\n// ── Build model lookup: aiModel -> {make, model} from catalog ──\nconst modelLookup = {};  // key: aiModel.toLowerCase() -> {make, model, score, top5}\n\nfunction fuzzy(a0, b0) {\n  const a=(a0||'').toLowerCase().replace(/[^a-z0-9]/g,' ').replace(/\\s+/g,' ').trim();\n  const b=(b0||'').toLowerCase().replace(/[^a-z0-9]/g,' ').replace(/\\s+/g,' ').trim();\n  if(!a||!b) return 0; if(a===b) return 100; if(b.includes(a)) return 90; if(a.includes(b)) return 85;\n  const tA=a.split(' ').filter(t=>t.length>1),tB=b.split(' ').filter(t=>t.length>1);\n  let m=0;for(const ta of tA){if(tB.some(tb=>tb.includes(ta)||ta.includes(tb)))m++;}\n  const ts=tA.length>0?(m/tA.length)*70:0;\n  const nA=a.match(/\\d{3,}/g)||[],nB=b.match(/\\d{3,}/g)||[];\n  let nb=0;for(const na of nA){if(nB.some(n=>n.includes(na)||na.includes(n)))nb+=20;}\n  return Math.min(Math.round(ts+nb),99);\n}\n\nfor (let i = 0; i < searchResults.length; i++) {\n  const sr = searchResults[i].json;\n  const ext = extractItems[i] ? extractItems[i].json : {};\n  const catalog = (sr.result && sr.result.data) ? sr.result.data : (sr.result || []);\n  const aiModel = (ext.aiModel || '').toLowerCase();\n  const aiMake = ext.aiMake || '';\n  \n  console.log('Search \"' + ext.searchModel + '\": ' + catalog.length + ' catalog matches');\n  \n  if (!catalog.length) {\n    modelLookup[aiModel] = { bestMake: null, bestModel: null, score: 0, top5: [] };\n    continue;\n  }\n  \n  // Score each catalog entry against the AI model name\n  const scored = catalog.map(cm => ({\n    make: cm.make || '',\n    model: cm.model || '',\n    cls: cm.class || '',\n    score: fuzzy(ext.searchModel, cm.model || '')\n  })).sort((a, b) => b.score - a.score);\n  \n  const top5 = scored.slice(0, 5);\n  const best = top5[0];\n  \n  // The KEY insight: model name is reliable, so the best match's MAKE is the correct make\n  // This auto-corrects \"Cisco\" -> \"Cisco Systems\" or any make name discrepancy\n  console.log('  Best: make=\"' + best.make + '\" model=\"' + best.model + '\" score=' + best.score);\n  console.log('  Top5: ' + top5.map(t => t.make + '/' + t.model + ':' + t.score).join(', '));\n  \n  modelLookup[aiModel] = {\n    bestMake: best.score >= 40 ? best.make : null,\n    bestModel: best.score >= 40 ? best.model : null,\n    score: best.score,\n    top5\n  };\n}\n\n// ── Build dcTrack items ──\nconst classMap = {'Server':'Device','Network Switch':'Network','Switch':'Network','Patch Panel':'Data Panel','KVM Switch':'Network','UPS':'Device','PDU':'Rack PDU','Storage':'Device','Rack Enclosure':'Cabinet','Blank Panel':'Data Panel','Cable Manager':'Data Panel','Device':'Device','Network':'Network','Passive':'Data Panel','Data Panel':'Data Panel','Rack PDU':'Rack PDU','Other':'Device'};\nconst defaultModels = {'Cabinet':{make:'Rittal',model:'Orsted VX5311.116'},'Rack PDU':{make:'APC',model:'AP9320'},'Network':{make:'3Com',model:'Blade 3C13804'},'Device':{make:'3Com',model:'Gateway 3CRVO71330-06'},'Data Panel':{make:'Amp Netconnect',model:'1RU-AMP Panel RJ45 24-Port CAT6'}};\n\nfunction clean(s){if(!s)return'';return s.replace(/\\s*\\(est\\.?\\)/gi,'').replace(/\\s*\\(approx\\.?\\)/gi,'').replace(/\\s*\\(unknown\\)/gi,'').replace(/\\s*\\(generic\\)/gi,'').replace(/\\s*\\(assumed\\)/gi,'').replace(/\\s*\\?\\s*$/g,'').trim();}\n\nconst used = new Set();\nfunction nextFree(start,h){let p=Math.max(1,start);while(true){let ok=true;for(let i=0;i<h;i++){if(used.has(p+i)){ok=false;break;}}if(ok)return p;p++;}}\nfunction reserve(p,h){for(let i=0;i<h;i++)used.add(p+i);}\n\nconst items = inventory.filter(row => {\n  if (!row) return false;\n  const c = (row.dctrack_class || row.equipment_type || '').toLowerCase();\n  return c !== 'cabinet' && c !== 'rack enclosure';\n}).map((row, idx) => {\n  const itemClass = classMap[row.dctrack_class] || classMap[row.equipment_type] || 'Device';\n  const def = defaultModels[itemClass] || defaultModels['Device'];\n  const uH = Math.max(1, parseInt(row.dctrack_u_height, 10) || 1);\n  const req = Math.max(1, parseInt(row.dctrack_u_position, 10) || (idx + 1));\n  const uPos = nextFree(req, uH); reserve(uPos, uH);\n  \n  const userMake = clean(row.dctrack_make || row.brand || '');\n  const userModel = clean(row.dctrack_model || row.model || '');\n  \n  // Model-first lookup: model name is reliable, so use catalog's make for that model\n  const match = modelLookup[userModel.toLowerCase()] || {};\n  let finalMake, finalModel;\n  if (match.bestMake && match.bestModel) {\n    // Catalog found a match — use catalog's make (auto-corrects user's make)\n    finalMake = match.bestMake;\n    finalModel = match.bestModel;\n  } else {\n    // No catalog match — fall back to defaults\n    finalMake = def.make;\n    finalModel = def.model;\n  }\n  \n  console.log('  Item ' + idx + ': \"' + userMake + '/' + userModel + '\" -> \"' + finalMake + '/' + finalModel + '\" (score=' + (match.score||0) + ')');\n  \n  const equipType = (row.equipment_type || 'Item').toUpperCase().replace(/[^A-Z0-9 ]/g, '').trim();\n  const nameBase = (userMake && userModel)\n    ? cabinetName + ' ' + userMake.toUpperCase() + ' ' + userModel.replace(/[^A-Z0-9\\-]/gi, '-').replace(/-+/g, '-').toUpperCase().slice(0, 20) + ' U' + uPos\n    : cabinetName + ' ' + equipType + ' U' + uPos;\n  \n  const pduSide = (row.dctrack_pdu_position || '').trim();\n  const isVPdu = (itemClass === 'Rack PDU' && pduSide !== '');\n  const fUPos = isVPdu ? 0 : uPos;\n  const pduX = isVPdu ? { mountedPduPosition: pduSide } : {};\n  \n  return {\n    toolName: 'dctrack_create_item', toolUrl: MCP_BASE + '/tools/dctrack_create_item',\n    toolBody: Object.assign({\n      tiName: nameBase, tiClass: itemClass, make: finalMake, model: finalModel,\n      cmbLocation: locationName, cabinetName: cabinetName, tiUPosition: fUPos\n    }, pduX),\n    itemLabel: nameBase, cabinetUsed: cabinetName, row_index: idx,\n    matchScore: match.score || 0, matchTop5: (match.top5 || []).slice(0, 5)\n  };\n});\n\nif (!items.length) return [{\n  toolName: 'dctrack_create_item', toolUrl: MCP_BASE + '/tools/dctrack_create_item',\n  toolBody: { tiName: cabinetName + ' Item U1', tiClass: 'Data Panel', make: 'Amp Netconnect', model: '1RU-AMP Panel RJ45 24-Port CAT6', cmbLocation: locationName, cabinetName: cabinetName, tiUPosition: 1 },\n  itemLabel: 'Placeholder', cabinetUsed: cabinetName, row_index: 0, matchScore: 0, matchTop5: []\n}];\n\nreturn items;"}}],"connections":{"🔗 Main Webhook":{"main":[[{"node":"✅ Validate & Route Input","type":"main","index":0}]]},"✅ Validate & Route Input":{"main":[[{"node":"🔀 Route by Action","type":"main","index":0}]]},"🔀 Route by Action":{"main":[[{"node":"🔀 Analyze vs List Locations","type":"main","index":0}],[{"node":"🏗️ Build Cabinet Payload","type":"main","index":0}]]},"🔀 Analyze vs List Locations":{"main":[[{"node":"📥 Fetch Image","type":"main","index":0}],[{"node":"📍 MCP: List Locations","type":"main","index":0}]]},"🔨 Build Vision Prompt":{"main":[[{"node":"🤖 LLM Vision (Claude via Portkey)","type":"main","index":0}]]},"🤖 LLM Vision (Claude via Portkey)":{"main":[[{"node":"🔍 Parse Vision + Pre-Map dcTrack","type":"main","index":0}]]},"🔍 Parse Vision + Pre-Map dcTrack":{"main":[[{"node":"📤 Respond: Inventory Table","type":"main","index":0}]]},"📍 MCP: List Locations":{"main":[[{"node":"📋 Parse Locations","type":"main","index":0}]]},"📋 Parse Locations":{"main":[[{"node":"📤 Respond: Locations","type":"main","index":0}]]},"🏗️ Build Cabinet Payload":{"main":[[{"node":"🗄️ MCP: Create Cabinet","type":"main","index":0}]]},"🗄️ MCP: Create Cabinet":{"main":[[{"node":"🔍 List Cabinets (Verify)","type":"main","index":0}]]},"📦 MCP: Create Items (Loop)":{"main":[[{"node":"📊 Aggregate Push Results","type":"main","index":0}]]},"📊 Aggregate Push Results":{"main":[[{"node":"📤 Respond: Push Results","type":"main","index":0}]]},"🔍 List Cabinets (Verify)":{"main":[[{"node":"🏷️ Parse Cabinet Name","type":"main","index":0}]]},"🏷️ Parse Cabinet Name":{"main":[[{"node":"🧹 Get Existing Cabinet Items","type":"main","index":0}]]},"🧹 Get Existing Cabinet Items":{"main":[[{"node":"🗑️ MCP: Delete Existing Items","type":"main","index":0}]]},"🗑️ MCP: Delete Existing Items":{"main":[[{"node":"🔎 Extract Unique Models","type":"main","index":0}]]},"📥 Fetch Image":{"main":[[{"node":"🔨 Build Vision Prompt","type":"main","index":0}]]},"🔎 Extract Unique Models":{"main":[[{"node":"🔍 MCP: Search Model Catalog","type":"main","index":0}]]},"🔍 MCP: Search Model Catalog":{"main":[[{"node":"🏆 Score & Map Items","type":"main","index":0}]]},"🏆 Score & Map Items":{"main":[[{"node":"📦 MCP: Create Items (Loop)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"9194d823-c4f6-43e6-a013-276a6913b37d","activeVersionId":"9194d823-c4f6-43e6-a013-276a6913b37d","versionCounter":406,"triggerCount":1,"sourceWorkflowId":null,"tags":[{"updatedAt":"2026-02-20T18:52:54.799Z","createdAt":"2026-02-20T18:52:54.799Z","id":"SBiBkuKeg091WKZ6","name":"Rack Discovery"},{"updatedAt":"2026-02-20T18:52:54.767Z","createdAt":"2026-02-20T18:52:54.767Z","id":"uMN0pBYGwuwqkwSC","name":"AI Vision"},{"updatedAt":"2026-02-20T18:52:54.723Z","createdAt":"2026-02-20T18:52:54.723Z","id":"EoMz2HSVEYfaL5F3","name":"dcTrack"},{"updatedAt":"2026-02-20T18:52:54.677Z","createdAt":"2026-02-20T18:52:54.677Z","id":"2OQTtULVeRHUAQjT","name":"IIS Tech"}],"shared":[{"updatedAt":"2026-02-20T18:52:44.932Z","createdAt":"2026-02-20T18:52:44.932Z","role":"workflow:owner","workflowId":"FI-EkrRXrkE4NOmAtcnlu","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}