migration/n8n/workflows-separate/HeeaSeveP67DepnRYJKyw.json
{"updatedAt":"2026-04-06T01:36:54.324Z","createdAt":"2026-01-14T03:17:46.241Z","id":"HeeaSeveP67DepnRYJKyw","name":"Sunbird DCIM AI Assistant v2 (Dynamic MCP)","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"dctrack-chat/chat/completions","responseMode":"responseNode","options":{"responseHeaders":{"entries":[{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"id":"99bb4348-d8fa-4c80-b19e-e10ab7e4b352","name":"Chat Webhook","type":"n8n-nodes-base.webhook","typeVersion":2,"position":[-3936,2048],"webhookId":"dctrack-chat-v2"},{"parameters":{"jsCode":"const body = $json.body || $json;\nlet message = '';\nlet history = [];\n\nif (body.messages && Array.isArray(body.messages)) {\n  history = body.messages;\n  const userMessages = body.messages.filter(m => m.role === 'user');\n  message = userMessages.length > 0 ? userMessages[userMessages.length - 1].content : '';\n} else {\n  message = body.message || body.query || '';\n}\n\nconst session_id = body.session_id || 'session_' + Date.now();\n\nreturn { message: message || 'hello', session_id, history };"},"id":"ad14bfae-8049-4d52-891b-d59331bc91bd","name":"Input Validator","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3728,2048]},{"parameters":{"url":"http://sunbird-mcp-server.aitp-ai.svc.cluster.local:8080/tools?detail=full","options":{"timeout":15000}},"id":"cdde9d0f-44f8-41f7-858f-8331f0060c87","name":"Fetch MCP Tools","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3504,2048]},{"parameters":{"jsCode":"const tools = $json || [];\nconst rawTools = Array.isArray(tools) ? tools : (tools.tools || tools.data || []);\nconst userMessage = $('Input Validator').first().json.message;\nconst session_id = $('Input Validator').first().json.session_id;\n\nconst dctrack = [];\nconst poweriq = [];\nconst combined = [];\n\nfunction formatParams(schema) {\n  if (!schema || !schema.properties) return '';\n  const props = schema.properties;\n  const required = schema.required || [];\n  const parts = [];\n  for (const [key, val] of Object.entries(props)) {\n    const v = val;\n    const req = required.includes(key) ? ' (required)' : '';\n    const type = v.type || 'any';\n    const desc = v.description ? ` - ${v.description}` : '';\n    parts.push(`    ${key}: ${type}${req}${desc}`);\n  }\n  return parts.length > 0 ? '\\n' + parts.join('\\n') : '';\n}\n\nfor (const t of rawTools) {\n  const name = t.name || '';\n  const desc = t.description || '';\n  const params = formatParams(t.inputSchema);\n  const line = `- ${name}: ${desc}${params}`;\n  if (name.startsWith('dctrack_')) dctrack.push(line);\n  else if (name.startsWith('poweriq_')) poweriq.push(line);\n  else if (name.startsWith('dcim_')) combined.push(line);\n}\n\nconst toolCatalog = [\n  `## dcTrack Tools (${dctrack.length})`,\n  ...dctrack,\n  '',\n  `## Power IQ Tools (${poweriq.length})`,\n  ...poweriq,\n  '',\n  `## Combined Analytics Tools (${combined.length})`,\n  ...combined\n].join('\\n');\n\nconst systemPrompt = `You are a Sunbird DCIM AI assistant with access to dcTrack (asset management) and Power IQ (power monitoring) APIs.\n\nYou have ${rawTools.length} tools available. When the user asks about data center infrastructure, choose the right tool and respond with a JSON tool call.\n\nRULES:\n1. CRITICAL: If the user needs data, respond with ONLY raw JSON. No text before or after. No markdown code blocks. ONLY the JSON object or array.\n2. Single tool call: {\"tool\": \"tool_name\", \"args\": {\"param\": \"value\"}}\n3. Multiple tool calls (bulk operations): [{\"tool\": \"tool_name\", \"args\": {...}}, {\"tool\": \"tool_name\", \"args\": {...}}]\n4. If the user is making conversation (greetings, thanks, general questions), respond with plain text.\n5. Pick the most specific tool for the request.\n6. For args, use the parameter names exactly as listed under each tool. Use numeric IDs where required.\n7. For list/search operations: the server defaults to pageSize=1000 which returns up to 1000 items. Do NOT pass pageSize unless the user explicitly asks for fewer results. Only use a smaller pageSize if the user says \"show me 10\" or \"limit to 50\" etc.\n8. dcTrack items use field names like tiName, cmbLocation, cmbCabinet, cmbStatus, tiClass.\n9. Power IQ uses field names like name, id, pdu_id, severity.\n10. Only include required parameters unless the user specifies additional filters.\n11. For tools with no parameters listed, pass an empty args object: {\"tool\": \"tool_name\", \"args\": {}}\n12. Cabinet creation requires: name, locationName (string), make (string), model (string). Example: {\"tool\": \"dctrack_create_cabinet\", \"args\": {\"name\": \"CAB-01\", \"locationName\": \"AI-ROOM-01\", \"make\": \"Rittal\", \"model\": \"Orsted VX5311.116\"}}\n13. Item/PDU creation: ALWAYS include make and model (strings). Use cabinetName (string) NOT cabinetId. PDUs use tiClass=\"Rack PDU\" and tiMounting=\"ZeroU\". If user does not specify make/model, ask them. Example: {\"tool\": \"dctrack_create_item\", \"args\": {\"tiName\": \"PDU-01\", \"tiClass\": \"Rack PDU\", \"cabinetName\": \"CAB-01\", \"tiMounting\": \"ZeroU\", \"make\": \"APC\", \"model\": \"AP8861\"}}\n14. Cabinet U-position map: When user asks about which U-positions are used/available, rack layout, or \"show me U1 to U42\", use dctrack_get_cabinet_u_map with cabinetName. Example: {\"tool\": \"dctrack_get_cabinet_u_map\", \"args\": {\"cabinetName\": \"178B-02\"}}\n15. Cabinet items by name: When user asks \"what items are in cabinet X\", use dctrack_get_cabinet_items with cabinetName (string). Example: {\"tool\": \"dctrack_get_cabinet_items\", \"args\": {\"cabinetName\": \"178B-02\"}}\n16. Model search: When user asks to find/search models by name, use dctrack_list_models with query parameter. Example: {\"tool\": \"dctrack_list_models\", \"args\": {\"query\": \"C6100\"}}\n17. Find available cabinets: When user asks about cabinets with free space in a location, use dctrack_find_available_cabinets with locationName (string). Example: {\"tool\": \"dctrack_find_available_cabinets\", \"args\": {\"locationName\": \"AI-ROOM-01\", \"minAvailableRUs\": 4}}\n\nLOCATION HANDLING:\nCRITICAL: When a tool accepts locationName, ALWAYS pass the user's location text EXACTLY as they typed it. Do NOT rename, correct, or map location names — the server resolves them automatically. For example, if user says \"ROOM-01\", pass \"ROOM-01\" not \"AI-ROOM-01\". Different locations can have similar names (e.g., \"ROOM 01\" and \"AI-ROOM-01\" are completely different locations in different data centers).\n\n13. IMPORTANT: For ANY question about cabinet capacity, free space, available U slots, or utilization, ALWAYS use dctrack_list_cabinets_with_capacity. NEVER use dctrack_get_cabinet_capacity for this \\u2014 it only works for one cabinet at a time and requires an ID.\\n\\nAVAILABLE TOOLS:\n${toolCatalog}`;\n\n// Build messages array with conversation history\nconst history = $('Input Validator').first().json.history || [];\nconst messages = [{ role: 'system', content: systemPrompt }];\n\n// Add conversation history (skip system messages, limit to last 10 turns)\nconst relevantHistory = history.filter(m => m.role === 'user' || m.role === 'assistant').slice(-10);\nfor (const msg of relevantHistory) {\n  // Skip the last user message since we add it separately\n  if (msg === relevantHistory[relevantHistory.length - 1] && msg.role === 'user') continue;\n  messages.push({ role: msg.role, content: msg.content });\n}\n\nmessages.push({ role: 'user', content: userMessage });\n\nreturn { systemPrompt, userMessage, session_id, toolCount: rawTools.length, messages };"},"id":"c758e5be-0d4b-4374-b947-ee469177e469","name":"Build LLM Prompt","type":"n8n-nodes-base.code","typeVersion":2,"position":[-3280,2048]},{"parameters":{"method":"POST","url":"http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.1,\n  \"messages\": {{ JSON.stringify($json.messages) }}\n}","options":{"timeout":60000}},"id":"ac555a4f-74f1-4567-8681-b61e8d4149a0","name":"LLM Tool Selection","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-3056,2048],"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"// Parse LLM response — robust JSON extractor with brace-counting\n// Handles: clean JSON, text preamble, markdown code blocks, nested args\nconst MCP_BASE = 'http://sunbird-mcp-server.aitp-ai.svc.cluster.local:8080';\nconst response = $json;\nconst session_id = $('Input Validator').first().json.session_id;\nconst userMessage = $('Input Validator').first().json.message;\nlet content = '';\n\ntry {\n  content = response.choices?.[0]?.message?.content || '';\n} catch (e) {\n  return { directAnswer: 'Sorry, I encountered an error processing your request.', toolName: null, toolResult: null, session_id, userMessage };\n}\n\nif (!content.trim()) {\n  return { directAnswer: 'I did not get a response. Please try again.', toolName: null, toolResult: null, session_id, userMessage };\n}\n\n// === Robust JSON extractor using brace-counting ===\nfunction extractBalancedJSON(text, startIdx) {\n  const openChar = text[startIdx];\n  let depth = 0;\n  let inString = false;\n  let escaped = false;\n  for (let i = startIdx; i < text.length; i++) {\n    const ch = text[i];\n    if (escaped) { escaped = false; continue; }\n    if (ch === '\\\\' && inString) { escaped = true; continue; }\n    if (ch === '\"') { inString = !inString; continue; }\n    if (inString) continue;\n    if (ch === '{' || ch === '[') depth++;\n    if (ch === '}' || ch === ']') depth--;\n    if (depth === 0) return text.substring(startIdx, i + 1);\n  }\n  return null;\n}\n\nfunction findToolCalls(text) {\n  // Strip markdown code blocks\n  let cleaned = text.replace(/```json\\s*/gi, '').replace(/```\\s*/gi, '').trim();\n  \n  // Strategy 1: Direct parse as array\n  try {\n    if (cleaned.startsWith('[')) {\n      const parsed = JSON.parse(cleaned);\n      if (Array.isArray(parsed) && parsed.length > 0 && parsed[0].tool) return parsed;\n    }\n  } catch(e) {}\n  \n  // Strategy 2: Direct parse as object\n  try {\n    if (cleaned.startsWith('{')) {\n      const parsed = JSON.parse(cleaned);\n      if (parsed.tool && typeof parsed.tool === 'string') return [parsed];\n    }\n  } catch(e) {}\n  \n  // Strategy 3: Find first [ containing \"tool\" and extract with brace-counting\n  const arrayIdx = cleaned.indexOf('[');\n  if (arrayIdx !== -1 && cleaned.indexOf('\"tool\"') > arrayIdx) {\n    const candidate = extractBalancedJSON(cleaned, arrayIdx);\n    if (candidate) {\n      try {\n        const parsed = JSON.parse(candidate);\n        if (Array.isArray(parsed) && parsed.length > 0 && parsed[0].tool) return parsed;\n      } catch(e) {}\n    }\n  }\n  \n  // Strategy 4: Find individual {\"tool\":...} objects with brace-counting\n  const results = [];\n  let searchFrom = 0;\n  while (searchFrom < cleaned.length) {\n    const toolKeyIdx = cleaned.indexOf('\"tool\"', searchFrom);\n    if (toolKeyIdx === -1) break;\n    let braceIdx = -1;\n    for (let i = toolKeyIdx - 1; i >= searchFrom; i--) {\n      if (cleaned[i] === '{') { braceIdx = i; break; }\n      if (![' ', '\\n', '\\r', '\\t'].includes(cleaned[i])) break;\n    }\n    if (braceIdx === -1) { searchFrom = toolKeyIdx + 1; continue; }\n    const candidate = extractBalancedJSON(cleaned, braceIdx);\n    if (candidate) {\n      try {\n        const parsed = JSON.parse(candidate);\n        if (parsed.tool && typeof parsed.tool === 'string') {\n          results.push(parsed);\n          searchFrom = braceIdx + candidate.length;\n          continue;\n        }\n      } catch(e) {}\n    }\n    searchFrom = toolKeyIdx + 1;\n  }\n  \n  return results.length > 0 ? results : null;\n}\n\nconst toolCalls = findToolCalls(content) || [];\n\nif (toolCalls.length > 0) {\n  const results = [];\n  const allArgs = [];\n  let lastName = '';\n  \n  for (const tc of toolCalls) {\n    lastName = tc.tool;\n    const toolArgs = tc.args || {};\n    allArgs.push(toolArgs);\n    try {\n      const resp = await this.helpers.httpRequest({\n        method: 'POST',\n        url: MCP_BASE + '/tools/' + tc.tool,\n        body: toolArgs,\n        json: true,\n        timeout: 120000,\n      });\n      results.push(resp);\n    } catch (err) {\n      results.push({ error: err.message || 'Tool execution failed' });\n    }\n  }\n  \n  const toolName = toolCalls.length === 1 ? lastName : lastName + ' (x' + toolCalls.length + ')';\n  const fullResult = toolCalls.length === 1 ? JSON.stringify(results[0]) : JSON.stringify(results);\n  const toolResult = fullResult.substring(0, 8000);\n  const toolResultFull = fullResult.substring(0, 100000);\n  const toolArgsOut = toolCalls.length === 1 ? allArgs[0] : allArgs;\n  \n  return {\n    directAnswer: null,\n    toolName,\n    toolArgs: toolArgsOut,\n    toolCount: toolCalls.length,\n    toolResult,\n    toolResultFull,\n    session_id,\n    userMessage\n  };\n} else {\n  return {\n    directAnswer: content,\n    toolName: null,\n    toolResult: null,\n    session_id,\n    userMessage\n  };\n}"},"id":"7fbb08d1-0c72-4ff5-88ac-cc9b0e11fd8b","name":"Parse and Execute Tool","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2848,2048]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose"},"conditions":[{"id":"cond-has-tool-result","leftValue":"={{ $json.toolName }}","rightValue":"","operator":{"type":"string","operation":"notEmpty"}}],"combinator":"and"},"options":{}},"id":"0f345f04-e571-47fe-a281-9bb82c3ea0ba","name":"Has Tool Result?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-2624,2048]},{"parameters":{"method":"POST","url":"http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.2,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a data center infrastructure assistant. The user asked a question and a tool was called to fetch data from Sunbird DCIM. Summarize the API result below for the user. Use markdown formatting: tables for tabular data, bullet points for lists, bold for key values. Be concise and helpful. If the result has an error, explain it clearly.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify('User asked: ' + $json.userMessage + '\\n\\nTool: ' + $json.toolName + '\\n\\nAPI Result:\\n' + $json.toolResult) }}\n    }\n  ]\n}","options":{"timeout":60000}},"id":"553acc77-f68c-4bd2-ad78-70e91abccc90","name":"LLM Summarize Result","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2400,1936],"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"// Build OpenAI-compatible chat completion response\nconst parseData = $('Parse and Execute Tool').first().json;\nlet content = '';\nlet toolUsed = null;\n\ntry {\n  if (parseData.toolName) {\n    const summarizeResponse = $json;\n    content = summarizeResponse?.choices?.[0]?.message?.content || 'Tool executed but summary unavailable. Raw tool: ' + parseData.toolName;\n    toolUsed = parseData.toolName;\n  } else {\n    content = parseData.directAnswer || 'I can help you with data center infrastructure. Try asking about locations, cabinets, items, PDUs, sensors, or power readings.';\n  }\n} catch (e) {\n  content = parseData.directAnswer || 'An error occurred while processing the response.';\n}\n\nreturn {\n  id: 'chatcmpl-' + Date.now(),\n  object: 'chat.completion',\n  created: Math.floor(Date.now() / 1000),\n  model: 'sunbird-dcim-assistant-v2',\n  choices: [{\n    index: 0,\n    message: { role: 'assistant', content: content },\n    finish_reason: 'stop'\n  }],\n  usage: { prompt_tokens: 0, completion_tokens: 0, total_tokens: 0 },\n  metadata: { session_id: parseData.session_id, tool_used: toolUsed, tool_args: parseData.toolArgs || null, tool_count: parseData.toolCount || 1, mcp_version: 'v2', raw_data: toolUsed ? (() => { try { return JSON.parse(parseData.toolResultFull || parseData.toolResult); } catch(e) { return null; } })() : null }\n};"},"id":"83bfb232-7a63-4ece-8fde-0691467a9b36","name":"Format Response","type":"n8n-nodes-base.code","typeVersion":2,"position":[-2176,2048]},{"parameters":{"respondWith":"json","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json; charset=utf-8"},{"name":"Access-Control-Allow-Origin","value":"*"},{"name":"Access-Control-Allow-Methods","value":"GET, POST, OPTIONS"},{"name":"Access-Control-Allow-Headers","value":"Content-Type, Authorization"}]}}},"id":"a6b42ad0-57d9-44cf-b2f1-04d084836f98","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","typeVersion":1.1,"position":[-1968,2048]},{"parameters":{"jsCode":"const parseData = $('Parse and Execute Tool').first().json;\nconst responseContent = $json?.choices?.[0]?.message?.content || '';\n\nreturn {\n  session_id: parseData.session_id || 'unknown',\n  user_message: parseData.userMessage || '',\n  tool_used: parseData.toolName || null,\n  response: responseContent.substring(0, 5000),\n  timestamp: new Date().toISOString()\n};"},"id":"062ffffb-1f77-4b87-b705-6660902c0b42","name":"Prepare Log Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-1968,2240]},{"parameters":{"operation":"insert","collection":"chat_logs","fields":"session_id,user_message,tool_used,response,timestamp","options":{}},"id":"cfd9f737-2236-427a-863a-4620086e9cc4","name":"Log to MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1.1,"position":[-1744,2240],"credentials":{"mongoDb":{"id":"F2YLzgn75htvYh3n","name":"AITP-MongoDB"}}}],"connections":{"Chat Webhook":{"main":[[{"node":"Input Validator","type":"main","index":0}]]},"Input Validator":{"main":[[{"node":"Fetch MCP Tools","type":"main","index":0}]]},"Fetch MCP Tools":{"main":[[{"node":"Build LLM Prompt","type":"main","index":0}]]},"Build LLM Prompt":{"main":[[{"node":"LLM Tool Selection","type":"main","index":0}]]},"LLM Tool Selection":{"main":[[{"node":"Parse and Execute Tool","type":"main","index":0}]]},"Parse and Execute Tool":{"main":[[{"node":"Has Tool Result?","type":"main","index":0}]]},"Has Tool Result?":{"main":[[{"node":"LLM Summarize Result","type":"main","index":0}],[{"node":"Format Response","type":"main","index":0}]]},"LLM Summarize Result":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Send Response","type":"main","index":0},{"node":"Prepare Log Data","type":"main","index":0}]]},"Prepare Log Data":{"main":[[{"node":"Log to MongoDB","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"binaryMode":"separate","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"054684be-06dc-4519-b0eb-6823f1a0e445","activeVersionId":"054684be-06dc-4519-b0eb-6823f1a0e445","versionCounter":348,"triggerCount":1,"sourceWorkflowId":null,"tags":[{"updatedAt":"2026-04-04T05:18:21.637Z","createdAt":"2026-04-04T05:18:21.637Z","id":"teHqhWG8UXnmU8Z5","name":"sunbird"},{"updatedAt":"2026-04-04T05:18:21.584Z","createdAt":"2026-04-04T05:18:21.584Z","id":"12W158rN0cADNEdK","name":"mcp"},{"updatedAt":"2026-04-04T05:18:21.483Z","createdAt":"2026-04-04T05:18:21.483Z","id":"haYdLHFaT1NEe15Y","name":"v2"},{"updatedAt":"2026-04-04T05:18:21.381Z","createdAt":"2026-04-04T05:18:21.381Z","id":"axRmiQDGYLEuk2Ti","name":"dcim"}],"shared":[{"updatedAt":"2026-01-14T03:17:46.241Z","createdAt":"2026-01-14T03:17:46.241Z","role":"workflow:owner","workflowId":"HeeaSeveP67DepnRYJKyw","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}