migration/n8n/workflows-separate/HuddMiD3koVfmIB6.json
{"updatedAt":"2026-02-20T02:32:36.323Z","createdAt":"2026-01-20T17:29:28.834Z","id":"HuddMiD3koVfmIB6","name":"dcTrack AI Assistant - Main Workflow V1.0","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"d339321a-4b06-4633-a646-4255893a4481","responseMode":"responseNode","options":{}},"id":"aaa82746-52a5-4d68-9953-319f99867b5d","name":"Chat Webhook","type":"n8n-nodes-base.webhook","position":[-1408,208],"webhookId":"d339321a-4b06-4633-a646-4255893a4481","typeVersion":2.1},{"parameters":{"jsCode":"const body = $json.body || $json;\n\nlet message = '';\nif (body.messages && Array.isArray(body.messages)) {\n  const userMessage = body.messages.filter(m => m.role === 'user').pop();\n  message = userMessage ? userMessage.content : '';\n} else {\n  message = body.message || '';\n}\n\nreturn {\n  message: message || 'hello',\n  session_id: 'session_' + Date.now()\n};"},"id":"ded0a9bd-82a6-40c8-811f-997e84485766","name":"Input Validator","type":"n8n-nodes-base.code","position":[-1200,208],"typeVersion":2},{"parameters":{"method":"POST","url":"http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 4096,\n  \"temperature\": 0.1,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are dcTrack DCIM assistant integrated with Sunbird dcTrack and Power IQ via MCP server.\\n\\nOPERATIONS SUPPORTED:\\n- LIST: Get all objects of a type\\n- CREATE: Add new objects\\n- UPDATE: Modify existing objects\\n- DELETE: Remove objects\\n- GENERATE: Generate floor plan\\n\\nOBJECTS SUPPORTED:\\nLOCATION, CABINET, DEVICE, NETWORK, SWITCH, RACK_PDU, PDU, MODEL, ITEM, FLOORPLAN\\n\\nCRITICAL RULES:\\n1. For LIST requests - IMMEDIATELY return template. NO clarification needed.\\n2. PRESERVE FULL LOCATION PATHS with ' > ' separator (e.g., 'AI-DEMO-DC > AI-ROOM-01'). NEVER strip parent location.\\n3. For CREATE: include all provided fields exactly as given.\\n4. For items in cabinets: include cabinet, uPosition, cabinetSide fields when provided.\\n5. For FLOORPLAN: use GENERATE operation with location.\\n6. Always respond with valid JSON only.\\n\\nFIELD MAPPINGS:\\n- name: item name\\n- location: FULL location path (e.g., 'SITE > ROOM')\\n- make: manufacturer\\n- model: model name\\n- cabinet: parent cabinet name for mounted items\\n- uPosition: rack unit position (1-42)\\n- cabinetSide: Left or Right (for PDUs)\\n- railsUsed: Both, Front, or Rear\\n\\nOUTPUT FORMAT:\\n{\\\"templates\\\": [{\\\"Operation\\\": \\\"...\\\", \\\"Object\\\": \\\"...\\\", ...fields}]}\\n\\nEXAMPLES:\\n- 'List all cabinets' → {\\\"templates\\\": [{\\\"Operation\\\": \\\"LIST\\\", \\\"Object\\\": \\\"CABINET\\\"}]}\\n- 'List items in AI-DEMO-DC' → {\\\"templates\\\": [{\\\"Operation\\\": \\\"LIST\\\", \\\"Object\\\": \\\"ITEM\\\", \\\"location\\\": \\\"AI-DEMO-DC\\\"}]}\\n- 'Create cabinet AI-CAB-01 in AI-DEMO-DC > AI-ROOM-01' → {\\\"templates\\\": [{\\\"Operation\\\": \\\"CREATE\\\", \\\"Object\\\": \\\"CABINET\\\", \\\"name\\\": \\\"AI-CAB-01\\\", \\\"location\\\": \\\"AI-DEMO-DC > AI-ROOM-01\\\"}]}\\n- 'Generate floor plan for AI-DEMO-DC' → {\\\"templates\\\": [{\\\"Operation\\\": \\\"GENERATE\\\", \\\"Object\\\": \\\"FLOORPLAN\\\", \\\"location\\\": \\\"AI-DEMO-DC\\\"}]}\\n- 'Show floor plan for AI-DEMO-DC' → {\\\"templates\\\": [{\\\"Operation\\\": \\\"GENERATE\\\", \\\"Object\\\": \\\"FLOORPLAN\\\", \\\"location\\\": \\\"AI-DEMO-DC\\\"}]}\\n- 'Create floor map for AI-DEMO-DC' → {\\\"templates\\\": [{\\\"Operation\\\": \\\"GENERATE\\\", \\\"Object\\\": \\\"FLOORPLAN\\\", \\\"location\\\": \\\"AI-DEMO-DC\\\"}]}\\n\\nRespond with JSON ONLY. No explanations, no markdown.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.message) }}\n    }\n  ]\n}","options":{"timeout":60000}},"id":"f3aed9da-64fb-4cfd-8730-56b95f1d1ac5","name":"LLM via Portkey","type":"n8n-nodes-base.httpRequest","position":[-1008,208],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"const response = $json;\nlet content = '';\n\n// Handle cases where response is missing or malformed\ntry {\n  content = response.choices?.[0]?.message?.content || '';\n} catch (e) {\n  return {\n    success: false,\n    templates: [],\n    layout: null,\n    clarification_needed: false,\n    questions: [],\n    message: '',\n    error: 'Invalid response from LLM'\n  };\n}\n\n// Check for HTML error response (starts with '<')\nif (content.trim().startsWith('<') || (typeof response === 'string' && response.trim().startsWith('<'))) {\n  return {\n    success: false,\n    templates: [],\n    layout: null,\n    clarification_needed: false,\n    questions: [],\n    message: '',\n    error: 'LLM returned an error. Please try again with a smaller request.'\n  };\n}\n\n// Check for empty response\nif (!content || content.trim() === '') {\n  return {\n    success: false,\n    templates: [],\n    layout: null,\n    clarification_needed: false,\n    questions: [],\n    message: '',\n    error: 'Empty response from LLM. Please try again.'\n  };\n}\n\n// Try to extract JSON template from the response\nlet templates = [];\nlet clarification_needed = true;\n\n// Look for JSON in the response\nconst jsonMatch = content.match(/\\{[\\s\\S]*\"templates\"[\\s\\S]*\\}/);\nif (jsonMatch) {\n  try {\n    const parsed = JSON.parse(jsonMatch[0]);\n    if (parsed.templates && parsed.templates.length > 0) {\n      templates = parsed.templates;\n      clarification_needed = false;\n    }\n  } catch (e) {\n    // JSON parse failed - continue to next method\n  }\n}\n\n// Also try to find simple operation/object pattern\nif (templates.length === 0) {\n  const opMatch = content.match(/\"Operation\":\\s*\"(\\w+)\"[\\s\\S]*\"Object\":\\s*\"(\\w+)\"/);\n  if (opMatch) {\n    templates = [{\n      Operation: opMatch[1],\n      Object: opMatch[2]\n    }];\n    clarification_needed = false;\n  }\n}\n\nreturn {\n  success: !clarification_needed,\n  templates: templates,\n  layout: null,\n  clarification_needed: clarification_needed,\n  questions: [],\n  message: content,\n  error: null\n};"},"id":"7c309dba-141d-47be-9e59-80e1a111a2b4","name":"Parse Response","type":"n8n-nodes-base.code","position":[-800,208],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"760e9338-e375-45f8-980b-f24cfa917d8b","leftValue":"={{ $json.clarification_needed }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"fdd7496e-e4b1-4674-bc1a-70b272d8b4cf","name":"Needs Clarification?","type":"n8n-nodes-base.if","position":[-608,208],"typeVersion":2.3},{"parameters":{"method":"POST","url":"={{ $json.toolUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.toolBody) }}","options":{"timeout":120000}},"id":"bbbf19d8-9652-47ea-9d5c-eebc909cbdde","name":"MCP Execute","type":"n8n-nodes-base.httpRequest","position":[-256,288],"typeVersion":4.3},{"parameters":{"jsCode":"const items = $input.all();\nconst mapItems = $('Map to MCP Tool').all();\nconst parseResponse = $('Parse Response').first().json;\n\n// Check for parse error first\nif (parseResponse.error) {\n  return {\n    id: \"chatcmpl-\" + Date.now(),\n    object: \"chat.completion\",\n    created: Math.floor(Date.now() / 1000),\n    model: \"dctrack-assistant\",\n    choices: [{\n      index: 0,\n      message: { role: \"assistant\", content: `❌ ${parseResponse.error}` },\n      finish_reason: \"stop\"\n    }],\n    usage: { prompt_tokens: 10, completion_tokens: 20, total_tokens: 30 }\n  };\n}\n\nconst results = [];\n\nfor (let i = 0; i < items.length; i++) {\n  const mcpData = items[i].json;\n  const mapData = mapItems[i]?.json || {};\n  const filterClass = mapData.filterClass;\n  const filterLocation = mapData.filterLocation;\n  const operation = mapData.operation;\n  const object = mapData.object;\n  let content = '';\n\n  // Handle floor plan response\n  if (object === 'FLOORPLAN' || mcpData.dxf) {\n    const loc = mcpData.location || filterLocation;\n    const count = mcpData.cabinetCount || 0;\n    const filename = mcpData.filename || 'floorplan.dxf';\n    const downloadUrl = `https://sunbird-mcp.apps.ocp419.crucible.iisl.com/download/floorplan/${encodeURIComponent(loc)}`;\n    \n    content = `✅ **Floor Plan Generated for ${loc}**\\n\\n`;\n    content += `📊 **Cabinets:** ${count}\\n`;\n    if (mcpData.cabinets && mcpData.cabinets.length > 0) {\n      content += `📍 **Layout:**\\n`;\n      mcpData.cabinets.forEach(c => {\n        content += `  • ${c.name} (Row: ${c.row || 'N/A'}, Position: ${c.position || 'N/A'})\\n`;\n      });\n    }\n    content += `\\n📥 **Download DXF:** [${filename}](${downloadUrl})\\n`;\n    content += `\\n_Upload this file to dcTrack → Locations → ${loc} → Floor Map to view in 3D._`;\n    results.push(content);\n  }\n  // Handle errors\n  else if (mcpData.success === false || mcpData.errorList?.length > 0) {\n    const errorMsg = mcpData.errorList?.join(', ') || mcpData.message || 'Operation failed';\n    results.push(`❌ Error: ${errorMsg}`);\n  }\n  // Handle create/update success\n  else if (mcpData.id || mcpData.item?.id) {\n    const id = mcpData.id || mcpData.item?.id;\n    const name = mcpData.tiName || mcpData.item?.tiName;\n    results.push(`✅ Created: ${name} (ID: ${id})`);\n  }\n  // Handle delete success\n  else if (mcpData.itemId) {\n    results.push(`✅ Deleted item ID: ${mcpData.itemId}`);\n  }\n  // Handle items list\n  else if (mcpData.items || mcpData.searchResults?.items) {\n    let itemsList = mcpData.items || mcpData.searchResults.items;\n    if (filterClass) {\n      itemsList = itemsList.filter(i => i.tiClass === filterClass);\n    }\n    if (filterLocation) {\n      itemsList = itemsList.filter(i => i.cmbLocation?.includes(filterLocation));\n    }\n    \n    if (itemsList.length === 0) {\n      content = `No ${filterClass || 'items'} found${filterLocation ? ' in ' + filterLocation : ''}.`;\n    } else {\n      const list = itemsList.slice(0, 20).map(i => `• ${i.tiName} (${i.tiClass}) - ${i.cmbStatus}`).join('\\n');\n      content = `**${filterClass || 'Items'}${filterLocation ? ' in ' + filterLocation : ''} in dcTrack:**\\n\\n${list}`;\n      if (itemsList.length > 20) content += `\\n\\n...and ${itemsList.length - 20} more.`;\n    }\n    results.push(content);\n  }\n  // Handle locations\n  else if (mcpData.locations) {\n    const locs = mcpData.locations.map(l => `• ${l.tiLocationName} (${l.tiLocationCode})`).join('\\n');\n    results.push(`**Locations:**\\n\\n${locs}`);\n  }\n}\n\nconst finalContent = results.length > 0 ? results.join('\\n') : 'Operation completed.';\n\nreturn {\n  id: \"chatcmpl-\" + Date.now(),\n  object: \"chat.completion\",\n  created: Math.floor(Date.now() / 1000),\n  model: \"dctrack-assistant\",\n  choices: [{\n    index: 0,\n    message: { role: \"assistant\", content: finalContent },\n    finish_reason: \"stop\"\n  }],\n  usage: { prompt_tokens: 10, completion_tokens: 20, total_tokens: 30 }\n};"},"id":"4caddc3e-d035-4f3c-a6af-6582b0c48562","name":"Format Response","type":"n8n-nodes-base.code","position":[0,192],"typeVersion":2},{"parameters":{"respondWith":"text","responseBody":"={{ JSON.stringify($json) }}","options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"},{"name":"X-Request-ID","value":"={{ $json.id || 'req-' + Date.now() }}"}]}}},"id":"f24aaa38-2040-413b-b38c-b64d69a18c5f","name":"Send Response","type":"n8n-nodes-base.respondToWebhook","position":[336,192],"typeVersion":1.5},{"parameters":{"operation":"insert","collection":"chat_logs","options":{}},"id":"2aaac7ee-f3cd-4091-b9d2-715e15764e41","name":"Log to MongoDB","type":"n8n-nodes-base.mongoDb","position":[352,336],"typeVersion":1.2,"credentials":{"mongoDb":{"id":"F2YLzgn75htvYh3n","name":"AITP-MongoDB"}}},{"parameters":{"operation":"executeQuery","query":"INSERT INTO audit_log (session_id, user_id, action, object_type, request_payload, response_payload, status, created_at) VALUES ($1::uuid, $2, $3, $4, $5::jsonb, $6::jsonb, $7, NOW())","options":{}},"id":"2c28c415-af3d-4184-a33c-6323b8f5431d","name":"Audit to PostgreSQL","type":"n8n-nodes-base.postgres","position":[368,496],"typeVersion":2.6,"credentials":{"postgres":{"id":"m4zNDTmrSsWEeUDQ","name":"AITP-PostgreSQL"}},"disabled":true},{"parameters":{"jsCode":"const input = $json;\nconst templates = input.templates || [];\n\n// Class mapping\nconst classMap = {\n  'CABINET': 'Cabinet',\n  'DEVICE': 'Device',\n  'SERVER': 'Device',\n  'NETWORK': 'Network',\n  'SWITCH': 'Network',\n  'RACK_PDU': 'Rack PDU',\n  'PDU': 'Rack PDU',\n  'PASSIVE': 'Passive',\n  'DATA_PANEL': 'Data Panel',\n  'HVAC': 'HVAC'\n};\n\n// Default models per class\nconst defaultModels = {\n  'Cabinet': { make: 'Rittal', model: 'Orsted VX5311.116' },\n  'Rack PDU': { make: 'CPI', model: 'Orsted EA-3019-C' },\n  'Network': { make: 'Cisco Systems', model: 'Orsted N9K-C93180YC-FX' },\n  'Device': { make: 'Cisco Systems', model: 'Orsted C8200L-1N-4T' }\n};\n\n// Process each template\nconst results = templates.map(template => {\n  const operation = (template.Operation || 'LIST').toUpperCase();\n  let object = (template.Object || 'ITEM').toUpperCase();\n  \n  // Check for type hint\n  const typeHint = (template.type || '').toUpperCase();\n  if (typeHint === 'SWITCH' || typeHint === 'NETWORK') object = 'NETWORK';\n  if (typeHint === 'SERVER') object = 'DEVICE';\n  \n  const itemClass = classMap[object] || 'Device';\n  \n  // Build body\n  const buildBody = () => {\n    const body = {};\n    if (template.id) body.id = template.id;\n    if (template.name) body.name = template.name;\n    if (template.location) body.location = template.location;\n    if (template.status) body.status = template.status;\n    body.make = template.make || defaultModels[itemClass]?.make;\n    body.model = template.model || defaultModels[itemClass]?.model;\n    body.class = itemClass;\n    if (template.cabinet) body.cabinet = template.cabinet;\n    if (template.uPosition) body.uPosition = template.uPosition;\n    if (template.railsUsed) body.railsUsed = template.railsUsed || 'Both';\n    if (template.cabinetSide) body.cabinetSide = template.cabinetSide;\n    if (template.depthPosition) body.depthPosition = template.depthPosition;\n    return body;\n  };\n  \n  // Get tool config\n  let tool, body;\n  \n  // Handle FLOORPLAN\n  if (object === 'FLOORPLAN' || operation === 'GENERATE') {\n    tool = 'dctrack_generate_floorplan';\n    body = { location: template.location || 'AI-DEMO-DC' };\n  }\n  else if (object === 'LOCATION') {\n    tool = 'dctrack_list_locations'; body = {};\n  } \n  else if (object === 'MODEL') {\n    tool = 'dctrack_list_models'; body = {};\n  } \n  else if (['CREATE', 'ADD', 'INSTALL'].includes(operation)) {\n    tool = 'dctrack_create_item'; body = buildBody();\n  } \n  else if (['UPDATE', 'MODIFY'].includes(operation)) {\n    tool = 'dctrack_update_item'; body = buildBody();\n  } \n  else if (['DELETE', 'REMOVE'].includes(operation)) {\n    tool = 'dctrack_delete_item'; body = buildBody();\n  } \n  else {\n    tool = 'dctrack_list_items'; body = {};\n  }\n  \n  return {\n    toolName: tool,\n    toolUrl: `http://sunbird-mcp-server.aitp-ai.svc.cluster.local:8080/tools/${tool}`,\n    toolBody: body,\n    operation: operation,\n    object: object,\n    filterClass: classMap[object] || null,\n    filterLocation: template.location || null,\n    originalMessage: input.message\n  };\n});\n\n// Return array of items for n8n to loop through\nreturn results;"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-432,288],"id":"23b2a8e8-3a65-4b0d-87b7-853e256e768b","name":"Map to MCP Tool"}],"connections":{"Chat Webhook":{"main":[[{"node":"Input Validator","type":"main","index":0}]]},"Input Validator":{"main":[[{"node":"LLM via Portkey","type":"main","index":0}]]},"LLM via Portkey":{"main":[[{"node":"Parse Response","type":"main","index":0}]]},"Parse Response":{"main":[[{"node":"Needs Clarification?","type":"main","index":0}]]},"Needs Clarification?":{"main":[[{"node":"Format Response","type":"main","index":0}],[{"node":"Map to MCP Tool","type":"main","index":0}]]},"MCP Execute":{"main":[[{"node":"Format Response","type":"main","index":0}]]},"Format Response":{"main":[[{"node":"Log to MongoDB","type":"main","index":0},{"node":"Audit to PostgreSQL","type":"main","index":0},{"node":"Send Response","type":"main","index":0}]]},"Map to MCP Tool":{"main":[[{"node":"MCP Execute","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"5d5d9fb9-1d57-4ba1-a8f8-df862caa2d6f","activeVersionId":null,"versionCounter":217,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-01-20T17:29:28.834Z","createdAt":"2026-01-20T17:29:28.834Z","role":"workflow:owner","workflowId":"HuddMiD3koVfmIB6","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}