migration/n8n/workflows-separate/KFsz5u04EYNTdLLE.json
{"updatedAt":"2026-01-09T21:05:47.416Z","createdAt":"2025-12-23T14:28:52.982Z","id":"KFsz5u04EYNTdLLE","name":"DCIM-PUE-Thermal-Monitor","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":15}]}},"id":"0dd33a64-f495-4796-9ddd-7b131601d51f","name":"Every 15 Minutes","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-1248,160]},{"parameters":{"url":"={{ $env.POWERIQ_BASE_URL }}/api/v2/pue/current","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","options":{"timeout":30000}},"id":"6a2d56e8-69e6-476c-a350-a3babe724a2a","name":"Get Current PUE","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1024,64]},{"parameters":{"url":"={{ $env.POWERIQ_BASE_URL }}/api/v2/sensors/environmental","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"type","value":"temperature,humidity"},{"name":"limit","value":"500"}]},"options":{"timeout":30000}},"id":"ff49ff91-bbb8-4980-bb92-fc2bca5d0778","name":"Get Environmental Sensors","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-1024,256]},{"parameters":{"jsCode":"const pueData = $('Get Current PUE').first().json;\nconst sensorData = $('Get Environmental Sensors').first().json;\n\n// Extract sensor readings\nconst sensors = sensorData.data || sensorData.sensors || [];\n\n// ASHRAE Guidelines\nconst ASHRAE_RECOMMENDED_MAX = 27;\nconst ASHRAE_ALLOWABLE_MAX = 32;\nconst CRITICAL_TEMP = 35;\nconst HUMIDITY_MIN = 20;\nconst HUMIDITY_MAX = 80;\n\n// Temperature Analysis\nconst tempSensors = sensors.filter(s => s.type === 'temperature' || s.sensorType === 'temperature');\nconst humiditySensors = sensors.filter(s => s.type === 'humidity' || s.sensorType === 'humidity');\n\n// Identify hotspots\nconst hotspots = tempSensors\n  .filter(s => (s.value || s.reading) > ASHRAE_RECOMMENDED_MAX)\n  .map(s => ({\n    sensorId: s.id,\n    location: s.location || s.cabinet || 'Unknown',\n    temperature: s.value || s.reading,\n    severity: (s.value || s.reading) > CRITICAL_TEMP ? 'critical' : \n              (s.value || s.reading) > ASHRAE_ALLOWABLE_MAX ? 'high' : 'warning'\n  }))\n  .sort((a, b) => b.temperature - a.temperature);\n\n// Calculate averages\nconst avgTemp = tempSensors.length > 0 \n  ? tempSensors.reduce((sum, s) => sum + (s.value || s.reading || 0), 0) / tempSensors.length \n  : 0;\n\nconst avgHumidity = humiditySensors.length > 0\n  ? humiditySensors.reduce((sum, s) => sum + (s.value || s.reading || 0), 0) / humiditySensors.length\n  : 0;\n\n// Humidity issues\nconst humidityIssues = humiditySensors\n  .filter(s => (s.value || s.reading) < HUMIDITY_MIN || (s.value || s.reading) > HUMIDITY_MAX)\n  .map(s => ({\n    sensorId: s.id,\n    location: s.location || s.cabinet || 'Unknown',\n    humidity: s.value || s.reading,\n    issue: (s.value || s.reading) < HUMIDITY_MIN ? 'too_low' : 'too_high'\n  }));\n\n// PUE Analysis\nconst currentPue = pueData.pue || pueData.currentPue || pueData.data?.pue || 0;\nconst itPower = pueData.itPowerKw || pueData.it_power_kw || pueData.data?.it_power_kw || 0;\nconst facilityPower = pueData.facilityPowerKw || pueData.facility_power_kw || pueData.data?.facility_power_kw || 0;\n\nconst pueStatus = currentPue > 2.0 ? 'critical' :\n                 currentPue > 1.8 ? 'poor' :\n                 currentPue > 1.5 ? 'average' :\n                 currentPue > 1.3 ? 'good' : 'excellent';\n\nconst hasCriticalIssues = hotspots.some(h => h.severity === 'critical') || currentPue > 2.0;\nconst hasWarnings = hotspots.length > 0 || currentPue > 1.6 || humidityIssues.length > 0;\n\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    pue: {\n      current: parseFloat(currentPue.toFixed(3)),\n      status: pueStatus,\n      itPowerKw: parseFloat(itPower.toFixed(2)),\n      facilityPowerKw: parseFloat(facilityPower.toFixed(2)),\n      coolingOverhead: parseFloat((facilityPower - itPower).toFixed(2))\n    },\n    thermal: {\n      avgTemperature: parseFloat(avgTemp.toFixed(1)),\n      avgHumidity: parseFloat(avgHumidity.toFixed(1)),\n      sensorCount: tempSensors.length,\n      hotspotCount: hotspots.length,\n      criticalHotspots: hotspots.filter(h => h.severity === 'critical'),\n      allHotspots: hotspots.slice(0, 10) // Top 10\n    },\n    humidity: {\n      issueCount: humidityIssues.length,\n      issues: humidityIssues.slice(0, 5)\n    },\n    alerts: {\n      hasCriticalIssues,\n      hasWarnings,\n      summary: hasCriticalIssues ? 'CRITICAL: Immediate attention required' :\n               hasWarnings ? 'WARNING: Issues detected' : 'OK: All metrics within normal range'\n    }\n  }\n};"},"id":"8262bd93-ce70-4ac6-b4b4-2a154f67c13c","name":"Analyze PUE & Thermal Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[-752,160]},{"parameters":{"schema":{"__rl":true,"mode":"list","value":"public"},"table":{"__rl":true,"mode":"list","value":""}},"id":"a8fa9c18-9061-41cf-ae38-4940bc2cfcd7","name":"Store Metrics in PostgreSQL","type":"n8n-nodes-base.postgres","typeVersion":2.3,"position":[-496,160]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"leftValue":"={{ $json.alerts.hasCriticalIssues }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"e83f4ca6-0e01-4c7a-a5c2-9b39da4977da","name":"Has Critical Issues?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-256,160]},{"parameters":{"method":"POST","url":"={{ $env.LANGSERVE_URL }}/power-agent/invoke","options":{"timeout":60000}},"id":"a8bc91e4-3440-4074-987b-3db1f07c21e0","name":"Get AI Recommendations","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[0,0]},{"parameters":{"method":"POST","url":"={{ $env.SERVICENOW_INSTANCE }}/api/now/table/incident","authentication":"predefinedCredentialType","nodeCredentialType":"httpBasicAuth","options":{}},"id":"6d40b43b-a6e9-4534-a070-e6d9bf92f2eb","name":"Create P1 Incident","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[256,0]},{"parameters":{"text":"=:rotating_light: *CRITICAL ALERT: Data Center Environmental Issue*\n\n*PUE:* {{ $('Analyze PUE & Thermal Data').first().json.pue.current }} ({{ $('Analyze PUE & Thermal Data').first().json.pue.status }})\n*Avg Temperature:* {{ $('Analyze PUE & Thermal Data').first().json.thermal.avgTemperature }}°C\n*Critical Hotspots:* {{ $('Analyze PUE & Thermal Data').first().json.thermal.criticalHotspots.length }}\n\n{{ $('Analyze PUE & Thermal Data').first().json.thermal.criticalHotspots.length > 0 ? '*Hotspot Locations:*\\n' + $('Analyze PUE & Thermal Data').first().json.thermal.criticalHotspots.map(h => `• ${h.location}: ${h.temperature}°C`).join('\\n') : '' }}\n\n*ServiceNow Incident Created*\n\n_AI is analyzing and will provide recommendations shortly._","otherOptions":{}},"id":"ec0e7184-5b00-4f9a-bf35-ab73a8d6bdad","name":"Slack Critical Alert","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[256,160],"webhookId":"651de16e-cbb5-4c4c-8dd2-c71f15d57633"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":""},"conditions":[{"leftValue":"={{ $json.alerts.hasWarnings }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}]},"options":{}},"id":"8a703f8f-4083-463a-875f-953b92e8b83d","name":"Has Warnings?","type":"n8n-nodes-base.if","typeVersion":2,"position":[0,304]},{"parameters":{"text":"=:warning: *Data Center Monitoring Alert*\n\n*PUE:* {{ $json.pue.current }} ({{ $json.pue.status }})\n*Avg Temperature:* {{ $json.thermal.avgTemperature }}°C\n*Hotspots:* {{ $json.thermal.hotspotCount }}\n*Humidity Issues:* {{ $json.humidity.issueCount }}\n\n{{ $json.thermal.hotspotCount > 0 ? '*Top Hotspots:*\\n' + $json.thermal.allHotspots.slice(0,3).map(h => `• ${h.location}: ${h.temperature}°C (${h.severity})`).join('\\n') : '' }}\n\n_Timestamp: {{ $json.timestamp }}_","otherOptions":{}},"id":"bd9b559d-9489-4f72-8116-dbc8839b075c","name":"Slack Warning","type":"n8n-nodes-base.slack","typeVersion":2.1,"position":[256,304],"webhookId":"cb204272-6295-43ad-ad5b-d2d47a4a6e5e"},{"parameters":{"jsCode":"// Log completion\nconsole.log('PUE/Thermal monitoring cycle completed at', new Date().toISOString());\n\nreturn {\n  json: {\n    status: 'completed',\n    timestamp: new Date().toISOString(),\n    metricsStored: true\n  }\n};"},"id":"5a20d6e9-0486-426e-9078-3f20c9816854","name":"Complete","type":"n8n-nodes-base.code","typeVersion":2,"position":[512,160]}],"connections":{"Every 15 Minutes":{"main":[[{"node":"Get Current PUE","type":"main","index":0},{"node":"Get Environmental Sensors","type":"main","index":0}]]},"Get Current PUE":{"main":[[{"node":"Analyze PUE & Thermal Data","type":"main","index":0}]]},"Get Environmental Sensors":{"main":[[{"node":"Analyze PUE & Thermal Data","type":"main","index":0}]]},"Analyze PUE & Thermal Data":{"main":[[{"node":"Store Metrics in PostgreSQL","type":"main","index":0}]]},"Store Metrics in PostgreSQL":{"main":[[{"node":"Has Critical Issues?","type":"main","index":0}]]},"Has Critical Issues?":{"main":[[{"node":"Get AI Recommendations","type":"main","index":0}],[{"node":"Has Warnings?","type":"main","index":0}]]},"Get AI Recommendations":{"main":[[{"node":"Create P1 Incident","type":"main","index":0},{"node":"Slack Critical Alert","type":"main","index":0}]]},"Create P1 Incident":{"main":[[{"node":"Complete","type":"main","index":0}]]},"Slack Critical Alert":{"main":[[{"node":"Complete","type":"main","index":0}]]},"Has Warnings?":{"main":[[{"node":"Slack Warning","type":"main","index":0}],[{"node":"Complete","type":"main","index":0}]]},"Slack Warning":{"main":[[{"node":"Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"b0b4a257-9fa2-456f-a458-58d79b336c35","activeVersionId":null,"versionCounter":2,"triggerCount":0,"sourceWorkflowId":null,"tags":[{"updatedAt":"2025-12-23T14:20:36.344Z","createdAt":"2025-12-23T14:20:36.344Z","id":"bxFoVJyk0zm6A71J","name":"PUE"},{"updatedAt":"2025-12-23T14:20:36.336Z","createdAt":"2025-12-23T14:20:36.336Z","id":"EEofHxC62AanROYL","name":"Thermal"},{"updatedAt":"2025-12-23T14:20:36.326Z","createdAt":"2025-12-23T14:20:36.326Z","id":"dqWZlr4Q3jQ3WGIZ","name":"Monitoring"},{"updatedAt":"2025-12-23T14:13:05.185Z","createdAt":"2025-12-23T14:13:05.185Z","id":"xLYbHIspOpBEJkNP","name":"DCIM"}],"shared":[{"updatedAt":"2025-12-23T14:28:52.982Z","createdAt":"2025-12-23T14:28:52.982Z","role":"workflow:owner","workflowId":"KFsz5u04EYNTdLLE","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}