migration/n8n/workflows-separate/KshP3yOIpExW2ZeptkRsu.json
{"updatedAt":"2026-04-07T15:56:13.090Z","createdAt":"2026-02-20T02:56:48.549Z","id":"KshP3yOIpExW2ZeptkRsu","name":"Rack Equipment Inventory - Image to Excel (Portkey Edition)","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 🔧 SETUP INSTRUCTIONS\n\n**Credential Required (1):**\n- Type: HTTP Header Auth\n- Name: **Anthropic-API-Key**\n- Header Name: `x-api-key`\n- Header Value: `sk-ant-api03-...`\n\n**Node: LLM via Portkey**\n- URL: `http://portkey-gateway.iis-ai-ai.svc.cluster.local:8787/v1/chat/completions`\n- OR external: `https://llm-gateway.apps.ocp419.crucible.iisl.com/v1/chat/completions`\n- Header: `x-portkey-provider: anthropic`\n- Header: `x-api-key: sk-ant-api03-...`\n- Model: `claude-opus-4-6`\n\n**MCP Server:**\n- Internal: `http://sunbird-mcp-server.iis-ai-ai.svc.cluster.local:8080`\n- External: `https://sunbird-mcp.apps.ocp419.crucible.iisl.com`\n\n**Test:**\n```\ncurl -X POST https://workflows.apps.ocp419.crucible.iisl.com/webhook/rack-inventory \\\n  -H 'Content-Type: application/json' \\\n  -d '{\"image_url\":\"https://example.com/rack.jpg\",\"output_format\":\"json\"}'\n```","height":440,"width":420},"id":"aaa7659f-e478-46b3-8ee0-497252e03388","name":"Setup Instructions","type":"n8n-nodes-base.stickyNote","position":[-96,-304],"typeVersion":1},{"parameters":{"content":"## 📤 OUTPUT OPTIONS\n\n**JSON (default):**\nOmit `output_format` or set to `\"json\"`\nReturns structured JSON body\n\n**CSV Download:**\nSet `output_format: \"csv\"`\nReturns file attachment\nOpens in Excel / Google Sheets\n\n**CSV Summary Block:**\nAppended below equipment rows\nContains 9 rack-level metrics","height":220,"width":280},"id":"e398c3b4-d2c4-4ff8-bd5f-60d9583c9a2f","name":"Output Options Note","type":"n8n-nodes-base.stickyNote","position":[1872,-288],"typeVersion":1},{"parameters":{"httpMethod":"POST","path":"rack-inventory","responseMode":"responseNode","options":{}},"id":"81cfd9df-b808-4603-99c0-8d5ff476ac34","name":"Webhook Trigger","type":"n8n-nodes-base.webhook","position":[-96,192],"webhookId":"rack-inventory-webhook","typeVersion":2.1},{"parameters":{"jsCode":"const raw = $input.first().json.body ?? $input.first().json;\n\nconst image_url    = String(raw.image_url    || '').trim();\nconst image_base64 = String(raw.image_base64 || '').trim();\nconst image_type   = String(raw.image_type   || 'image/jpeg').trim();\nconst fmt          = String(raw.output_format || 'json').toLowerCase();\nconst output_format = fmt === 'csv' ? 'csv' : 'json';\nconst request_id   = 'req_' + Date.now();\nconst timestamp    = new Date().toISOString();\n\nconst is_upload = image_base64.length > 100;\nconst has_image = is_upload || image_url.startsWith('http');\n\nreturn {\n  image_url,\n  image_base64,\n  image_type,\n  output_format,\n  request_id,\n  timestamp,\n  is_upload,\n  has_image\n};"},"id":"b80c56eb-d542-40d9-b8d4-13924bc22adb","name":"Validate & Extract Input","type":"n8n-nodes-base.code","position":[128,192],"typeVersion":2},{"parameters":{"jsCode":"const d = $input.first().json;\n\nfunction detectMime(b64str) {\n  try {\n    const bin = Buffer.from(b64str.slice(0, 16), 'base64');\n    if (bin[0] === 0xFF && bin[1] === 0xD8) return 'image/jpeg';\n    if (bin[0] === 0x89 && bin[1] === 0x50) return 'image/png';\n    if (bin[0] === 0x47 && bin[1] === 0x49) return 'image/gif';\n    if (bin[0] === 0x52 && bin[1] === 0x49) return 'image/webp';\n  } catch(e) {}\n  return 'image/jpeg';\n}\n\n// Browser upload — base64 already present\nif (d.is_upload === true && String(d.image_base64 || '').length > 100) {\n  const b64  = d.image_base64;\n  const mime = detectMime(b64);\n  return {\n    image_base64:  b64,\n    media_type:    mime,\n    image_url:     d.image_url,\n    output_format: d.output_format,\n    request_id:    d.request_id,\n    timestamp:     d.timestamp,\n    is_upload:     true\n  };\n}\n\n// URL fetch\nconst url = d.image_url;\nif (!url || !url.startsWith('http')) {\n  throw new Error('No valid image_url. is_upload=' + d.is_upload + ' url=' + url);\n}\n\nconst response = await $http.request({\n  method: 'GET',\n  url: url,\n  encoding: null,\n  followRedirect: true,\n  followAllRedirects: true,\n  rejectUnauthorized: false\n});\n\nconst b64  = Buffer.from(response).toString('base64');\nconst mime = detectMime(b64);\n\nreturn {\n  image_base64:  b64,\n  media_type:    mime,\n  image_url:     url,\n  output_format: d.output_format,\n  request_id:    d.request_id,\n  timestamp:     d.timestamp,\n  is_upload:     false\n};"},"id":"30423137-f25e-4dbc-bf5e-f7da36a942f5","name":"Fetch Image from URL","type":"n8n-nodes-base.code","position":[336,192],"typeVersion":2},{"parameters":{"jsCode":"// Prepare Image — pass through (fetch node already returns base64)\nconst d = $input.first().json;\n\nreturn {\n  image_base64:  d.image_base64,\n  media_type:    d.media_type || d.image_type || 'image/jpeg',\n  image_url:     d.image_url,\n  output_format: d.output_format,\n  request_id:    d.request_id,\n  timestamp:     d.timestamp\n};"},"id":"6c0068fa-72ce-42cb-aa33-bcccf944a5f4","name":"Prepare Image for Claude","type":"n8n-nodes-base.code","position":[560,192],"typeVersion":2},{"parameters":{"method":"POST","url":"http://portkey-gateway.iis-ai-ai.svc.cluster.local:8787/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}","options":{}},"id":"ce0c5b67-4286-48d1-9c13-57b7b8429f70","name":"LLM via Portkey – Vision","type":"n8n-nodes-base.httpRequest","position":[992,192],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst prev = $('Build Vision Body').first().json;\n\nlet text = '';\nif (resp.content && resp.content[0]) {\n  text = resp.content[0].text ?? '';\n} else if (resp.choices && resp.choices[0]) {\n  text = resp.choices[0].message?.content ?? '';\n}\n\nconst cleaned = text.replace(/```json/gi,'').replace(/```/g,'').trim();\n\nlet equipment = [];\ntry {\n  const parsed = JSON.parse(cleaned);\n  equipment = Array.isArray(parsed) ? parsed : [parsed];\n} catch(e) {\n  const m = cleaned.match(/\\[[\\s\\S]*\\]/);\n  if (m) {\n    try { equipment = JSON.parse(m[0]); } catch(e2) {}\n  }\n}\n\nreturn {\n  equipment,\n  image_url:     prev.image_url,\n  output_format: prev.output_format,\n  request_id:    prev.request_id,\n  timestamp:     prev.timestamp\n};"},"id":"1cb9d8ae-59dc-4a47-a66b-a14c585e68c7","name":"Parse Vision Response","type":"n8n-nodes-base.code","position":[1216,192],"typeVersion":2},{"parameters":{"method":"POST","url":"http://portkey-gateway.iis-ai-ai.svc.cluster.local:8787/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ $json.body }}","options":{}},"id":"bdf6fbed-55cf-4b0e-ab33-7aaac8420e41","name":"LLM via Portkey – Summary","type":"n8n-nodes-base.httpRequest","position":[1648,192],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"const resp = $input.first().json;\nconst prev = $('Build Summary Body').first().json;\n\nlet text = '';\nif (resp.content && resp.content[0]) {\n  text = resp.content[0].text ?? '{}';\n} else if (resp.choices && resp.choices[0]) {\n  text = resp.choices[0].message?.content ?? '{}';\n}\n\nconst cleaned = text.replace(/```json/gi,'').replace(/```/g,'').trim();\n\nlet summary = {};\ntry { summary = JSON.parse(cleaned); }\ncatch(e) {\n  summary = {\n    total_units: (prev.equipment||[]).length,\n    primary_vendor: 'Unknown',\n    rack_type: 'Mixed',\n    overall_confidence: 'low',\n    key_observations: ['Summary parse error: ' + e.message]\n  };\n}\n\nreturn {\n  success:               true,\n  equipment:             prev.equipment || [],\n  summary,\n  image_url:             prev.image_url,\n  output_format:         prev.output_format,\n  request_id:            prev.request_id,\n  timestamp:             prev.timestamp,\n  total_equipment_found: (prev.equipment||[]).length\n};"},"id":"4fdce468-2782-4a61-aa3e-24f1fa29b0af","name":"Merge & Structure Data","type":"n8n-nodes-base.code","position":[1872,192],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"id":"route-csv","leftValue":"={{ $json.output_format }}","rightValue":"csv","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"f6836713-7b76-4618-851a-04e997572be6","name":"Route by Output Format","type":"n8n-nodes-base.if","position":[2080,192],"typeVersion":2.3},{"parameters":{"jsCode":"const d = $input.first().json;\nconst eq = d.equipment ?? [];\nconst s  = d.summary   ?? {};\n\nconst esc = v => {\n  const str = (v ?? '') + '';\n  return str.includes(',') || str.includes('\"') || str.includes('\\n')\n    ? '\"' + str.replace(/\"/g,'\"\"') + '\"' : str;\n};\n\nconst rows = ['Position,Equipment Type,Brand,Model,Form Factor,Specifications,Ports,Max RAM,Storage,Year,Confidence,Notes'];\nfor (const i of eq) {\n  rows.push([i.position,i.equipment_type,i.brand,i.model,i.form_factor,\n    i.specifications,i.ports_interfaces,i.max_ram,i.storage_options,\n    i.estimated_year,i.confidence,i.notes].map(esc).join(','));\n}\nrows.push('');\nrows.push('SUMMARY');\nrows.push('Total Equipment,' + esc(s.total_units ?? eq.length));\nrows.push('Primary Vendor,'  + esc(s.primary_vendor));\nrows.push('Rack Type,'       + esc(s.rack_type));\nrows.push('Servers,'         + esc(s.server_count));\nrows.push('Networking,'      + esc(s.networking_count));\nrows.push('Storage,'         + esc(s.storage_count));\nrows.push('Confidence,'      + esc(s.overall_confidence));\n\nreturn { csv_content: rows.join('\\n'), request_id: d.request_id };"},"id":"42733839-c9bc-4bf0-b99e-c600d30b4b50","name":"Generate CSV Output","type":"n8n-nodes-base.code","position":[2304,64],"typeVersion":2},{"parameters":{"jsCode":"const d = $input.first().json;\nreturn {\n  success:               true,\n  request_id:            d.request_id,\n  image_url:             d.image_url,\n  processed_at:          d.timestamp,\n  total_equipment_found: d.total_equipment_found,\n  summary:               d.summary,\n  equipment:             d.equipment,\n  metadata: { model: 'claude-opus-4-6', gateway: 'Portkey', version: '1.0' }\n};"},"id":"1b993426-ca78-4130-a858-9456386e0301","name":"Format JSON Response","type":"n8n-nodes-base.code","position":[2304,304],"typeVersion":2},{"parameters":{"options":{"responseHeaders":{"entries":[{"name":"Content-Type","value":"text/csv"},{"name":"Content-Disposition","value":"attachment; filename=rack_inventory.csv"}]}}},"id":"20f0b58e-dde0-4e8a-afcd-55ec8655217e","name":"CSV Download Response","type":"n8n-nodes-base.respondToWebhook","position":[2528,64],"typeVersion":1.5},{"parameters":{"options":{"responseCode":200,"responseHeaders":{"entries":[{"name":"Content-Type","value":"application/json"}]}}},"id":"c5bd1b1e-419d-46a3-bea9-b47a5cefa158","name":"Webhook Response","type":"n8n-nodes-base.respondToWebhook","position":[2528,304],"typeVersion":1.5},{"parameters":{"jsCode":"const d = $input.first().json;\n\nconst b64   = d.image_base64 || '';\nconst mtype = d.media_type   || 'image/jpeg';\n\nif (b64.length < 500) {\n  throw new Error('image_base64 too short: ' + b64.length + ' chars. Image fetch failed or wrong media type. media_type=' + mtype);\n}\n\nreturn {\n  body: JSON.stringify({\n    model: 'claude-opus-4-6',\n    max_tokens: 4096,\n    messages: [{\n      role: 'user',\n      content: [\n        {\n          type: 'image',\n          source: { type: 'base64', media_type: mtype, data: b64 }\n        },\n        {\n          type: 'text',\n          text: 'You are a data center infrastructure expert. Analyze this rack cabinet image carefully. Identify every piece of equipment you can see. Return ONLY a valid JSON array with no markdown. Each object must have these exact fields: position (e.g. U1, U2), equipment_type (Server/Switch/Router/Firewall/PDU/KVM/Patch Panel/UPS/Storage/Other), brand, model, form_factor (1U/2U/etc), specifications, ports_interfaces, max_ram, storage_options, estimated_year, confidence (high/medium/low), notes.'\n        }\n      ]\n    }]\n  }),\n  image_url:     d.image_url,\n  output_format: d.output_format,\n  request_id:    d.request_id,\n  timestamp:     d.timestamp,\n  media_type:    mtype,\n  b64_length:    b64.length\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[768,192],"id":"6b5320a4-eed5-4c04-a6a4-f1c670ae0eb1","name":"Build Vision Body"},{"parameters":{"jsCode":"const d = $('Parse Vision Response').first().json;\n\nreturn {\n  body: JSON.stringify({\n    model: 'claude-opus-4-6',\n    max_tokens: 2048,\n    messages: [{\n      role: 'user',\n      content: 'Summarize this rack equipment inventory as JSON with exactly these fields: total_units, primary_vendor, rack_type, estimated_compute_cores, estimated_max_ram_tb, server_count, networking_count, storage_count, other_count, estimated_rack_age, overall_confidence (high/medium/low), key_observations (array of 3 strings). Return ONLY valid JSON, no markdown. Equipment: ' + JSON.stringify(d.equipment)\n    }]\n  }),\n  equipment:     d.equipment,\n  image_url:     d.image_url,\n  output_format: d.output_format,\n  request_id:    d.request_id,\n  timestamp:     d.timestamp\n};"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1424,192],"id":"435baa0b-b838-4038-852c-21dc042a110a","name":"Build Summary Body"}],"connections":{"Webhook Trigger":{"main":[[{"node":"Validate & Extract Input","type":"main","index":0}]]},"Validate & Extract Input":{"main":[[{"node":"Fetch Image from URL","type":"main","index":0}]]},"Fetch Image from URL":{"main":[[{"node":"Prepare Image for Claude","type":"main","index":0}]]},"Prepare Image for Claude":{"main":[[{"node":"Build Vision Body","type":"main","index":0}]]},"LLM via Portkey – Vision":{"main":[[{"node":"Parse Vision Response","type":"main","index":0}]]},"Parse Vision Response":{"main":[[{"node":"Build Summary Body","type":"main","index":0}]]},"LLM via Portkey – Summary":{"main":[[{"node":"Merge & Structure Data","type":"main","index":0}]]},"Merge & Structure Data":{"main":[[{"node":"Route by Output Format","type":"main","index":0}]]},"Route by Output Format":{"main":[[{"node":"Generate CSV Output","type":"main","index":0}],[{"node":"Format JSON Response","type":"main","index":0}]]},"Generate CSV Output":{"main":[[{"node":"CSV Download Response","type":"main","index":0}]]},"Format JSON Response":{"main":[[{"node":"Webhook Response","type":"main","index":0}]]},"Build Vision Body":{"main":[[{"node":"LLM via Portkey – Vision","type":"main","index":0}]]},"Build Summary Body":{"main":[[{"node":"LLM via Portkey – Summary","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{"LLM via Portkey – Summary":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}],"LLM via Portkey – Vision":[{"json":{"name":"First item","code":1}},{"json":{"name":"Second item","code":2}}]},"versionId":"08df8c4e-facd-42be-a524-4f226da7b0b1","activeVersionId":null,"versionCounter":215,"triggerCount":1,"sourceWorkflowId":null,"tags":[{"updatedAt":"2026-02-20T03:33:48.640Z","createdAt":"2026-02-20T03:33:48.640Z","id":"fJLiXQ0xjQroobOZ","name":"Portkey"},{"updatedAt":"2026-02-20T03:33:48.639Z","createdAt":"2026-02-20T03:33:48.639Z","id":"QhsyHIZVHc8FllUM","name":"Rack"},{"updatedAt":"2026-02-20T03:33:48.638Z","createdAt":"2026-02-20T03:33:48.638Z","id":"ouwuLeD3xwFoDG46","name":"Claude"},{"updatedAt":"2026-02-20T03:33:48.638Z","createdAt":"2026-02-20T03:33:48.638Z","id":"2AL0BENOuXyrtCaF","name":"Inventory"},{"updatedAt":"2026-02-20T03:33:48.619Z","createdAt":"2026-02-20T03:33:48.619Z","id":"Uaqmus1nCQ9C4HUd","name":"Computer Vision"},{"updatedAt":"2026-02-20T03:33:48.610Z","createdAt":"2026-02-20T03:33:48.610Z","id":"L1kCULX2XWyeO8df","name":"AI"},{"updatedAt":"2025-12-22T20:23:58.420Z","createdAt":"2025-12-22T20:23:58.420Z","id":"E1eJbaRP4ZGPGD2W","name":"IIS-AI"}],"shared":[{"updatedAt":"2026-02-20T02:56:48.549Z","createdAt":"2026-02-20T02:56:48.549Z","role":"workflow:owner","workflowId":"KshP3yOIpExW2ZeptkRsu","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}