migration/n8n/workflows-separate/KyPLfThtpSriGgJniJiZ2.json
{"updatedAt":"2026-02-20T02:32:33.269Z","createdAt":"2026-01-09T21:08:57.324Z","id":"KyPLfThtpSriGgJniJiZ2","name":"Sunbird MCP Server - Complete Test","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{},"id":"c373f153-7d01-46ec-9d1a-4c24bee49e63","name":"Start Test","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-688,112]},{"parameters":{"url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/health","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"5de9cdb5-4e30-4f32-931e-710a73ab3b36","name":"Health Check","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-464,112],"notesInFlow":true,"notes":"Check if MCP server is running"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-1","leftValue":"={{ $json.status }}","rightValue":"healthy","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"0e89cdf7-4212-4181-88c4-c7aca6e0f8a8","name":"Is Healthy?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-240,112]},{"parameters":{"method":"POST","url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/tools/poweriq_list_datacenters","sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"8ccbc853-4ddb-4fe5-960c-e702d0310232","name":"PowerIQ - List Datacenters","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"notesInFlow":true,"notes":"Get all data centers from Power IQ"},{"parameters":{"method":"POST","url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/tools/poweriq_list_pdus","sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"79efce4a-6d88-4863-a201-fb9062e75bf6","name":"PowerIQ - List PDUs","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[224,0],"notesInFlow":true,"notes":"Get all PDUs from Power IQ"},{"parameters":{"method":"POST","url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/tools/poweriq_list_racks","sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"e61f86d4-13fe-49a1-b40b-09d0694b6970","name":"PowerIQ - List Racks","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[448,0],"notesInFlow":true,"notes":"Get all racks from Power IQ"},{"parameters":{"method":"POST","url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/tools/dctrack_list_locations","sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"685b0730-ef38-4054-b4b0-11eca7494024","name":"dcTrack - List Locations","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0],"notesInFlow":true,"notes":"Get all locations from dcTrack"},{"parameters":{"method":"POST","url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/tools/dctrack_list_items","sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"9dbdbbdb-4817-4605-b604-e706f7f7f9a4","name":"dcTrack - List Items","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[880,0],"notesInFlow":true,"notes":"Get all items/assets from dcTrack"},{"parameters":{"method":"POST","url":"https://sunbird-mcp.apps.ocp419.crucible.iisl.com/tools/dcim_get_health_status","sendBody":true,"specifyBody":"json","jsonBody":"{}","options":{"allowUnauthorizedCerts":true,"timeout":30000}},"id":"d99a2b4b-c566-4cf9-bf49-cc1c1032ed1d","name":"DCIM Combined Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1104,0],"notesInFlow":true,"notes":"Get combined health status"},{"parameters":{"jsCode":"// Generate test summary report\nconst results = {\n  timestamp: new Date().toISOString(),\n  mcpServer: 'https://sunbird-mcp.apps.ocp419.crucible.iisl.com',\n  testStatus: 'PASSED',\n  summary: {\n    poweriq: $('DCIM Combined Health').first().json.poweriq || {},\n    dctrack: $('DCIM Combined Health').first().json.dctrack || {}\n  },\n  details: {\n    datacenters: $('PowerIQ - List Datacenters').first().json.data_centers?.length || 0,\n    pdus: $('PowerIQ - List PDUs').first().json.pdus?.length || 0,\n    racks: $('PowerIQ - List Racks').first().json.racks?.length || 0,\n    locations: $('dcTrack - List Locations').first().json.locations?.length || 0,\n    items: $('dcTrack - List Items').first().json.items?.length || 0\n  }\n};\n\nreturn [{ json: results }];"},"id":"740e4b42-df11-457f-8bb5-923e0e3439fa","name":"Generate Report","type":"n8n-nodes-base.code","typeVersion":2,"position":[1328,0]},{"parameters":{"options":{}},"id":"f01dd2bd-01ca-4daa-929d-af581b0e58b7","name":"Error - Not Healthy","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,208]}],"connections":{"Start Test":{"main":[[{"node":"Health Check","type":"main","index":0}]]},"Health Check":{"main":[[{"node":"Is Healthy?","type":"main","index":0}]]},"Is Healthy?":{"main":[[{"node":"PowerIQ - List Datacenters","type":"main","index":0}],[{"node":"Error - Not Healthy","type":"main","index":0}]]},"PowerIQ - List Datacenters":{"main":[[{"node":"PowerIQ - List PDUs","type":"main","index":0}]]},"PowerIQ - List PDUs":{"main":[[{"node":"PowerIQ - List Racks","type":"main","index":0}]]},"PowerIQ - List Racks":{"main":[[{"node":"dcTrack - List Locations","type":"main","index":0}]]},"dcTrack - List Locations":{"main":[[{"node":"dcTrack - List Items","type":"main","index":0}]]},"dcTrack - List Items":{"main":[[{"node":"DCIM Combined Health","type":"main","index":0}]]},"DCIM Combined Health":{"main":[[{"node":"Generate Report","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"3d057531-e8f4-44a3-9307-37cb1d267c2a","activeVersionId":null,"versionCounter":2,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-01-09T21:08:57.324Z","createdAt":"2026-01-09T21:08:57.324Z","role":"workflow:owner","workflowId":"KyPLfThtpSriGgJniJiZ2","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}