migration/n8n/workflows-separate/LoYL8X7pAzxKBMOn.json
{"updatedAt":"2026-02-20T02:32:38.548Z","createdAt":"2026-01-21T18:53:18.252Z","id":"LoYL8X7pAzxKBMOn","name":"dcTrack AI Assistant - Main Workflow v2.0","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"2e3540c9-5747-4c03-80c8-8d9933ccccff","responseMode":"responseNode","options":{}},"id":"5a0a57ec-5e1b-4364-be97-c124f745ebf0","name":"Chat Webhook1","type":"n8n-nodes-base.webhook","position":[-3408,768],"webhookId":"2e3540c9-5747-4c03-80c8-8d9933ccccff","typeVersion":2.1},{"parameters":{"jsCode":"const body = $json.body || $json;\n\nlet message = '';\nif (body.messages && Array.isArray(body.messages)) {\n  const userMessage = body.messages.filter(m => m.role === 'user').pop();\n  message = userMessage ? userMessage.content : '';\n} else {\n  message = body.message || '';\n}\n\nreturn {\n  message: message || 'hello',\n  session_id: body.session_id || 'session_' + Date.now(),\n  timestamp: new Date().toISOString()\n};"},"id":"75e0d71b-c07a-4524-9a12-68a0b186e173","name":"Input Validator1","type":"n8n-nodes-base.code","position":[-3216,768],"typeVersion":2},{"parameters":{"method":"POST","url":"http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 256,\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a classifier for dcTrack DCIM requests. Classify the user's request into exactly ONE category.\\n\\nCATEGORIES:\\n- LOCATION: Data centers, floors, rooms, aisles, rows\\n- CABINET: Racks, cabinets, elevation, capacity, space\\n- DEVICE: Servers, storage, blades, chassis, VMs\\n- NETWORK: Switches, routers, firewalls, patch panels, data connections\\n- POWER: PDUs, UPS, power connections, power chain, outlets\\n- ENVIRONMENTAL: CRAC, CRAH, cooling, probes, sensors, temperature\\n- FACILITY: Generators, transformers, utility feeds, chillers, UPS banks\\n- PASSIVE: Shelves, blanking plates, filler panels\\n- MODEL: Models, makes, manufacturers, library\\n- BULK: Multiple items, batch operations, bulk create/update\\n- VALIDATION: Check, validate, verify placement, connections, budget\\n- WORKFLOW: Deploy, provision, decommission, install complete\\n- REPORT: Floor plan, elevation report, capacity report, visualization\\n- POWERIQ: Power readings, PUE, alerts, live monitoring, sensor readings\\n- ANALYSIS: Ghost servers, thermal analysis, rack summary, find capacity\\n- GENERAL: Greetings, help, unclear requests\\n\\nRESPOND WITH JSON ONLY:\\n{\\\"category\\\": \\\"CATEGORY_NAME\\\"}\\n\\nEXAMPLES:\\n'List all cabinets' → {\\\"category\\\": \\\"CABINET\\\"}\\n'Create server WEB-01' → {\\\"category\\\": \\\"DEVICE\\\"}\\n'Connect to PDU outlet 5' → {\\\"category\\\": \\\"POWER\\\"}\\n'Generate floor plan' → {\\\"category\\\": \\\"REPORT\\\"}\\n'Get power reading' → {\\\"category\\\": \\\"POWERIQ\\\"}\\n'Deploy new server' → {\\\"category\\\": \\\"WORKFLOW\\\"}\\n'Find available space' → {\\\"category\\\": \\\"ANALYSIS\\\"}\\n'Hello' → {\\\"category\\\": \\\"GENERAL\\\"}\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.message) }}\n    }\n  ]\n}","options":{"timeout":30000}},"id":"f1c18e2e-81fb-4404-b694-99cb0a21d59a","name":"Stage 1 - Classify Category1","type":"n8n-nodes-base.httpRequest","position":[-3008,768],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"const response = $json;\nconst userMessage = $('Input Validator1').item.json.message;\n\nlet category = 'GENERAL';\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '';\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    category = (parsed.category || 'GENERAL').toUpperCase();\n  }\n} catch (e) {\n  category = 'GENERAL';\n}\n\n// Validate category\nconst validCategories = ['LOCATION', 'CABINET', 'DEVICE', 'NETWORK', 'POWER', \n  'ENVIRONMENTAL', 'FACILITY', 'PASSIVE', 'MODEL', 'BULK', 'VALIDATION', \n  'WORKFLOW', 'REPORT', 'POWERIQ', 'ANALYSIS', 'GENERAL'];\n\nif (!validCategories.includes(category)) {\n  category = 'GENERAL';\n}\n\nreturn {\n  category: category,\n  message: userMessage,\n  timestamp: $('Input Validator1').item.json.timestamp,\n  session_id: $('Input Validator1').item.json.session_id\n};"},"id":"898da52e-f16d-4dbb-b6a0-aa9f142f724d","name":"Parse Category1","type":"n8n-nodes-base.code","position":[-2816,768],"typeVersion":2},{"parameters":{"jsCode":"const category = $json.category;\nconst message = $json.message;\n\n// Define tool prompts for each category\nconst CATEGORY_PROMPTS = {\n  LOCATION: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_location - Create location. Args: name, subclass (Data Center|Floor|Room), parentLocation?, address?, city?, state?\n• dctrack_create_sublocation - Create Aisle/Row. Args: name, type (Aisle|Row), parentLocation\n• dctrack_list_locations - List locations. Args: type?, parentLocation?\n• dctrack_get_location - Get details. Args: locationId or locationName\n• dctrack_update_location - Update. Args: locationId, name?, address?\n• dctrack_delete_location - Delete empty location. Args: locationId`,\n    examples: `EXAMPLES:\n'List all data centers' → {\"tool\": \"dctrack_list_locations\", \"args\": {\"type\": \"Data Center\"}}\n'Create room Server-Room-A in Floor-1' → {\"tool\": \"dctrack_create_location\", \"args\": {\"name\": \"Server-Room-A\", \"subclass\": \"Room\", \"parentLocation\": \"Floor-1\"}}\n'List locations' → {\"tool\": \"dctrack_list_locations\", \"args\": {}}`\n  },\n  \n  CABINET: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_cabinet - Create cabinet. Args: name, location, model?, uHeight?(42), facing?(N|S|E|W), maxKW?\n• dctrack_list_cabinets - List cabinets. Args: location?, row?, status?\n• dctrack_get_cabinet - Get details. Args: cabinetId or cabinetName\n• dctrack_get_cabinet_elevation - Get elevation view. Args: cabinetId\n• dctrack_get_cabinet_capacity - Get capacity. Args: cabinetId\n• dctrack_find_cabinet_space - Find available U slots. Args: cabinetId, uHeight, preferredPosition?(top|middle|bottom)\n• dctrack_update_cabinet - Update. Args: cabinetId, name?, maxKW?, facing?\n• dctrack_delete_cabinet - Delete empty cabinet. Args: cabinetId`,\n    examples: `EXAMPLES:\n'List cabinets in DC-EAST' → {\"tool\": \"dctrack_list_cabinets\", \"args\": {\"location\": \"DC-EAST\"}}\n'Show elevation for A-01' → {\"tool\": \"dctrack_get_cabinet_elevation\", \"args\": {\"cabinetId\": \"A-01\"}}\n'Find space for 4U in B-05' → {\"tool\": \"dctrack_find_cabinet_space\", \"args\": {\"cabinetId\": \"B-05\", \"uHeight\": 4}}\n'List all cabinets' → {\"tool\": \"dctrack_list_cabinets\", \"args\": {}}`\n  },\n  \n  DEVICE: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_device - Create server/device. Args: name, cabinet, uPosition?, class?(Device), subclass?(Standard|Chassis|Blade|VM), model?, make?, serialNumber?, status?\n• dctrack_create_network_device - Create switch/router. Args: name, cabinet, uPosition?, subclass?(Standard|Chassis|Zero U), model?, make?\n• dctrack_list_items - List items. Args: class?, location?, cabinet?, status?, model?\n• dctrack_search_items - Search by name/serial. Args: searchTerm, class?, location?\n• dctrack_get_item - Get details. Args: itemId\n• dctrack_update_item - Update. Args: itemId, name?, status?, serialNumber?, assetTag?\n• dctrack_move_item - Move item. Args: itemId, targetCabinet, uPosition?\n• dctrack_delete_item - Delete. Args: itemId`,\n    examples: `EXAMPLES:\n'Create server WEB-001 in cabinet A-01 at U10' → {\"tool\": \"dctrack_create_device\", \"args\": {\"name\": \"WEB-001\", \"cabinet\": \"A-01\", \"uPosition\": 10}}\n'List all servers' → {\"tool\": \"dctrack_list_items\", \"args\": {\"class\": \"Device\"}}\n'Find device with serial ABC123' → {\"tool\": \"dctrack_search_items\", \"args\": {\"searchTerm\": \"ABC123\"}}\n'List all items' → {\"tool\": \"dctrack_list_items\", \"args\": {}}`\n  },\n  \n  NETWORK: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_network_device - Create switch/router. Args: name, cabinet, uPosition?, model?, make?\n• dctrack_create_data_panel - Create patch panel. Args: name, cabinet, uPosition?, portCount?\n• dctrack_get_data_ports - Get data ports. Args: itemId\n• dctrack_create_data_connection - Connect data. Args: sourceItemId, sourcePort, destItemId, destPort, mediaType?\n• dctrack_delete_data_connection - Disconnect. Args: connectionId\n• dctrack_trace_data_path - Trace path. Args: sourceItemId, destItemId\n• dctrack_list_connections - List connections. Args: itemId, connectionType?(data)`,\n    examples: `EXAMPLES:\n'Create switch SW-01 in A-01' → {\"tool\": \"dctrack_create_network_device\", \"args\": {\"name\": \"SW-01\", \"cabinet\": \"A-01\"}}\n'Connect WEB-001 eth0 to SW-01 Gi1/1' → {\"tool\": \"dctrack_create_data_connection\", \"args\": {\"sourceItemId\": \"WEB-001\", \"sourcePort\": \"eth0\", \"destItemId\": \"SW-01\", \"destPort\": \"Gi1/1\"}}\n'List network devices' → {\"tool\": \"dctrack_list_items\", \"args\": {\"class\": \"Network\"}}`\n  },\n  \n  POWER: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_rack_pdu - Create Rack PDU. Args: name, cabinet, cabinetSide?(Left|Right), model?, make?\n• dctrack_create_floor_pdu - Create Floor PDU. Args: name, location, model?\n• dctrack_create_ups - Create UPS. Args: name, location or cabinet, model?\n• dctrack_list_power_items - List PDUs/UPS. Args: location?, cabinet?\n• dctrack_get_power_ports - Get power ports. Args: itemId\n• dctrack_create_power_connection - Connect power. Args: sourceItemId, sourcePort, destItemId, destPort\n• dctrack_delete_power_connection - Disconnect. Args: connectionId\n• dctrack_trace_power_chain - Trace power path. Args: itemId\n• dctrack_get_power_capacity - Get capacity. Args: itemId`,\n    examples: `EXAMPLES:\n'Create PDU in A-01 left side' → {\"tool\": \"dctrack_create_rack_pdu\", \"args\": {\"name\": \"PDU-A01-L\", \"cabinet\": \"A-01\", \"cabinetSide\": \"Left\"}}\n'Connect WEB-001 to PDU-A01-L outlet 5' → {\"tool\": \"dctrack_create_power_connection\", \"args\": {\"sourceItemId\": \"WEB-001\", \"sourcePort\": \"Power 1\", \"destItemId\": \"PDU-A01-L\", \"destPort\": \"Outlet 5\"}}\n'Trace power for DB-001' → {\"tool\": \"dctrack_trace_power_chain\", \"args\": {\"itemId\": \"DB-001\"}}\n'List all PDUs' → {\"tool\": \"dctrack_list_power_items\", \"args\": {}}`\n  },\n  \n  ENVIRONMENTAL: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_crac - Create CRAC/CRAH. Args: name, location, model?, coolingCapacity?\n• dctrack_create_probe - Create sensor/probe. Args: name, location or cabinet, probeType?\n• dctrack_list_cooling_units - List cooling. Args: location?, type?`,\n    examples: `EXAMPLES:\n'Create CRAC in Server-Room-A' → {\"tool\": \"dctrack_create_crac\", \"args\": {\"name\": \"CRAC-01\", \"location\": \"Server-Room-A\"}}\n'List cooling units' → {\"tool\": \"dctrack_list_cooling_units\", \"args\": {}}`\n  },\n  \n  FACILITY: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_facility_item - Create facility item. Args: name, class (Utility Feed|Generator|ATS|UPS Bank|Transformer|AC Distribution|Power Panel|Chiller|Cooling Tower), location, capacity?\n• dctrack_list_facility_items - List facility items. Args: class?, location?\n• dctrack_get_power_path - Get power distribution path. Args: locationId`,\n    examples: `EXAMPLES:\n'Create generator GEN-01' → {\"tool\": \"dctrack_create_facility_item\", \"args\": {\"name\": \"GEN-01\", \"class\": \"Generator\", \"location\": \"DC-EAST\"}}\n'List all transformers' → {\"tool\": \"dctrack_list_facility_items\", \"args\": {\"class\": \"Transformer\"}}\n'List facility items' → {\"tool\": \"dctrack_list_facility_items\", \"args\": {}}`\n  },\n  \n  PASSIVE: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_create_passive - Create passive item. Args: name, cabinet, subclass (Shelf|Blanking Plate|Filler Panel|General), uPosition?, uHeight?\n• dctrack_list_passives - List passive items. Args: cabinet?, subclass?`,\n    examples: `EXAMPLES:\n'Add blanking plate at U20 in A-01' → {\"tool\": \"dctrack_create_passive\", \"args\": {\"name\": \"BP-A01-U20\", \"cabinet\": \"A-01\", \"subclass\": \"Blanking Plate\", \"uPosition\": 20}}\n'List passive items' → {\"tool\": \"dctrack_list_passives\", \"args\": {}}`\n  },\n  \n  MODEL: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_list_models - List models. Args: class?, make?, search?\n• dctrack_get_model - Get model details. Args: modelId or modelName\n• dctrack_list_makes - List manufacturers. Args: search?`,\n    examples: `EXAMPLES:\n'List Dell server models' → {\"tool\": \"dctrack_list_models\", \"args\": {\"make\": \"Dell\", \"class\": \"Device\"}}\n'Show all manufacturers' → {\"tool\": \"dctrack_list_makes\", \"args\": {}}\n'List all models' → {\"tool\": \"dctrack_list_models\", \"args\": {}}`\n  },\n  \n  BULK: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_bulk_create_items - Create multiple items. Args: items (array of item definitions)\n• dctrack_bulk_update_items - Update multiple. Args: updates (array of {itemId, updates})\n• dctrack_bulk_create_connections - Create multiple connections. Args: connections (array)`,\n    examples: `EXAMPLES:\n'Create 5 servers WEB-01 to WEB-05' → {\"tool\": \"dctrack_bulk_create_items\", \"args\": {\"items\": [{\"name\": \"WEB-01\", \"cabinet\": \"A-01\"}, {\"name\": \"WEB-02\", \"cabinet\": \"A-01\"}, {\"name\": \"WEB-03\", \"cabinet\": \"A-01\"}, {\"name\": \"WEB-04\", \"cabinet\": \"A-01\"}, {\"name\": \"WEB-05\", \"cabinet\": \"A-01\"}]}}`\n  },\n  \n  VALIDATION: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_validate_placement - Check if item fits. Args: class, uHeight, cabinet, uPosition\n• dctrack_validate_connection - Check connection validity. Args: sourceItemId, sourcePort, destItemId, destPort\n• dctrack_validate_power_budget - Check power budget. Args: itemId, plannedLoad?`,\n    examples: `EXAMPLES:\n'Can I put 4U server at U20 in A-01?' → {\"tool\": \"dctrack_validate_placement\", \"args\": {\"uHeight\": 4, \"cabinet\": \"A-01\", \"uPosition\": 20}}\n'Check power budget for B-05' → {\"tool\": \"dctrack_validate_power_budget\", \"args\": {\"itemId\": \"B-05\"}}`\n  },\n  \n  WORKFLOW: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_deploy_device - Full deployment (find space, create, connect). Args: name, class, model, location or cabinet, powerConfig?, networkConfig?\n• dctrack_deploy_cabinet - Deploy cabinet with PDUs. Args: name, location, pduModel?, pduCount?\n• dctrack_decommission_device - Full decommission. Args: itemId or itemName, keepRecord?(true)\n• dctrack_get_workflow_status - Check workflow. Args: workflowId`,\n    examples: `EXAMPLES:\n'Deploy new Dell R750 server APP-001 in DC-EAST' → {\"tool\": \"dctrack_deploy_device\", \"args\": {\"name\": \"APP-001\", \"model\": \"Dell R750\", \"location\": \"DC-EAST\"}}\n'Decommission server OLD-01' → {\"tool\": \"dctrack_decommission_device\", \"args\": {\"itemName\": \"OLD-01\"}}`\n  },\n  \n  REPORT: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_generate_floor_plan - Generate Visio floor plan. Args: locationId\n• dctrack_generate_rack_elevation - Generate elevation. Args: cabinetId, format?(text|json)\n• dctrack_get_capacity_report - Capacity report. Args: locationId or cabinetId\n• dctrack_download_file - Download file. Args: fileId`,\n    examples: `EXAMPLES:\n'Generate floor plan for Server-Room-A' → {\"tool\": \"dctrack_generate_floor_plan\", \"args\": {\"locationId\": \"Server-Room-A\"}}\n'Show elevation for cabinet A-01' → {\"tool\": \"dctrack_generate_rack_elevation\", \"args\": {\"cabinetId\": \"A-01\"}}\n'Get capacity report for DC-EAST' → {\"tool\": \"dctrack_get_capacity_report\", \"args\": {\"locationId\": \"DC-EAST\"}}`\n  },\n  \n  POWERIQ: {\n    tools: `AVAILABLE TOOLS:\n• poweriq_list_pdus - List monitored PDUs. Args: location?\n• poweriq_get_pdu_readings - Get power readings (watts, amps). Args: pduId\n• poweriq_get_outlet_readings - Get per-outlet readings. Args: pduId\n• poweriq_list_sensors - List sensors. Args: location?, sensorType?\n• poweriq_get_sensor_readings - Get sensor data. Args: sensorId\n• poweriq_get_pue - Get PUE. Args: locationId, timeRange?\n• poweriq_list_alerts - List alerts. Args: severity?, acknowledged?`,\n    examples: `EXAMPLES:\n'Get power reading for PDU-A01-L' → {\"tool\": \"poweriq_get_pdu_readings\", \"args\": {\"pduId\": \"PDU-A01-L\"}}\n'What is the PUE for DC-EAST?' → {\"tool\": \"poweriq_get_pue\", \"args\": {\"locationId\": \"DC-EAST\"}}\n'Show active alerts' → {\"tool\": \"poweriq_list_alerts\", \"args\": {}}\n'List monitored PDUs' → {\"tool\": \"poweriq_list_pdus\", \"args\": {}}`\n  },\n  \n  ANALYSIS: {\n    tools: `AVAILABLE TOOLS:\n• dcim_get_rack_summary - Complete rack summary. Args: cabinetId\n• dcim_find_capacity - Find available space. Args: requiredU, location?, minPowerKW?\n• dcim_identify_ghost_servers - Find ghost servers. Args: location?, threshold?\n• dcim_thermal_analysis - Thermal analysis. Args: locationId`,\n    examples: `EXAMPLES:\n'Find cabinets with 10U available' → {\"tool\": \"dcim_find_capacity\", \"args\": {\"requiredU\": 10}}\n'Find ghost servers in DC-EAST' → {\"tool\": \"dcim_identify_ghost_servers\", \"args\": {\"location\": \"DC-EAST\"}}\n'Get rack summary for A-01' → {\"tool\": \"dcim_get_rack_summary\", \"args\": {\"cabinetId\": \"A-01\"}}`\n  },\n  \n  GENERAL: {\n    tools: `AVAILABLE TOOLS:\n• dctrack_list_items - List all items. Args: class?, location?, status?\n• dctrack_list_locations - List locations. Args: type?\n• dctrack_list_cabinets - List cabinets. Args: location?`,\n    examples: `EXAMPLES:\n'Hello' → {\"tool\": \"none\", \"args\": {}, \"message\": \"Hello! I can help you manage your data center. Try asking me to list cabinets, create devices, check capacity, or generate reports.\"}\n'Hi' → {\"tool\": \"none\", \"args\": {}, \"message\": \"Hi! I'm your dcTrack assistant. I can help with locations, cabinets, devices, power, network, reports, and monitoring. What would you like to do?\"}\n'What can you do?' → {\"tool\": \"none\", \"args\": {}, \"message\": \"I can help with: locations, cabinets, devices, power connections, network connections, reports, and Power IQ monitoring. Just ask!\"}\n'Help' → {\"tool\": \"none\", \"args\": {}, \"message\": \"I can help you manage your data center. Try: 'List cabinets', 'Create server X in cabinet Y', 'Show capacity', or 'Generate floor plan'.\"}`\n  }\n};\n\nconst categoryConfig = CATEGORY_PROMPTS[category] || CATEGORY_PROMPTS.GENERAL;\n\n// Build the complete system prompt for Stage 2\nconst systemPrompt = `You are dcTrack DCIM assistant. Select the correct tool and arguments for the user's request.\n\n${categoryConfig.tools}\n\n${categoryConfig.examples}\n\nRULES:\n1. Respond with JSON ONLY - no markdown, no explanation outside JSON\n2. Preserve full location paths with ' > ' separator\n3. Use exact field names as shown\n4. For greetings/unclear requests, use {\"tool\": \"none\", \"args\": {}, \"message\": \"your helpful response\"}\n\nOUTPUT FORMAT:\n{\"tool\": \"tool_name\", \"args\": {...}, \"explanation\": \"brief description\"}`;\n\nreturn {\n  category: category,\n  message: message,\n  systemPrompt: systemPrompt,\n  timestamp: $json.timestamp,\n  session_id: $json.session_id\n};"},"id":"2bf46bed-ae01-4037-a9ae-eaa7681e1c8f","name":"Build Category-Specific Prompt1","type":"n8n-nodes-base.code","position":[-2608,768],"typeVersion":2},{"parameters":{"method":"POST","url":"http://portkey-gateway.aitp-ai.svc.cluster.local:8787/v1/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"},{"name":"x-portkey-provider","value":"anthropic"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-3-haiku-20240307\",\n  \"max_tokens\": 512,\n  \"temperature\": 0,\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": {{ JSON.stringify($json.systemPrompt) }}\n    },\n    {\n      \"role\": \"user\",\n      \"content\": {{ JSON.stringify($json.message) }}\n    }\n  ]\n}","options":{"timeout":30000}},"id":"a7b4fa25-af99-47d1-8c1a-d5d61f49095e","name":"Stage 2 - Select Tool1","type":"n8n-nodes-base.httpRequest","position":[-2416,768],"typeVersion":4.3,"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}}},{"parameters":{"jsCode":"const response = $json;\nconst category = $('Build Category-Specific Prompt1').item.json.category;\nconst userMessage = $('Build Category-Specific Prompt1').item.json.message;\n\nlet tool = null;\nlet args = {};\nlet explanation = '';\nlet directMessage = null;\n\ntry {\n  const content = response.choices?.[0]?.message?.content || '';\n  const match = content.match(/\\{[\\s\\S]*\\}/);\n  if (match) {\n    const parsed = JSON.parse(match[0]);\n    tool = parsed.tool || null;\n    args = parsed.args || {};\n    explanation = parsed.explanation || '';\n    directMessage = parsed.message || null;\n  }\n} catch (e) {\n  // Parse failed - will be handled as direct response\n  directMessage = \"I'm sorry, I didn't understand that. Could you please rephrase your request?\";\n}\n\n// Handle 'none' tool (greetings, help)\nconst isDirectResponse = (tool === 'none' || tool === null) || directMessage;\n\nreturn {\n  tool: tool,\n  args: args,\n  explanation: explanation,\n  directMessage: directMessage,\n  isDirectResponse: isDirectResponse && (tool === 'none' || tool === null),\n  category: category,\n  message: userMessage,\n  timestamp: $('Build Category-Specific Prompt1').item.json.timestamp,\n  session_id: $('Build Category-Specific Prompt1').item.json.session_id\n};"},"id":"dfcb97f9-a1d7-43c0-9c3e-5fa640da1c76","name":"Parse Tool Selection1","type":"n8n-nodes-base.code","position":[-2208,768],"typeVersion":2},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"direct-response-check","leftValue":"={{ $json.isDirectResponse }}","rightValue":"","operator":{"type":"boolean","operation":"true","singleValue":true}}],"combinator":"and"},"options":{}},"id":"65b14822-5ddb-4d78-98e1-1e21a5a1e68f","name":"Is Direct Response?1","type":"n8n-nodes-base.if","position":[-2016,768],"typeVersion":2.3},{"parameters":{"jsCode":"const input = $json;\n\n// MCP Server base URL\nconst MCP_BASE_URL = 'http://sunbird-mcp-server.aitp-ai.svc.cluster.local:8080';\n\nconst tool = input.tool;\nconst args = input.args || {};\n\nif (!tool || tool === 'none') {\n  return {\n    skip: true,\n    directMessage: input.directMessage,\n    originalMessage: input.message\n  };\n}\n\nreturn {\n  skip: false,\n  toolName: tool,\n  toolUrl: `${MCP_BASE_URL}/tools/${tool}`,\n  toolBody: args,\n  explanation: input.explanation,\n  category: input.category,\n  originalMessage: input.message,\n  timestamp: input.timestamp\n};"},"id":"ceb95b9b-c722-426b-99e7-efeec8edd84f","name":"Prepare MCP Call1","type":"n8n-nodes-base.code","position":[-1808,848],"typeVersion":2},{"parameters":{"method":"POST","url":"={{ $json.toolUrl }}","sendBody":true,"specifyBody":"json","jsonBody":"={{ JSON.stringify($json.toolBody) }}","options":{"timeout":120000}},"id":"629de49d-4ec3-471d-872c-cb4a35a19bcf","name":"MCP Execute1","type":"n8n-nodes-base.httpRequest","position":[-1616,848],"typeVersion":4.3},{"parameters":{"jsCode":"const mcpResult = $json;\nconst prepData = $('Prepare MCP Call1').item.json;\n\n// Handle errors\nif (mcpResult.error) {\n  return {\n    response: {\n      success: false,\n      message: mcpResult.error,\n      data: null\n    },\n    originalMessage: prepData.originalMessage,\n    toolUsed: prepData.toolName,\n    timestamp: prepData.timestamp\n  };\n}\n\n// Format response based on tool/category\nlet message = '';\nlet formattedData = mcpResult;\n\nconst toolName = prepData.toolName || '';\nconst category = prepData.category || '';\n\n// Format CABINET responses\nif (toolName.includes('cabinet') || category === 'CABINET') {\n  const items = mcpResult.searchResults?.items || mcpResult.items || mcpResult || [];\n  const cabinets = Array.isArray(items) ? items : [];\n  \n  if (cabinets.length > 0) {\n    message = `📦 **Found ${cabinets.length} Cabinet(s)**\\n\\n`;\n    \n    // Group by location\n    const byLocation = {};\n    cabinets.forEach(cab => {\n      const loc = cab.cmbLocation || cab.location || 'Unknown Location';\n      if (!byLocation[loc]) byLocation[loc] = [];\n      byLocation[loc].push(cab);\n    });\n    \n    for (const [location, cabs] of Object.entries(byLocation)) {\n      message += `📍 **${location}**\\n`;\n      cabs.forEach(cab => {\n        const name = cab.tiName || cab.name;\n        const status = cab.cmbStatus || cab.status || 'N/A';\n        message += `   • ${name} (Status: ${status})\\n`;\n      });\n      message += '\\n';\n    }\n  } else {\n    message = '📦 No cabinets found.';\n  }\n}\n\n// Format LOCATION responses\nelse if (toolName.includes('location') || category === 'LOCATION') {\n  const locations = Array.isArray(mcpResult) ? mcpResult : (mcpResult.locations || mcpResult.items || []);\n  \n  if (locations.length > 0) {\n    message = `🏢 **Found ${locations.length} Location(s)**\\n\\n`;\n    locations.slice(0, 20).forEach(loc => {\n      const name = loc.tiLocationName || loc.name || loc.locationName;\n      const type = loc.tiLocationType || loc.type || '';\n      message += `   • ${name}${type ? ` (${type})` : ''}\\n`;\n    });\n    if (locations.length > 20) {\n      message += `\\n   ... and ${locations.length - 20} more`;\n    }\n  } else {\n    message = '🏢 No locations found.';\n  }\n}\n\n// Format DEVICE/ITEM responses\nelse if (toolName.includes('item') || toolName.includes('device') || category === 'DEVICE') {\n  const items = mcpResult.searchResults?.items || mcpResult.items || [];\n  \n  if (items.length > 0) {\n    message = `🖥️ **Found ${items.length} Item(s)**\\n\\n`;\n    \n    // Group by class\n    const byClass = {};\n    items.forEach(item => {\n      const cls = item.tiClass || item.class || 'Other';\n      if (!byClass[cls]) byClass[cls] = [];\n      byClass[cls].push(item);\n    });\n    \n    for (const [cls, clsItems] of Object.entries(byClass)) {\n      message += `**${cls}s:**\\n`;\n      clsItems.slice(0, 10).forEach(item => {\n        const name = item.tiName || item.name;\n        const location = item.cmbLocation || item.location || '';\n        const cabinet = item.cmbCabinet || item.cabinet || '';\n        message += `   • ${name}`;\n        if (cabinet) message += ` in ${cabinet}`;\n        if (location && !cabinet) message += ` at ${location}`;\n        message += '\\n';\n      });\n      if (clsItems.length > 10) {\n        message += `   ... and ${clsItems.length - 10} more ${cls}s\\n`;\n      }\n      message += '\\n';\n    }\n  } else {\n    message = '🖥️ No items found.';\n  }\n}\n\n// Format MODEL responses\nelse if (toolName.includes('model') || category === 'MODEL') {\n  const models = mcpResult.searchResults?.items || mcpResult.items || mcpResult.models || [];\n  \n  if (models.length > 0) {\n    message = `📋 **Found ${models.length} Model(s)**\\n\\n`;\n    models.slice(0, 15).forEach(model => {\n      const make = model.cmbMake || model.make || '';\n      const name = model.tiModel || model.model || model.name;\n      message += `   • ${make ? make + ' ' : ''}${name}\\n`;\n    });\n    if (models.length > 15) {\n      message += `\\n   ... and ${models.length - 15} more`;\n    }\n  } else {\n    message = '📋 No models found.';\n  }\n}\n\n// Format POWER/PDU responses\nelse if (toolName.includes('power') || toolName.includes('pdu') || category === 'POWER' || category === 'POWERIQ') {\n  const pdus = mcpResult.pdus || mcpResult.items || mcpResult || [];\n  const items = Array.isArray(pdus) ? pdus : [];\n  \n  if (items.length > 0) {\n    message = `⚡ **Found ${items.length} Power Device(s)**\\n\\n`;\n    items.slice(0, 15).forEach(pdu => {\n      const name = pdu.name || pdu.tiName || 'Unknown';\n      const status = pdu.status || pdu.cmbStatus || '';\n      message += `   • ${name}${status ? ` (${status})` : ''}\\n`;\n    });\n  } else {\n    message = '⚡ No power devices found.';\n  }\n}\n\n// Format create/update/delete responses\nelse if (toolName.includes('create')) {\n  const item = mcpResult.item || mcpResult;\n  const name = item.tiName || item.name || 'Item';\n  message = `✅ **Successfully Created**\\n\\n   • Name: ${name}\\n   • ID: ${item.id || 'N/A'}`;\n}\n\nelse if (toolName.includes('update')) {\n  message = `✅ **Successfully Updated**`;\n}\n\nelse if (toolName.includes('delete')) {\n  message = `✅ **Successfully Deleted**`;\n}\n\n// Format floor plan responses\nelse if (toolName.includes('floorplan') || toolName.includes('floor_plan')) {\n  message = `🗺️ **Floor Plan Generated**\\n\\n`;\n  message += `   • Location: ${mcpResult.location || 'N/A'}\\n`;\n  message += `   • Cabinets: ${mcpResult.cabinetCount || 0}\\n`;\n  if (mcpResult.downloadPath) {\n    message += `   • Download: ${mcpResult.downloadPath}`;\n  }\n}\n\n// Default formatting\nelse {\n  if (typeof mcpResult === 'object') {\n    const count = mcpResult.count || mcpResult.total || \n                  (mcpResult.searchResults?.items?.length) || \n                  (Array.isArray(mcpResult) ? mcpResult.length : null);\n    \n    if (count !== null) {\n      message = `✅ **Operation Complete**\\n\\n   Found ${count} result(s).`;\n    } else {\n      message = `✅ **Operation Complete**\\n\\n${JSON.stringify(mcpResult, null, 2).slice(0, 500)}`;\n    }\n  } else {\n    message = `✅ **Operation Complete**`;\n  }\n}\n\nreturn {\n  response: {\n    success: true,\n    message: message,\n    data: formattedData\n  },\n  originalMessage: prepData.originalMessage,\n  toolUsed: prepData.toolName,\n  category: prepData.category,\n  timestamp: new Date().toISOString()\n};"},"id":"4b8aa5c5-0b14-4515-907a-c850bc1d021a","name":"Format MCP Response1","type":"n8n-nodes-base.code","position":[-1408,848],"typeVersion":2},{"parameters":{"jsCode":"// Direct response (greetings, help, etc.)\nconst input = $json;\n\nreturn {\n  response: {\n    success: true,\n    message: input.directMessage || \"Hello! I'm your dcTrack AI assistant. I can help you manage locations, cabinets, devices, power connections, and more. What would you like to do?\",\n    data: null\n  },\n  originalMessage: input.message,\n  toolUsed: 'none',\n  category: input.category,\n  timestamp: new Date().toISOString()\n};"},"id":"e6f21472-9e49-4e76-8c62-7d6e1e9b00b2","name":"Format Direct Response1","type":"n8n-nodes-base.code","position":[-1808,688],"typeVersion":2},{"parameters":{"jsCode":"// Merge responses from both paths\nconst items = $input.all();\nreturn items[0].json;"},"id":"e989034b-e176-4722-aebc-a6ddbad1f582","name":"Merge Responses1","type":"n8n-nodes-base.code","position":[-1216,768],"typeVersion":2},{"parameters":{"respondWith":"json","responseBody":"={{ $json.response }}","options":{}},"id":"eb91fd78-36c8-47b1-a93d-3d7568c84c15","name":"Send Response1","type":"n8n-nodes-base.respondToWebhook","position":[-1008,688],"typeVersion":1.1},{"parameters":{"collection":"dctrack_chat_logs","options":{}},"id":"ff553d39-a77b-4d9b-9d48-21c67769d61a","name":"Log to MongoDB1","type":"n8n-nodes-base.mongoDb","position":[-1008,848],"typeVersion":1.1,"credentials":{"mongoDb":{"id":"F2YLzgn75htvYh3n","name":"AITP-MongoDB"}}}],"connections":{"Chat Webhook1":{"main":[[{"node":"Input Validator1","type":"main","index":0}]]},"Input Validator1":{"main":[[{"node":"Stage 1 - Classify Category1","type":"main","index":0}]]},"Stage 1 - Classify Category1":{"main":[[{"node":"Parse Category1","type":"main","index":0}]]},"Parse Category1":{"main":[[{"node":"Build Category-Specific Prompt1","type":"main","index":0}]]},"Build Category-Specific Prompt1":{"main":[[{"node":"Stage 2 - Select Tool1","type":"main","index":0}]]},"Stage 2 - Select Tool1":{"main":[[{"node":"Parse Tool Selection1","type":"main","index":0}]]},"Parse Tool Selection1":{"main":[[{"node":"Is Direct Response?1","type":"main","index":0}]]},"Is Direct Response?1":{"main":[[{"node":"Format Direct Response1","type":"main","index":0}],[{"node":"Prepare MCP Call1","type":"main","index":0}]]},"Prepare MCP Call1":{"main":[[{"node":"MCP Execute1","type":"main","index":0}]]},"MCP Execute1":{"main":[[{"node":"Format MCP Response1","type":"main","index":0}]]},"Format MCP Response1":{"main":[[{"node":"Merge Responses1","type":"main","index":0}]]},"Format Direct Response1":{"main":[[{"node":"Merge Responses1","type":"main","index":0}]]},"Merge Responses1":{"main":[[{"node":"Send Response1","type":"main","index":0},{"node":"Log to MongoDB1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false,"timeSavedMode":"fixed","callerPolicy":"workflowsFromSameOwner"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"b7b1378b-158e-4382-8d6d-dbe202f13fac","activeVersionId":null,"versionCounter":245,"triggerCount":1,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-01-21T18:53:18.252Z","createdAt":"2026-01-21T18:53:18.252Z","role":"workflow:owner","workflowId":"LoYL8X7pAzxKBMOn","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}