migration/n8n/workflows-separate/m0m4mQ6cNz9g0BE9.json
{"updatedAt":"2026-04-07T15:51:46.719Z","createdAt":"2026-04-06T21:19:51.382Z","id":"m0m4mQ6cNz9g0BE9","name":"ITIL AI Agentic Server Patching Workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks"}]}},"id":"1159cf22-318c-4131-aaa6-994c647381db","name":"Weekly Patch Cycle Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.2,"position":[-7040,352],"notes":"Fires every week to initiate the patching cycle. Can also be triggered manually."},{"parameters":{"method":"POST","url":"http://mcp-tenable-server:3000/scan/launch","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"scan_template","value":"patch_audit"},{"name":"targets","value":"={{ $json.server_group || 'all_production' }}"},{"name":"severity_filter","value":"critical,high,medium"}]},"options":{}},"id":"73758385-d752-44c4-8723-5c4282c256d2","name":"MCP: Launch Tenable Vulnerability Scan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6816,352],"notes":"MCP Server: Tenable/Nessus. Triggers authenticated scan against all production CIs."},{"parameters":{"amount":300,"unit":"seconds"},"id":"82b311d6-f445-40a3-8c4d-65f2eb4b2dfc","name":"Wait for Scan Completion","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-6608,352],"webhookId":"14ffba9a-e4f3-4c5d-bf31-39eeacc12236","notes":"Wait 5 minutes for Tenable scan to complete before polling results."},{"parameters":{"url":"http://mcp-tenable-server:3000/scan/results","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"severity","value":"critical,high"},{"name":"format","value":"json"},{"name":"include_cvss","value":"true"}]},"options":{}},"id":"8e958011-e343-4115-a8ee-3829b7936791","name":"MCP: Fetch Vulnerability Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-6384,352],"notes":"MCP Server: Tenable. Retrieves scan results filtered to Critical and High CVEs."},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"You are an expert ITIL Change Manager and Security Engineer. Analyze vulnerability scan results and produce a structured risk assessment. For each vulnerability: rate business impact (1-10), urgency (1-10), calculate composite risk score, recommend patch priority (P1/P2/P3), identify affected services, suggest maintenance window. Output strictly as JSON array.","role":"system"},{"content":"=Analyze these vulnerability scan results and provide risk assessment:\n\n{{ JSON.stringify($json.vulnerabilities) }}\n\nServer inventory context: {{ JSON.stringify($json.server_inventory) }}\n\nReturn a JSON object with: { summary: {total_vulns, critical_count, high_count, estimated_risk_level}, vulnerabilities: [{cve_id, server, severity, cvss_score, business_impact, urgency, composite_risk, patch_priority, affected_services, recommended_window}], overall_recommendation: string }"}]},"options":{"maxTokens":4096,"temperature":0.2}},"id":"45390c2a-a2f5-4297-8587-939e100e6d07","name":"AI Agent: Risk Assessment & Prioritization","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-6160,352],"notes":"AI analyses CVEs, maps to business services, scores risk and sets P1/P2/P3 priority."},{"parameters":{"conditions":{"options":{"caseSensitive":false,"leftValue":"","typeValidation":"strict"},"conditions":[{"leftValue":"={{ JSON.parse($json.choices[0].message.content).summary.critical_count }}","rightValue":0,"operator":{"type":"number","operation":"gt"}}],"combinator":"and"},"options":{}},"id":"dbc1f536-7473-4be8-95f8-cbb226f1ef98","name":"Critical Vulns Found?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-5936,352],"notes":"Routes to emergency CAB path if critical CVEs exist, otherwise standard change path."},{"parameters":{"text":"=:rotating_light: *CRITICAL Vulnerabilities Detected - Emergency Patching Required*\n\n*Summary:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.estimated_risk_level }} Risk Level\n*Critical CVEs:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.critical_count }}\n*High CVEs:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.high_count }}\n\n*AI Recommendation:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).overall_recommendation }}\n\nEmergency CAB review requested. RFC being auto-generated.","otherOptions":{}},"id":"8c230edc-3295-4e39-9fbf-3d91edc4b036","name":"Slack: Emergency Alert to Security Team","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-5728,224],"webhookId":"bdd537ef-f27f-4517-a18a-76e62483e859","notes":"Native n8n Slack node. Posts emergency alert to #security-alerts channel."},{"parameters":{"text":"=:information_source: *Weekly Patch Scan Complete - Standard Change Required*\n\n*High CVEs:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.high_count }}\n*Risk Level:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.estimated_risk_level }}\n\nRFC being created in ServiceNow. CAB scheduled for next Thursday.","otherOptions":{}},"id":"c47cd7e9-7c42-4571-bd13-8bca45b9aaed","name":"Slack: Standard Patch Notification","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-5728,464],"webhookId":"e31f6b49-f338-4be2-8b9f-7b20e3185d5c","notes":"Native n8n Slack node. Notifies #itops-patching for standard change track."},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"You are an ITIL Change Manager. Generate a complete, professional RFC (Request for Change) document for server patching. Include all required ITIL fields. Output as structured JSON that can be submitted directly to ServiceNow.","role":"system"},{"content":"=Generate a complete RFC for the following patch scenario:\n\nRisk Assessment: {{ JSON.stringify($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content) }}\n\nGenerate JSON with fields: { short_description, description, justification, impact, risk, category, subcategory, priority, change_type, implementation_plan, rollback_plan, test_plan, estimated_duration_minutes, requested_by, assignment_group, cmdb_ci_list, maintenance_window_start, maintenance_window_end, cab_required }"}]},"options":{"maxTokens":3000,"temperature":0.1}},"id":"28fba439-add6-4553-9055-0f4106d5ec16","name":"AI Agent: Generate RFC Document","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-5504,352],"notes":"AI auto-generates a complete ITIL RFC with implementation plan, rollback, and test plan."},{"parameters":{},"id":"75da56cf-3213-45eb-9409-328194f07e8a","name":"ServiceNow: Create Change Request (RFC)","type":"n8n-nodes-base.serviceNow","typeVersion":2,"position":[-5280,352],"credentials":{},"notes":"Native n8n ServiceNow node. Creates the RFC in ServiceNow Change Management module."},{"parameters":{"project":"PATCH","issueType":"Change","summary":"=Server Patch RFC: {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}","additionalFields":{"description":"=RFC created in ServiceNow: {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\nRisk Level: {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.estimated_risk_level }}\n\nServiceNow Link: https://your-instance.service-now.com/nav_to.do?uri=change_request.do?sysparm_query=number={{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}","labels":["patching","security","itil"],"priority":{"name":"High"}}},"id":"cd7f2824-df29-4133-96cd-a230a3565eaa","name":"Jira: Create Tracking Ticket","type":"n8n-nodes-base.jira","typeVersion":1,"position":[-5056,352],"notes":"Native n8n Jira node. Creates linked tracking ticket in PATCH project for team visibility."},{"parameters":{"method":"POST","url":"http://mcp-ansible-server:3000/playbook/run","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"playbook","value":"patch_test_nonprod.yml"},{"name":"inventory","value":"nonprod_servers"},{"name":"extra_vars","value":"={{ JSON.stringify({ rfc_number: $('ServiceNow: Create Change Request (RFC)').item.json.result.number, patches: JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.cve_id) }) }}"},{"name":"environment","value":"staging"}]},"options":{}},"id":"512f7861-659f-4fee-9452-771b1537dfc7","name":"MCP: Ansible - Apply Patches to Non-Prod","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4848,352],"notes":"MCP Server: Ansible AAP. Runs patch playbook against staging/nonprod environment first."},{"parameters":{"amount":600,"unit":"seconds"},"id":"78450d0a-08b3-4a94-af9a-7877b08a59f9","name":"Wait: Non-Prod Patch Run","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-4624,352],"webhookId":"4bd70796-f372-4dff-8330-eeb967a9b84a","notes":"Wait 10 minutes for non-prod patching to complete."},{"parameters":{"url":"http://mcp-ansible-server:3000/job/status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"job_id","value":"={{ $('MCP: Ansible - Apply Patches to Non-Prod').item.json.job_id }}"}]},"options":{}},"id":"4a76044c-7624-4426-be6b-b937899fccdb","name":"MCP: Check Non-Prod Patch Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-4400,352],"notes":"MCP Server: Ansible. Polls job status to confirm non-prod patching succeeded."},{"parameters":{"conditions":{"options":{"caseSensitive":false},"conditions":[{"leftValue":"={{ $json.status }}","rightValue":"successful","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"b175dd3a-b4a0-45f2-a959-91a712e948dc","name":"Non-Prod Tests Passed?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-4176,352],"notes":"Gate: only proceed to CAB approval if non-prod patching succeeded."},{"parameters":{"text":"=:x: *Non-Prod Patching FAILED* - RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\nJob ID: {{ $('MCP: Ansible - Apply Patches to Non-Prod').item.json.job_id }}\nError: {{ $json.error_message }}\n\nRFC has been put on hold. Investigation required before CAB submission.","otherOptions":{}},"id":"9b294919-956b-4678-b55c-af80c3da22ca","name":"Slack: Alert Non-Prod Failure","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-3968,464],"webhookId":"9f40073e-1bfa-4545-9ded-8aca03313b39","notes":"Notifies team if non-prod patching fails. Workflow stops here pending investigation."},{"parameters":{},"id":"a305a3ad-7add-42e9-9d83-b5be3fc3bffe","name":"ServiceNow: Update RFC - Ready for CAB","type":"n8n-nodes-base.serviceNow","typeVersion":2,"position":[-3968,224],"credentials":{},"notes":"Updates RFC state to Scheduled and adds non-prod test evidence to work notes."},{"parameters":{"text":"=:clipboard: *CAB Review Required* - RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\n*Change:* Server Patching - {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.critical_count }} Critical / {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.high_count }} High CVEs\n\n*Risk Level:* {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).summary.estimated_risk_level }}\n\n*Non-Prod Test:* PASSED\n\n*ServiceNow RFC:* https://your-instance.service-now.com/change_request.do?sysparm_query=number={{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\nPlease approve or reject in ServiceNow within 24 hours.","otherOptions":{}},"id":"4dd52de0-0006-4b9d-b4df-d1542fc43cf8","name":"Slack: CAB Review Request","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-3744,224],"webhookId":"35e3b25f-c841-4775-8dae-f2dbcad3f71c","notes":"Posts CAB review request to #cab-approvals with RFC link. CAB members approve in ServiceNow."},{"parameters":{"resume":"webhook","options":{}},"id":"a9d43f0c-9746-4c21-966c-88a944ab68bf","name":"Wait: CAB Decision (24h / Webhook)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-3520,224],"webhookId":"cab-decision-webhook","notes":"Waits up to 24h for CAB decision. ServiceNow webhook fires this node when RFC state changes."},{"parameters":{},"id":"0c07b5da-da98-46ef-826c-b628d08e0130","name":"ServiceNow: Check CAB Decision","type":"n8n-nodes-base.serviceNow","typeVersion":2,"position":[-3296,224],"credentials":{},"notes":"Fetches RFC state from ServiceNow to determine if CAB approved or rejected."},{"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ $json.result[0].state }}","rightValue":"Approved","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"168d51dc-f925-4b45-9123-28f584ec7bfc","name":"CAB Approved?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-3088,224],"notes":"Routes to production patching if CAB approved, or revision loop if rejected."},{"parameters":{"text":"=:x: *CAB REJECTED* RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\nReason: {{ $json.result[0].close_notes }}\n\nPlease revise the RFC and resubmit for CAB.","otherOptions":{}},"id":"28e9e893-5aa6-4a71-afd9-ebd835be98f5","name":"Slack: CAB Rejection Notice","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-2864,352],"webhookId":"18346f69-0a30-4006-9d32-b1928ffada0d","notes":"Notifies team of CAB rejection with reason. Workflow ends; manual RFC revision required."},{"parameters":{"method":"POST","url":"http://mcp-veeam-server:3000/backup/snapshot","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"servers","value":"={{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.server).filter((v, i, a) => a.indexOf(v) === i).join(',') }}"},{"name":"snapshot_type","value":"pre_patch"},{"name":"retention_days","value":"30"},{"name":"rfc_number","value":"={{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}"}]},"options":{}},"id":"9795b88f-b0b0-45a6-8a81-b0f4a23f3a4a","name":"MCP: Veeam - Take Pre-Patch Snapshots","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2864,128],"notes":"MCP Server: Veeam Backup. Takes snapshots of all target servers before patching begins."},{"parameters":{"amount":300,"unit":"seconds"},"id":"9c5798f1-7ce6-4a30-ab3f-4a6e365ca9aa","name":"Wait: Snapshot Completion","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-2640,128],"webhookId":"4f938d06-d214-49eb-8aba-29cf91d3143e","notes":"Wait 5 minutes for all snapshots to complete."},{"parameters":{"text":"=:white_check_mark: *Snapshots Complete - Beginning Production Patching*\n\nRFC: {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\nSnapshot Job ID: {{ $('MCP: Veeam - Take Pre-Patch Snapshots').item.json.job_id }}\nServers: {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.server).filter((v, i, a) => a.indexOf(v) === i).length }} targets\n\nProduction patching starting now. Monitoring active.","otherOptions":{}},"id":"4ffdde05-e748-4b25-9788-e5fd4b2b18e3","name":"Slack: Patching Started Notification","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[-2416,128],"webhookId":"775439d4-f7f8-4028-b412-2662899f4dfd","notes":"Informs ops team that production patching is commencing."},{"parameters":{"method":"POST","url":"http://mcp-pagerduty-server:3000/maintenance/create","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"description","value":"=Patching window - RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}"},{"name":"start_time","value":"={{ new Date().toISOString() }}"},{"name":"end_time","value":"={{ new Date(Date.now() + 4*60*60*1000).toISOString() }}"},{"name":"services","value":"all_production"}]},"options":{}},"id":"83cd8cf9-acd5-4efe-b4d6-dbbe23f61c0f","name":"MCP: PagerDuty - Open Maintenance Window","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-2208,128],"notes":"MCP Server: PagerDuty. Opens 4-hour maintenance window to suppress alerts during patching."},{"parameters":{"method":"POST","url":"http://mcp-ansible-server:3000/playbook/run","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"playbook","value":"patch_production.yml"},{"name":"inventory","value":"production_servers"},{"name":"extra_vars","value":"={{ JSON.stringify({ rfc_number: $('ServiceNow: Create Change Request (RFC)').item.json.result.number, patches: JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.cve_id), snapshot_job_id: $('MCP: Veeam - Take Pre-Patch Snapshots').item.json.job_id }) }}"},{"name":"environment","value":"production"},{"name":"rolling_update","value":"true"},{"name":"batch_size","value":"25%"}]},"options":{}},"id":"3e214738-01f1-46d7-8e28-1fddd6ccd356","name":"MCP: Ansible - Apply Patches to Production","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1984,128],"notes":"MCP Server: Ansible AAP. Runs production patch playbook with 25% rolling batch updates."},{"parameters":{"amount":1800,"unit":"seconds"},"id":"32e88966-2aa5-464e-918e-ff44060c3f0e","name":"Wait: Production Patching (30 min)","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-1760,128],"webhookId":"7b5b53b4-0be0-4d57-b551-8dcdf1aaa756","notes":"Wait 30 minutes for production patching across all rolling batches."},{"parameters":{"url":"http://mcp-ansible-server:3000/job/status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"job_id","value":"={{ $('MCP: Ansible - Apply Patches to Production').item.json.job_id }}"}]},"options":{}},"id":"6d873bd6-c9a5-4a1d-930c-5087f67e9f45","name":"MCP: Check Production Patch Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1536,128],"credentials":{"httpHeaderAuth":{"id":"AzCkqafDCBelwLnq","name":"Anthropic-API-Key"}},"notes":"MCP Server: Ansible. Polls production job to confirm patch completion."},{"parameters":{"url":"http://mcp-datadog-server:3000/monitors/status","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"tags","value":"env:production"},{"name":"group_states","value":"alert,warn"},{"name":"timeframe","value":"15m"}]},"options":{}},"id":"4691366d-9ccb-4e74-9c41-f1d3020a40d0","name":"MCP: Datadog - Check Service Health","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1328,128],"notes":"MCP Server: Datadog. Queries all production monitors for alerts within 15 minutes of patching."},{"parameters":{"method":"POST","url":"http://mcp-tenable-server:3000/scan/launch","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"scan_template","value":"patch_verification"},{"name":"targets","value":"={{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.server).filter((v, i, a) => a.indexOf(v) === i).join(',') }}"},{"name":"cve_list","value":"={{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.cve_id).join(',') }}"}]},"options":{}},"id":"8eb8257a-203c-4a41-b19b-dd9b2ba76391","name":"MCP: Tenable - Post-Patch Verification Scan","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-1104,128],"notes":"MCP Server: Tenable. Re-scans patched servers against the original CVE list to confirm remediation."},{"parameters":{"amount":300,"unit":"seconds"},"id":"ebcf72c1-34c0-40e2-b271-af158b61a080","name":"Wait: Verification Scan","type":"n8n-nodes-base.wait","typeVersion":1,"position":[-880,128],"webhookId":"9cde104d-6e64-4536-8f53-01b3b3f36eda","notes":"Wait 5 minutes for verification scan to complete."},{"parameters":{"url":"http://mcp-tenable-server:3000/scan/results","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendQuery":true,"queryParameters":{"parameters":[{"name":"scan_id","value":"={{ $('MCP: Tenable - Post-Patch Verification Scan').item.json.scan_id }}"},{"name":"format","value":"json"}]},"options":{}},"id":"98851e5c-ee85-4968-8c48-9461fddc3e68","name":"MCP: Fetch Verification Results","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-656,128],"notes":"MCP Server: Tenable. Fetches verification scan results to check if CVEs are remediated."},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"messages":{"values":[{"content":"You are an ITIL Change Manager doing post-implementation review. Analyze patching results and determine: 1) Did all patches apply successfully? 2) Are original CVEs remediated? 3) Are services healthy per monitoring? 4) Should we close the RFC as successful or initiate rollback? Output JSON with decision.","role":"system"},{"content":"=Evaluate post-patch results:\n\nAnsible Production Status: {{ JSON.stringify($('MCP: Check Production Patch Status').item.json) }}\n\nDatadog Health Status: {{ JSON.stringify($('MCP: Datadog - Check Service Health').item.json) }}\n\nTenable Verification Results: {{ JSON.stringify($('MCP: Fetch Verification Results').item.json) }}\n\nOriginal CVEs targeted: {{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.cve_id).join(', ') }}\n\nReturn JSON: { decision: 'SUCCESS' or 'ROLLBACK', patched_servers_count: number, remediated_cves: number, remaining_cves: number, service_health: 'GREEN' or 'YELLOW' or 'RED', alerts_triggered: number, summary: string, pir_notes: string }"}]},"options":{"maxTokens":2000,"temperature":0.1}},"id":"e5aac73c-9e8c-4e4e-a9b1-3718fd1fd011","name":"AI Agent: Post-Implementation Review","type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":1.3,"position":[-448,128],"notes":"AI synthesises Ansible, Datadog and Tenable data to determine SUCCESS or ROLLBACK decision."},{"parameters":{"conditions":{"options":{},"conditions":[{"leftValue":"={{ JSON.parse($json.choices[0].message.content).decision }}","rightValue":"SUCCESS","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"65b6ec90-b559-437c-a497-83efbd258d3d","name":"Patch Successful?","type":"n8n-nodes-base.if","typeVersion":2,"position":[-224,128],"notes":"Routes to close/CMDB update on success, or rollback on failure."},{"parameters":{"method":"POST","url":"http://mcp-veeam-server:3000/backup/restore","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"snapshot_job_id","value":"={{ $('MCP: Veeam - Take Pre-Patch Snapshots').item.json.job_id }}"},{"name":"restore_type","value":"instant_vm_recovery"},{"name":"reason","value":"=Post-patch testing failed - RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}"}]},"options":{}},"id":"9c2f5092-7f34-4306-a720-7d0eba125da1","name":"MCP: Veeam - Execute Rollback","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,352],"notes":"MCP Server: Veeam. Initiates instant VM recovery from pre-patch snapshot on failure."},{"parameters":{"text":"=:sos: *PATCH ROLLBACK INITIATED* - RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\nReason: {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).summary }}\n\nService Health: {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).service_health }}\nAlerts Triggered: {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).alerts_triggered }}\n\nVeeam rollback in progress. ETA ~15 minutes.","otherOptions":{}},"id":"896c08b8-5f1f-49cb-9e0e-b204d570296e","name":"Slack: Rollback Alert","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[0,224],"webhookId":"55aac0a1-fa43-4cd3-905b-7a078da3dacb","notes":"Emergency alert to #security-alerts when rollback is triggered."},{"parameters":{"method":"PUT","url":"http://mcp-cmdb-server:3000/ci/bulk-update","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"servers","value":"={{ JSON.parse($('AI Agent: Risk Assessment & Prioritization').item.json.choices[0].message.content).vulnerabilities.map(v => v.server).filter((v, i, a) => a.indexOf(v) === i).join(',') }}"},{"name":"patch_date","value":"={{ new Date().toISOString().split('T')[0] }}"},{"name":"patched_cves","value":"={{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).remediated_cves }}"},{"name":"patch_status","value":"compliant"},{"name":"rfc_number","value":"={{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}"},{"name":"next_patch_window","value":"={{ new Date(Date.now() + 30*24*60*60*1000).toISOString().split('T')[0] }}"}]},"options":{}},"id":"0ca8b7b2-2225-4576-9087-0e693238b6a8","name":"MCP: CMDB - Update CI Patch Records","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[0,0],"notes":"MCP Server: ServiceNow CMDB. Updates all CI records with patch date, status and CVE count."},{"parameters":{},"id":"73cfa05c-f58e-43b6-a6f9-111a3d596ec2","name":"ServiceNow: Close Change Record","type":"n8n-nodes-base.serviceNow","typeVersion":2,"position":[224,0],"credentials":{},"notes":"Native n8n ServiceNow node. Closes the RFC with full PIR notes and outcome summary."},{"parameters":{"operation":"update","issueKey":"={{ $('Jira: Create Tracking Ticket').item.json.key }}","updateFields":{}},"id":"b2ec7ac7-0121-40f0-a5e9-7c501b90fecf","name":"Jira: Close Tracking Ticket","type":"n8n-nodes-base.jira","typeVersion":1,"position":[448,0],"notes":"Native n8n Jira node. Closes the PATCH project tracking issue."},{"parameters":{"method":"POST","url":"http://mcp-pagerduty-server:3000/maintenance/close","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"bodyParameters":{"parameters":[{"name":"maintenance_id","value":"={{ $('MCP: PagerDuty - Open Maintenance Window').item.json.maintenance_id }}"}]},"options":{}},"id":"7ca2cdac-c1f8-4022-8674-48ee5b3e6027","name":"MCP: PagerDuty - Close Maintenance Window","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[672,0],"notes":"MCP Server: PagerDuty. Closes maintenance window to re-enable alerting."},{"parameters":{"text":"=:tada: *Patch Cycle COMPLETE* - RFC {{ $('ServiceNow: Create Change Request (RFC)').item.json.result.number }}\n\n*Servers Patched:* {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).patched_servers_count }}\n*CVEs Remediated:* {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).remediated_cves }}\n*Service Health:* {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).service_health }}\n\n*Summary:* {{ JSON.parse($('AI Agent: Post-Implementation Review').item.json.choices[0].message.content).summary }}\n\nRFC closed in ServiceNow. CMDB updated. Alerts re-enabled.","otherOptions":{}},"id":"9e15b67f-9e5f-49fe-a00c-d314c2d90def","name":"Slack: Patch Cycle Complete","type":"n8n-nodes-base.slack","typeVersion":2.2,"position":[880,0],"webhookId":"15079abc-7c9a-4b52-9e94-a903fa75eaa6","notes":"Final success notification with full patch cycle summary."},{"parameters":{"jsCode":"// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  item.json.myNewField = 1;\n}\n\nreturn $input.all();"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-1184,272],"id":"422a37a7-446b-436b-978a-f60578b279d2","name":"Code in JavaScript"}],"connections":{"Weekly Patch Cycle Trigger":{"main":[[{"node":"MCP: Launch Tenable Vulnerability Scan","type":"main","index":0}]]},"MCP: Launch Tenable Vulnerability Scan":{"main":[[{"node":"Wait for Scan Completion","type":"main","index":0}]]},"Wait for Scan Completion":{"main":[[{"node":"MCP: Fetch Vulnerability Results","type":"main","index":0}]]},"MCP: Fetch Vulnerability Results":{"main":[[{"node":"AI Agent: Risk Assessment & Prioritization","type":"main","index":0}]]},"AI Agent: Risk Assessment & Prioritization":{"main":[[{"node":"Critical Vulns Found?","type":"main","index":0}]]},"Critical Vulns Found?":{"main":[[{"node":"Slack: Emergency Alert to Security Team","type":"main","index":0}],[{"node":"Slack: Standard Patch Notification","type":"main","index":0}]]},"Slack: Emergency Alert to Security Team":{"main":[[{"node":"AI Agent: Generate RFC Document","type":"main","index":0}]]},"Slack: Standard Patch Notification":{"main":[[{"node":"AI Agent: Generate RFC Document","type":"main","index":0}]]},"Jira: Create Tracking Ticket":{"main":[[{"node":"MCP: Ansible - Apply Patches to Non-Prod","type":"main","index":0}]]},"MCP: Ansible - Apply Patches to Non-Prod":{"main":[[{"node":"Wait: Non-Prod Patch Run","type":"main","index":0}]]},"Wait: Non-Prod Patch Run":{"main":[[{"node":"MCP: Check Non-Prod Patch Status","type":"main","index":0}]]},"MCP: Check Non-Prod Patch Status":{"main":[[{"node":"Non-Prod Tests Passed?","type":"main","index":0}]]},"Non-Prod Tests Passed?":{"main":[[],[{"node":"Slack: Alert Non-Prod Failure","type":"main","index":0}]]},"Slack: CAB Review Request":{"main":[[{"node":"Wait: CAB Decision (24h / Webhook)","type":"main","index":0}]]},"CAB Approved?":{"main":[[{"node":"MCP: Veeam - Take Pre-Patch Snapshots","type":"main","index":0}],[{"node":"Slack: CAB Rejection Notice","type":"main","index":0}]]},"MCP: Veeam - Take Pre-Patch Snapshots":{"main":[[{"node":"Wait: Snapshot Completion","type":"main","index":0}]]},"Wait: Snapshot Completion":{"main":[[{"node":"Slack: Patching Started Notification","type":"main","index":0}]]},"Slack: Patching Started Notification":{"main":[[{"node":"MCP: PagerDuty - Open Maintenance Window","type":"main","index":0}]]},"MCP: PagerDuty - Open Maintenance Window":{"main":[[{"node":"MCP: Ansible - Apply Patches to Production","type":"main","index":0}]]},"MCP: Ansible - Apply Patches to Production":{"main":[[{"node":"Wait: Production Patching (30 min)","type":"main","index":0}]]},"Wait: Production Patching (30 min)":{"main":[[{"node":"MCP: Check Production Patch Status","type":"main","index":0}]]},"MCP: Check Production Patch Status":{"main":[[{"node":"MCP: Datadog - Check Service Health","type":"main","index":0},{"node":"Code in JavaScript","type":"main","index":0}]]},"MCP: Datadog - Check Service Health":{"main":[[{"node":"MCP: Tenable - Post-Patch Verification Scan","type":"main","index":0}]]},"MCP: Tenable - Post-Patch Verification Scan":{"main":[[{"node":"Wait: Verification Scan","type":"main","index":0}]]},"Wait: Verification Scan":{"main":[[{"node":"MCP: Fetch Verification Results","type":"main","index":0}]]},"MCP: Fetch Verification Results":{"main":[[{"node":"AI Agent: Post-Implementation Review","type":"main","index":0}]]},"AI Agent: Post-Implementation Review":{"main":[[{"node":"Patch Successful?","type":"main","index":0}]]},"Patch Successful?":{"main":[[{"node":"MCP: CMDB - Update CI Patch Records","type":"main","index":0}],[{"node":"Slack: Rollback Alert","type":"main","index":0}]]},"Slack: Rollback Alert":{"main":[[{"node":"MCP: Veeam - Execute Rollback","type":"main","index":0}]]},"Jira: Close Tracking Ticket":{"main":[[{"node":"MCP: PagerDuty - Close Maintenance Window","type":"main","index":0}]]},"MCP: PagerDuty - Close Maintenance Window":{"main":[[{"node":"Slack: Patch Cycle Complete","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate"},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"95099302-a286-4d0c-83f2-5c2abe518de3","activeVersionId":null,"versionCounter":4,"triggerCount":0,"sourceWorkflowId":null,"tags":[{"updatedAt":"2026-04-06T21:19:49.711Z","createdAt":"2026-04-06T21:19:49.711Z","id":"10IWJrD3DPkRJ8Gh","name":"Security"},{"updatedAt":"2026-04-06T21:19:49.711Z","createdAt":"2026-04-06T21:19:49.711Z","id":"S9QimQqocRZpkRBe","name":"Agentic"},{"updatedAt":"2026-04-06T21:19:49.708Z","createdAt":"2026-04-06T21:19:49.708Z","id":"s9pykJSbVI6t7gq9","name":"ITIL"},{"updatedAt":"2026-04-06T21:19:49.706Z","createdAt":"2026-04-06T21:19:49.706Z","id":"WXROCdDWRWDB9U7g","name":"Patching"}],"shared":[{"updatedAt":"2026-04-06T21:19:51.382Z","createdAt":"2026-04-06T21:19:51.382Z","role":"workflow:owner","workflowId":"m0m4mQ6cNz9g0BE9","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}