migration/n8n/workflows-separate/n3zXfCEVDcDfPxaB.json
{"updatedAt":"2026-01-09T21:05:50.365Z","createdAt":"2025-12-23T14:20:22.733Z","id":"n3zXfCEVDcDfPxaB","name":"DCIM-Alert-Ingestion-Router","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"httpMethod":"POST","path":"alert-ingestion","responseMode":"responseNode","options":{}},"id":"ee330961-e7fd-4289-bfa5-c4ba5dbf3dfb","name":"Webhook - Alert Ingestion","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[-944,208],"webhookId":"alert-ingestion"},{"parameters":{"jsCode":"const alert = $input.first().json;\n\nlet alertCategory = 'unknown';\nlet priority = 'medium';\nlet targetAgent = 'incident';\n\nif (alert.source === 'poweriq') {\n  if (alert.type && alert.type.includes('temperature')) {\n    alertCategory = 'thermal';\n    priority = alert.value > 35 ? 'critical' : 'high';\n    targetAgent = 'power';\n  } else if (alert.type && alert.type.includes('power')) {\n    alertCategory = 'power';\n    priority = alert.percentage > 90 ? 'critical' : 'high';\n    targetAgent = 'power';\n  } else if (alert.type && alert.type.includes('humidity')) {\n    alertCategory = 'environmental';\n    targetAgent = 'power';\n  } else {\n    alertCategory = 'infrastructure';\n    targetAgent = 'incident';\n  }\n} else if (alert.source === 'dctrack') {\n  if (alert.type && alert.type.includes('asset')) {\n    alertCategory = 'asset';\n    targetAgent = 'asset';\n  } else if (alert.type && alert.type.includes('capacity')) {\n    alertCategory = 'capacity';\n    targetAgent = 'capacity';\n  } else {\n    alertCategory = 'change';\n    targetAgent = 'incident';\n  }\n}\n\nconst correlationId = 'alert-' + Date.now() + '-' + Math.random().toString(36).substr(2, 9);\n\nreturn {\n  json: {\n    ...alert,\n    alertCategory,\n    priority,\n    targetAgent,\n    correlationId,\n    processedAt: new Date().toISOString(),\n    originalTimestamp: alert.timestamp || new Date().toISOString()\n  }\n};"},"id":"733bdb59-da52-4f3d-bced-1ad682264a81","name":"Parse and Classify Alert","type":"n8n-nodes-base.code","typeVersion":1,"position":[-720,208]},{"parameters":{"operation":"insert","collection":"alert_inbox","fields":"correlationId,source,type,alertCategory,priority,targetAgent,rawData,status,createdAt","options":{}},"id":"6a752302-87e4-447d-a577-38502b8e06f3","name":"Store in MongoDB","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[-496,208]},{"parameters":{"dataType":"string","value1":"={{$json.targetAgent}}","rules":{"rules":[{"value2":"power"},{"value2":"capacity"},{"value2":"asset"},{"value2":"incident"}]},"fallbackOutput":"extra"},"id":"89361442-bb34-45e1-834d-f17554c651b9","name":"Route by Target Agent","type":"n8n-nodes-base.switch","typeVersion":1,"position":[-256,208]},{"parameters":{"method":"POST","url":"={{$env.LANGSERVE_URL || 'http://langserve.iis-ai-ai.svc.cluster.local:8000'}}/power-agent/invoke","sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={{ JSON.stringify({ alert: $json, action: 'analyze' }) }}"}]},"options":{"timeout":60000}},"id":"67f839f6-3cbc-4d5f-a213-4b12c108b016","name":"Call Power Agent","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,0]},{"parameters":{"method":"POST","url":"={{$env.LANGSERVE_URL || 'http://langserve.iis-ai-ai.svc.cluster.local:8000'}}/capacity-agent/invoke","sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={{ JSON.stringify({ alert: $json, action: 'analyze' }) }}"}]},"options":{"timeout":60000}},"id":"92c8ac1d-a806-4231-8f38-e1f43c16086f","name":"Call Capacity Agent","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,160]},{"parameters":{"method":"POST","url":"={{$env.LANGSERVE_URL || 'http://langserve.iis-ai-ai.svc.cluster.local:8000'}}/asset-agent/invoke","sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={{ JSON.stringify({ alert: $json, action: 'analyze' }) }}"}]},"options":{"timeout":60000}},"id":"7845a138-df39-40c6-b47f-ad9c8efa3c4f","name":"Call Asset Agent","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,304]},{"parameters":{"method":"POST","url":"={{$env.LANGSERVE_URL || 'http://langserve.iis-ai-ai.svc.cluster.local:8000'}}/incident-agent/invoke","sendBody":true,"bodyParameters":{"parameters":[{"name":"input","value":"={{ JSON.stringify({ alert: $json, action: 'correlate_and_analyze' }) }}"}]},"options":{"timeout":60000}},"id":"90ea8428-e663-43da-a592-e0bc8065bb0f","name":"Call Incident Agent","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[0,464]},{"parameters":{"jsCode":"const items = $input.all();\nlet agentResponse = {};\nlet originalAlert = {};\n\ntry {\n  agentResponse = items[0].json || {};\n  const parseNode = $('Parse and Classify Alert');\n  if (parseNode && parseNode.first()) {\n    originalAlert = parseNode.first().json || {};\n  }\n} catch (e) {\n  agentResponse = items[0].json || {};\n}\n\nconst needsAction = agentResponse.output && (\n  agentResponse.output.severity === 'critical' ||\n  agentResponse.output.createTicket === true ||\n  (agentResponse.output.recommendations && agentResponse.output.recommendations.length > 0)\n);\n\nreturn {\n  json: {\n    correlationId: originalAlert.correlationId || 'unknown',\n    originalAlert: originalAlert,\n    agentAnalysis: agentResponse.output || agentResponse,\n    needsAction: needsAction || false,\n    processedAt: new Date().toISOString()\n  }\n};"},"id":"3a01bb50-f871-42a4-93fd-3c58f950257c","name":"Process Agent Response","type":"n8n-nodes-base.code","typeVersion":1,"position":[256,208]},{"parameters":{"conditions":{"boolean":[{"value1":"={{$json.needsAction}}","value2":true}]}},"id":"7b5ee37b-22d9-4dbc-b4a3-855ca81bde89","name":"Action Needed","type":"n8n-nodes-base.if","typeVersion":1,"position":[480,208]},{"parameters":{"method":"POST","url":"={{$env.SERVICENOW_INSTANCE || 'https://company.service-now.com'}}/api/now/table/incident","authentication":"genericCredentialType","genericAuthType":"httpBasicAuth","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"short_description\": \"[DCIM AI] {{ $json.originalAlert.alertCategory || 'Alert' }}: {{ $json.originalAlert.type || 'Infrastructure Issue' }}\",\n  \"description\": \"Alert Details:\\nSource: {{ $json.originalAlert.source || 'unknown' }}\\nDevice: {{ $json.originalAlert.deviceName || 'N/A' }}\\nLocation: {{ $json.originalAlert.location || 'N/A' }}\\nValue: {{ $json.originalAlert.value || 'N/A' }}\\n\\nCorrelation ID: {{ $json.correlationId }}\",\n  \"category\": \"infrastructure\",\n  \"subcategory\": \"data_center\",\n  \"urgency\": \"2\",\n  \"impact\": \"2\",\n  \"assignment_group\": \"DC Operations\"\n}","options":{}},"id":"95b115a8-3980-4749-acc5-cdc0305f1b37","name":"Create ServiceNow Incident","type":"n8n-nodes-base.httpRequest","typeVersion":3,"position":[752,112]},{"parameters":{"operation":"update","collection":"alert_inbox","options":{}},"id":"596d864c-2051-479f-91fd-752607d2661d","name":"Update Alert Status","type":"n8n-nodes-base.mongoDb","typeVersion":1,"position":[752,304]},{"parameters":{"respondWith":"json","responseBody":"={\n  \"success\": true,\n  \"correlationId\": \"{{ $json.correlationId }}\",\n  \"needsAction\": {{ $json.needsAction }},\n  \"message\": \"Alert processed successfully\"\n}","options":{}},"id":"9e5c6173-b07d-42bf-988f-f884d3d6cfa8","name":"Respond to Webhook","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[1008,208]}],"connections":{"Webhook - Alert Ingestion":{"main":[[{"node":"Parse and Classify Alert","type":"main","index":0}]]},"Parse and Classify Alert":{"main":[[{"node":"Store in MongoDB","type":"main","index":0}]]},"Store in MongoDB":{"main":[[{"node":"Route by Target Agent","type":"main","index":0}]]},"Route by Target Agent":{"main":[[{"node":"Call Power Agent","type":"main","index":0}],[{"node":"Call Capacity Agent","type":"main","index":0}],[{"node":"Call Asset Agent","type":"main","index":0}],[{"node":"Call Incident Agent","type":"main","index":0}]]},"Call Power Agent":{"main":[[{"node":"Process Agent Response","type":"main","index":0}]]},"Call Capacity Agent":{"main":[[{"node":"Process Agent Response","type":"main","index":0}]]},"Call Asset Agent":{"main":[[{"node":"Process Agent Response","type":"main","index":0}]]},"Call Incident Agent":{"main":[[{"node":"Process Agent Response","type":"main","index":0}]]},"Process Agent Response":{"main":[[{"node":"Action Needed","type":"main","index":0}]]},"Action Needed":{"main":[[{"node":"Create ServiceNow Incident","type":"main","index":0}],[{"node":"Update Alert Status","type":"main","index":0}]]},"Create ServiceNow Incident":{"main":[[{"node":"Update Alert Status","type":"main","index":0}]]},"Update Alert Status":{"main":[[{"node":"Respond to Webhook","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"0b5ad8ec-2d62-4959-b47d-8342b10aa3da","activeVersionId":null,"versionCounter":2,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2025-12-23T14:20:22.733Z","createdAt":"2025-12-23T14:20:22.733Z","role":"workflow:owner","workflowId":"n3zXfCEVDcDfPxaB","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}