migration/n8n/workflows-separate/oDuHprFdD9XxhtV2Iz7Ln.json
{"updatedAt":"2026-02-20T02:52:15.569Z","createdAt":"2026-02-20T02:33:14.596Z","id":"oDuHprFdD9XxhtV2Iz7Ln","name":"My workflow","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"content":"## 🔧 Setup Required\n\n**Step 1 — Google Drive Credential:**\n- Go to Credentials → Add → Google Drive OAuth2\n- Name it: `Google Drive Account`\n- Grant drive.readonly + drive.file scopes\n\n**Step 2 — Set Folder IDs:**\n- Open the **Google Drive Trigger** node\n  → Set `WATCH_FOLDER_ID` to your input folder\n- Open the **Save CSV to Output Folder** node\n  → Set `OUTPUT_FOLDER_ID` to your output folder\n\n**Step 3 — Anthropic Credential:**\n- Go to Credentials → Add → HTTP Header Auth\n- Name: `Anthropic API Key`\n- Header Name: `x-api-key`\n- Value: `sk-ant-api03-...`\n\n**Step 4 — Activate the workflow**\nThat's it! Drop any image into the watch folder and the CSV will appear in the output folder automatically.","height":380,"width":380},"id":"fd01c2b0-4e01-4651-8e13-783e387d4bd2","name":"Setup Instructions","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,-224]},{"parameters":{"content":"## 📂 Google Drive Flow\n\n**Input Folder** (Watch Folder)\n↓ New image uploaded\n↓ Downloaded as binary\n↓ Sent to Claude Vision\n↓ Equipment list generated\n↓ CSV built\n\n**Output Folder** (CSV Folder)\n← CSV file saved here automatically\n\nFilename format:\n`rack_inventory_[original-name]_[timestamp].csv`","height":280,"width":300},"id":"e51fc8f5-abf5-4cda-b7f1-493c31d63514","name":"Flow Description","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[432,-224]},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"newFile"},"id":"c7fd1203-2ff4-4b4c-8692-832917360749","name":"Watch Google Drive Folder","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[0,224]},{"parameters":{"jsCode":"const file = $input.first().json;\n\nconst fileId   = file.id   || file.fileId   || '';\nconst fileName = file.name || file.fileName || 'unknown.jpg';\nconst mimeType = file.mimeType || 'image/jpeg';\n\nconst allowed = ['image/jpeg','image/png','image/gif','image/webp','image/bmp','image/tiff'];\nif (!allowed.includes(mimeType)) {\n  throw new Error('Not an image — skipping: ' + fileName + ' (' + mimeType + ')');\n}\n\nconst baseName  = fileName.replace(/\\.[^/.]+$/, '');\nconst requestId = 'req_' + Date.now();\nconst ts        = new Date().toISOString().replace(/[:.]/g, '-').slice(0,19);\n\nreturn [{ json: {\n  file_id:    fileId,\n  file_name:  fileName,\n  base_name:  baseName,\n  mime_type:  mimeType,\n  request_id: requestId,\n  timestamp:  new Date().toISOString(),\n  csv_name:   'rack_inventory_' + baseName + '_' + ts + '.csv'\n}}];"},"id":"1380d62c-faba-4668-b657-a8182efc659a","name":"Extract File Info","type":"n8n-nodes-base.code","typeVersion":2,"position":[240,224]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.file_id }}","mode":"id"},"options":{}},"id":"6ea32559-c048-44b5-adbe-2ef4ff018f84","name":"Download Image from Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[480,224]},{"parameters":{"jsCode":"const downloaded  = $input.first();\nconst meta        = $('Extract File Info').first().json;\n\nlet base64Image = '';\nlet mediaType   = meta.mime_type || 'image/jpeg';\n\nconst binKeys = Object.keys(downloaded.binary || {});\nif (binKeys.length > 0) {\n  const key = binKeys[0];\n  base64Image = downloaded.binary[key].data;\n  mediaType   = downloaded.binary[key].mimeType || mediaType;\n}\n\nif (!base64Image) {\n  throw new Error('Binary data missing after download for: ' + meta.file_name);\n}\n\nreturn [{ json: {\n  ...meta,\n  base64_image: base64Image,\n  media_type:   mediaType\n}}];"},"id":"3608baa5-9a7d-43eb-bf55-3613c7485072","name":"Prepare Image for Claude","type":"n8n-nodes-base.code","typeVersion":2,"position":[720,224]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-opus-4-6\",\n  \"max_tokens\": 4096,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": [\n      {\n        \"type\": \"image\",\n        \"source\": {\n          \"type\": \"base64\",\n          \"media_type\": \"{{ $json.media_type }}\",\n          \"data\": \"{{ $json.base64_image }}\"\n        }\n      },\n      {\n        \"type\": \"text\",\n        \"text\": \"You are a data center hardware identification expert. Analyze this rack cabinet image and identify ALL equipment visible.\\n\\nReturn a JSON array ONLY — no markdown, no explanation, just raw JSON:\\n\\n[\\n  {\\n    \\\"position\\\": \\\"rack position or description\\\",\\n    \\\"equipment_type\\\": \\\"type of equipment\\\",\\n    \\\"brand\\\": \\\"manufacturer brand\\\",\\n    \\\"model\\\": \\\"model name/number (estimated if not fully visible)\\\",\\n    \\\"form_factor\\\": \\\"1U / 2U / 4U etc\\\",\\n    \\\"specifications\\\": \\\"key specs: CPU, RAM, storage, etc.\\\",\\n    \\\"ports_interfaces\\\": \\\"network ports, management interfaces\\\",\\n    \\\"max_ram\\\": \\\"maximum RAM capacity\\\",\\n    \\\"storage_options\\\": \\\"storage bay configuration\\\",\\n    \\\"estimated_year\\\": \\\"approximate manufacture year/era\\\",\\n    \\\"confidence\\\": \\\"high / medium / low\\\",\\n    \\\"notes\\\": \\\"any additional observations\\\"\\n  }\\n]\\n\\nInclude every item: servers, switches, patch panels, KVMs, UPS, cable managers, blanking panels, etc.\"\n      }\n    ]\n  }]\n}","options":{}},"id":"ba23e446-b22c-4ff3-acad-b95cea02fe12","name":"Claude Vision Analysis","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[960,224]},{"parameters":{"jsCode":"const response  = $input.first().json;\nconst rawText   = response.content?.[0]?.text || '';\nconst meta      = $('Extract File Info').first().json;\n\nlet equipment = [];\ntry {\n  const cleaned = rawText.replace(/```json\\s*/g, '').replace(/```\\s*/g, '').trim();\n  equipment = JSON.parse(cleaned);\n} catch (e) {\n  const m = rawText.match(/(\\[[\\s\\S]*\\])/);\n  if (m) {\n    try { equipment = JSON.parse(m[1]); }\n    catch (e2) { throw new Error('Cannot parse Claude JSON: ' + rawText.slice(0,300)); }\n  } else {\n    throw new Error('No JSON array found in Claude response: ' + rawText.slice(0,300));\n  }\n}\n\nreturn [{ json: {\n  ...meta,\n  equipment_list: equipment,\n  total_items:    equipment.length,\n  parsed_at:      new Date().toISOString()\n}}];"},"id":"f9f478e5-3ba9-4b20-9d4f-711ccc080da5","name":"Parse Equipment List","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,224]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"model\": \"claude-opus-4-6\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"Summarize this rack equipment list as a JSON object ONLY (no markdown):\\n\\n{{ JSON.stringify($json.equipment_list) }}\\n\\nReturn exactly:\\n{\\n  \\\"total_units\\\": <number>,\\n  \\\"primary_vendor\\\": \\\"<brand>\\\",\\n  \\\"server_count\\\": <number>,\\n  \\\"networking_count\\\": <number>,\\n  \\\"storage_count\\\": <number>,\\n  \\\"other_count\\\": <number>,\\n  \\\"estimated_compute_cores\\\": \\\"<range>\\\",\\n  \\\"estimated_max_ram_tb\\\": \\\"<range>\\\",\\n  \\\"estimated_rack_age\\\": \\\"<era>\\\",\\n  \\\"overall_confidence\\\": \\\"high/medium/low\\\",\\n  \\\"key_observations\\\": [\\\"<obs1>\\\", \\\"<obs2>\\\"]\\\n}\"\n  }]\n}","options":{}},"id":"4046ca01-1a52-47bb-877f-7316f8fe6208","name":"Claude Generate Summary","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[1440,224]},{"parameters":{"jsCode":"const summaryRaw = $input.first().json;\nconst summaryText = summaryRaw.content?.[0]?.text || '{}';\nconst prevData = $('Parse Equipment List').first().json;\n\nlet summary = {};\ntry {\n  const cleaned = summaryText.replace(/```json\\s*/g,'').replace(/```\\s*/g,'').trim();\n  summary = JSON.parse(cleaned);\n} catch (e) {\n  summary = { parse_error: summaryText.slice(0,200) };\n}\n\nreturn [{ json: { ...prevData, summary } }];"},"id":"d6366c1c-bc4d-4da2-a218-b64e5aa64296","name":"Merge Data","type":"n8n-nodes-base.code","typeVersion":2,"position":[1680,224]},{"parameters":{"jsCode":"const data      = $input.first().json;\nconst equipment = data.equipment_list || [];\nconst summary   = data.summary || {};\n\nconst esc = v => {\n  const s = String(v ?? '');\n  return (s.includes(',') || s.includes('\"') || s.includes('\\n'))\n    ? '\"' + s.replace(/\"/g,'\"\"') + '\"'\n    : s;\n};\n\nconst headers = [\n  'Position','Equipment Type','Brand','Model','Form Factor',\n  'Specifications','Ports / Interfaces','Max RAM',\n  'Storage Options','Est. Year','Confidence','Notes'\n];\n\nconst dataRows = equipment.map(i => [\n  esc(i.position), esc(i.equipment_type), esc(i.brand),\n  esc(i.model),    esc(i.form_factor),    esc(i.specifications),\n  esc(i.ports_interfaces), esc(i.max_ram), esc(i.storage_options),\n  esc(i.estimated_year),   esc(i.confidence), esc(i.notes)\n].join(','));\n\nconst summaryBlock = [\n  '',\n  '=== RACK SUMMARY ===',\n  'Total Units,'          + esc(summary.total_units      ?? equipment.length),\n  'Primary Vendor,'       + esc(summary.primary_vendor   ?? 'N/A'),\n  'Servers,'              + esc(summary.server_count     ?? 'N/A'),\n  'Networking Devices,'   + esc(summary.networking_count ?? 'N/A'),\n  'Storage Devices,'      + esc(summary.storage_count    ?? 'N/A'),\n  'Est. CPU Cores,'       + esc(summary.estimated_compute_cores ?? 'N/A'),\n  'Est. Max RAM,'         + esc(summary.estimated_max_ram_tb    ?? 'N/A'),\n  'Rack Age Era,'         + esc(summary.estimated_rack_age      ?? 'N/A'),\n  'Confidence,'           + esc(summary.overall_confidence      ?? 'N/A'),\n  'Key Observations,'     + esc((summary.key_observations || []).join(' | ')),\n  '',\n  'Source File,'          + esc(data.file_name),\n  'Processed At,'         + esc(data.parsed_at),\n  'Request ID,'           + esc(data.request_id)\n];\n\nconst csv = [ headers.join(','), ...dataRows, ...summaryBlock ].join('\\n');\n\nreturn [{\n  json: { ...data, csv_content: csv },\n  binary: {\n    csvFile: {\n      data:     Buffer.from(csv).toString('base64'),\n      mimeType: 'text/csv',\n      fileName: data.csv_name\n    }\n  }\n}];"},"id":"386ecbfa-02f1-4885-80b4-d5bd7a0c3ec5","name":"Build CSV File","type":"n8n-nodes-base.code","typeVersion":2,"position":[1920,224]},{"parameters":{"name":"={{ $json.csv_name }}","driveId":{"__rl":true,"value":"My Drive","mode":"list"},"folderId":{"__rl":true,"value":"OUTPUT_FOLDER_ID","mode":"id"},"options":{}},"id":"c73b5a5d-5adc-42b4-a67c-4c1807ea6e20","name":"Save CSV to Output Folder","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2160,224]},{"parameters":{"jsCode":"const upload   = $input.first().json;\nconst data     = $('Build CSV File').first().json;\n\nconsole.log('✅ Done | File: ' + data.file_name + ' | Items: ' + data.total_items + ' | CSV: ' + data.csv_name);\n\nreturn [{ json: {\n  success:          true,\n  source_file:      data.file_name,\n  request_id:       data.request_id,\n  equipment_found:  data.total_items,\n  csv_saved_as:     data.csv_name,\n  drive_file_id:    upload.id || 'uploaded',\n  output_folder:    'OUTPUT_FOLDER_ID',\n  completed_at:     new Date().toISOString()\n}}];"},"id":"562eff80-d9c2-41a8-94d5-25328c6b7ef2","name":"Done","type":"n8n-nodes-base.code","typeVersion":2,"position":[2400,224]}],"connections":{"Watch Google Drive Folder":{"main":[[{"node":"Extract File Info","type":"main","index":0}]]},"Extract File Info":{"main":[[{"node":"Download Image from Drive","type":"main","index":0}]]},"Download Image from Drive":{"main":[[{"node":"Prepare Image for Claude","type":"main","index":0}]]},"Prepare Image for Claude":{"main":[[{"node":"Claude Vision Analysis","type":"main","index":0}]]},"Claude Vision Analysis":{"main":[[{"node":"Parse Equipment List","type":"main","index":0}]]},"Parse Equipment List":{"main":[[{"node":"Claude Generate Summary","type":"main","index":0}]]},"Claude Generate Summary":{"main":[[{"node":"Merge Data","type":"main","index":0}]]},"Merge Data":{"main":[[{"node":"Build CSV File","type":"main","index":0}]]},"Build CSV File":{"main":[[{"node":"Save CSV to Output Folder","type":"main","index":0}]]},"Save CSV to Output Folder":{"main":[[{"node":"Done","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":null,"nodeGroups":[],"pinData":{},"versionId":"c912ad2e-212d-46fe-8b51-29e75e5ff482","activeVersionId":null,"versionCounter":3,"triggerCount":0,"sourceWorkflowId":null,"tags":[],"shared":[{"updatedAt":"2026-02-20T02:33:14.596Z","createdAt":"2026-02-20T02:33:14.596Z","role":"workflow:owner","workflowId":"oDuHprFdD9XxhtV2Iz7Ln","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}