migration/n8n/workflows-separate/QTjGgVIJQhBWH84Y.json
{"updatedAt":"2025-12-24T00:15:25.847Z","createdAt":"2025-12-24T00:15:02.398Z","id":"QTjGgVIJQhBWH84Y","name":"SFM PDF to Excel Converter","description":null,"active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"={{ $json.inputFolderId }}","mode":"id"},"event":"fileCreated","options":{}},"id":"f3fb4a1e-c791-459f-b8c9-1e0a40b9c091","name":"Watch PDF Uploads","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[1840,-48],"notes":"Monitors the input folder for new PDF files. Configure the folder ID in credentials."},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"condition-pdf-check","leftValue":"={{ $json.mimeType }}","rightValue":"application/pdf","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"id":"c75b3801-7d41-4c39-9af5-13b9ace7bfec","name":"Filter PDF Files Only","type":"n8n-nodes-base.filter","typeVersion":2,"position":[2064,-48],"notes":"Ensures only PDF files are processed"},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"options":{"fileName":"={{ $json.name }}"}},"id":"058cc11b-e3b5-44b5-b42f-6b4c4b0d4059","name":"Download PDF from Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[2272,-48],"notes":"Downloads the PDF file for processing"},{"parameters":{"operation":"toFile"},"id":"5e596a66-33ee-4081-aafe-fb17827633ac","name":"Save PDF to Temp","type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[2496,-48],"notes":"Saves PDF to temporary location for Python processing"},{"parameters":{},"id":"8504e893-4b04-4251-8193-23a8af549de5","name":"Convert PDF to Excel","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[2720,-48],"notes":"Executes Python script to convert PDF to Excel format"},{"parameters":{"operation":"fromFile"},"id":"56ad2e78-bb45-4238-9bad-a9b857ddff03","name":"Read Excel File","type":"n8n-nodes-base.readWriteFile","typeVersion":1,"position":[2944,-48],"notes":"Reads the generated Excel file for upload"},{"parameters":{"name":"={{ $('Download PDF from Drive').item.json.name.replace('.PDF', '.xlsx').replace('.pdf', '.xlsx') }}","driveId":{"__rl":true,"mode":"list","value":"My Drive"},"folderId":{"__rl":true,"value":"={{ $json.outputFolderId }}","mode":"id"},"options":{}},"id":"4ab33ae3-0159-47d3-aeb0-b6ff644adef4","name":"Upload Excel to Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[3152,-48],"notes":"Uploads the converted Excel file to the output folder"},{"parameters":{},"id":"d685a8b6-b39e-40b8-9d22-1f421f1c1d03","name":"Cleanup Temp Files","type":"n8n-nodes-base.executeCommand","typeVersion":1,"position":[3376,-48],"notes":"Removes temporary files after successful upload"},{"parameters":{"options":{}},"id":"787bcf2a-f1c1-4324-8925-80b82b1d2a2c","name":"Set Success Output","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[3600,-48],"notes":"Formats the success response"},{"parameters":{"errorMessage":"=PDF to Excel conversion failed: {{ $json.stderr || $json.message || 'Unknown error' }}"},"id":"1a012a5f-6b1f-44bc-ac4a-b8b6f62d853d","name":"Handle Errors","type":"n8n-nodes-base.stopAndError","typeVersion":1,"position":[2944,160],"notes":"Handles any errors during processing"},{"parameters":{"options":{}},"id":"0cb74783-1b4b-4ad6-9b69-cd2b2242e42f","name":"Configuration","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[1632,-48],"notes":"Configure your Google Drive folder IDs here"}],"connections":{"Watch PDF Uploads":{"main":[[{"node":"Filter PDF Files Only","type":"main","index":0}]]},"Filter PDF Files Only":{"main":[[{"node":"Download PDF from Drive","type":"main","index":0}]]},"Download PDF from Drive":{"main":[[{"node":"Save PDF to Temp","type":"main","index":0}]]},"Read Excel File":{"main":[[{"node":"Upload Excel to Drive","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"nodeGroups":[],"pinData":{},"versionId":"c94914de-5428-4993-bff6-9780b21e8135","activeVersionId":null,"versionCounter":2,"triggerCount":0,"sourceWorkflowId":null,"tags":[{"updatedAt":"2025-12-24T00:14:09.109Z","createdAt":"2025-12-24T00:14:09.109Z","id":"Lvc08cVi0PTjNPUT","name":"Google Drive"},{"updatedAt":"2025-12-24T00:14:09.101Z","createdAt":"2025-12-24T00:14:09.101Z","id":"Q2TVUeTjkLQYelza","name":"Automation"},{"updatedAt":"2025-12-24T00:14:09.069Z","createdAt":"2025-12-24T00:14:09.069Z","id":"0B7EYj8PS3zyut1l","name":"PDF Processing"}],"shared":[{"updatedAt":"2025-12-24T00:15:02.398Z","createdAt":"2025-12-24T00:15:02.398Z","role":"workflow:owner","workflowId":"QTjGgVIJQhBWH84Y","projectId":"PKb74T1Tu67085Oh","project":{"updatedAt":"2025-12-22T03:48:32.012Z","createdAt":"2025-12-22T03:21:08.674Z","id":"PKb74T1Tu67085Oh","name":"Sanjeev Kumar <skumar@iisl.com>","type":"personal","icon":null,"description":null,"customTelemetryTags":[],"creatorId":"4701659b-aa85-41ef-90bb-46d6e2b930b0"}}],"versionMetadata":{"name":null,"description":null}}